[2020-12-16 14:00] MostafaGomaa93 opened #1030 "flopy version 3.3.2 raise a problem to open a previous flopy MODFLOW 6 model"
I was building 5 months ago a MODLFOW 6 model with Flopy and it was running, Now I update the Flopy to the latest version (3.3.2) and the model was not able to run, raising up the following SFR package problem

ERROR REPORT:

  1. Programming error in memory manager. Variable 'IMOVER' in
     'STEADY_STATE/SFR' cannot be assigned because it does not exist in
     memory manager.

I am also not abl

[2020-12-18 00:45] jlarsen-usgs commented on #1030
@MostafaGomaa93, to install an older version of flopy (ex. 3.3.1).
[code]
I hope this helps until this error is resolved.

[2020-12-18 10:53] MostafaGomaa93 commented on #1030
@jlarsen-usgs yes, it works
Many thanks

[2020-12-18 10:53] #1030 closed

[2020-12-18 12:35] langevin-usgs commented on #1030
@MostafaGomaa93, it would be good to know why the new version doesn't work for you.  We've made changes to both flopy and mf6.  If you are using new versions of both, then it should work.  If you figure out what's different, please let us know.  It sounds like something simple.

[2020-12-28 03:37] wsc1008-cugb opened #1031 "The application of Moadpath6 in flopy.plot.PlotCrossSection"
When I use "plot_pathline" to plot the CrossSection result, which from 0 layer to bottom, there was an AttributeError: 'PlotCrossSection' object has no attribute 'plot_pathline', how to solve this problem and make it success to plot. Thanks.

[2021-01-02 16:52] MostafaGomaa93 opened #1032 "Does PEST (implemented in FloPy) work with MODFLOW 6 !"
If not, when it is expected that FloPy will be adapted to include PEST for MODFLOW 6?

[2021-01-02 17:46] jtwhite79 commented on #1032
Not sure about this - I think the org PEST stuff that is in flopy now was a @mnfienen-usgs contribution.  I personally have moved all of my pest world stuff to [pyemu](https://github.com/pypest/pyemu) so that we can keep playing nice. pyemu has routines to write tpl and ins files for generic csv and array files and then make a control file from them (there are also higher-level automated routines

[2021-01-02 19:24] MostafaGomaa93 commented on #1032
@jtwhite79: what I understand is that pyemu works with dis, so not adapted to disv, Right?

[2021-01-02 20:59] jtwhite79 commented on #1032
The lower level routines in pyemu for building template files instructions and then pest control files are generic - you have tell these routines how and what to make parameters and observations.   But if you wanna take advantage of the automatic setup stuff (like getting a geostatistical prior ensemble) then you are right, the modflow 5 stuff is geared for dis.  But the newer PstFrom functionalit

[2021-01-12 20:11] mkennard-aquaveo opened #1035 "Intersecting lines with GridIntersect returns vertices as separate numpy x, y arrays if grid is offset"
- flopy version 3.3.3

In t065_test_gridintersect.py, test_rect_grid_linestring_in_and_out_of_cell can be modified to show the resulting vertices, which all works fine:

    def test_rect_grid_linestring_in_and_out_of_cell():
        # avoid test fail when shapely not available
        try:
            import shapely
        except:
            return
        gr = get_rect_grid()
        ix = Grid

[2021-01-12 20:36] rubencalje opened #1036 "flow-ja-face observation in modflow 6 GWF Model"
For a large Modflow 6 model I am unable to save all budgets (flow-ja-face), because of the large size my budget file would take. I am interested in the vertical flow from the first layer though, and I am unable to choose specific layers for budget output in modflow 6 (right?).

Therefore I would like to use the Observation (OBS) Utility for a GWF Model (page 39 in https://water.usgs.gov/ogw/modflo

[2021-01-12 20:41] langevin-usgs commented on #1036
You need to create an obs input file.  Here is an example for a transport model, but the same concept should work for GWF.  Will this work?

[code]

[2021-01-12 20:56] rubencalje commented on #1036
Wow, that is fast. That was exactly I what I was looking for, thank you!

[2021-01-12 20:56] #1036 closed

[2021-01-13 09:50] dbrakenhoff commented on #1035
Thanks for submitting this issue. I think you're right, in this case it should be:

[code]
It also works (the vertices are returned correctly) when `keepzerolengths=True`, and the linestring ends on the boundary between two grid cells. So I'll submit the change.

It might be a good idea to take a look at that bit of code that handles tranforming and rotating the results. It is repeated several pla

[2021-01-13 16:54] #1035 closed

[2021-01-13 18:24] ifariasg opened #1038 "Loading modflow 6 model, utl_struct_objs?"
I'm trying to load an already existing modflow 6 model using flopy.

So far I understand I need :
- mf6.modflow.MFSimulation
- mf6.data.mfstructure.MFModelStructure

then use those objects with the "mf6.MFModel.load_base" method. My problem right now is with the "MFModelStructure" which requires the "utl_struct_objs" argument. I've tried searching for any reference or example structure but I seem

[2021-01-14 08:31] dbrakenhoff commented on #1038
Have you checked out the [notebook here](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_mf6_tutorial.ipynb)? If you scroll down a bit it has code on how to load MF6 models. Maybe that's what you're looking for?

[2021-01-15 22:35] ifariasg commented on #1038
This worked, thanks. I apologize also as this question should have been made through stackoverflow.
Closing.

[2021-01-15 22:35] #1038 closed

[2021-01-15 23:52] Veethahavya opened #1039 "Error writing disv file for an unstructured grid (cells with variable, 3-5, vertices)"
Greetings!

I am trying to create a MF6 unstructured grid with cells having vertices anywhere between 3-5 vertices from an unstructured netCDF UGRID file. I have prepared the **vertices** and **cell2d** as instructed in the documentation.

However, I have received an error as seen below:

Looking a bit into the error, I see a strange conditional statement that has same operations for both cases. A

[2021-01-16 00:06] langevin-usgs commented on #1039
The following is an example of valid cell2d and vertices arguments.  Can you confirm that yours have a similar form?

[code]

[2021-01-16 00:19] Veethahavya commented on #1039
Hi Langevin,
Thank you very much for the swift and helpful reply!
My code had rather generated cell2d in the format - ...[0, 16.666666666666668, 13.333333333333334, _[3, 4, 2, 7]_]...
the issue is solved, cheers!

[2021-01-16 00:19] #1039 closed

[2021-01-16 22:23] #1032 closed

[2021-01-19 11:45] phaehnel opened #1040 "Non-zero based column output from mfdis.get_lrc()"
Hi there,

during my current work with flopy 3.3.2 I ran into the problem that the mfdis.get_lrc() method does return layer and row information with zero base (for first layer and row of the model) but the output for columns starts with 1.
Could that be caused by line 577 in the mfdis.py script:
 line 577: v.append((k - 1, i - 1, j))
causing j to be handed back in line 578 instead of j-1?

Greetin

[2021-01-25 22:37] MaxRamgraber opened #1042 "MF6/FloPy does not store specific discharge in the cell budget file (DISV)"
I am currently working on a project in which I attempt to extract specific discharge vectors for each cells in a hexagonal DISV grid. Towards this end, I have set the 'save_specific_discharge' flag in the NPF module to True. Unfortunately, it does not seem like my code is storing any specific discharge vectors in the cell budget file, irrespective of whether I set the flag to True or False. You ca

[2021-01-25 22:53] langevin-usgs commented on #1042
How about this?  Note that we are filling arrays of size nodes here in case idomain is used to remove cells (in which case they won't have entries in spdis).

[code]

[2021-01-26 00:01] MaxRamgraber commented on #1042
Wow, that was a quick response! Thank you very much for your help! After experimenting a bit with your suggestion, it appears the problem was not adding `precision='double'` to the `CellBudgetFile`. This had me stumped for a moment, because this wasn't necessary for the `HeadFile`.

After checking the ´flopy.utils.CellBudgetFile´ and ´flopy.utils.HeadFile´ functions for what might have caused this

[2021-01-26 14:52] #1042 closed

[2021-01-27 12:26] dbrakenhoff opened #1043 "mf6: ModflowGwtic string representation displays layer 1 data for all layers"
A student working with flopy/modflow6 reported this issue to me. The string representation of the `ModflowGwtic` package shows the data for layer 1 for all layers. Not sure if this is also true for other packages. See the example below.

[code]
The output is:

[code]

[2021-01-29 15:06] spaulins-usgs commented on #1043
@dbrakenhoff This should be fixed with the PR I just committed.  Please download the latest flopy from the develop branch.

[2021-01-30 23:36] langevin-usgs commented on #1040
Yes, this is a problem, as also indicated here: https://github.com/modflowpy/flopy/commit/52ecd98a11fc4f459c9bd0b59cb854ff402eeb08#commitcomment-46556384.  Will try to get this fixed for next release.

[2021-02-03 16:31] RyanConway91 opened #1047 "error with flopy.mf6.utils.reference.StructuredSpatialReference.from_gridspec()"
when I call:
flopy.mf6.utils.reference.StructuredSpatialReference.from_gridspec()
I get errors. The errors can be fixed by:
1. commenting out line 190 - #lines = f.readlines()
2. change line from delr.append(int(r)) to delr.append(float(r))
3. change line from delc.append(int(r)) to delc.append(float(r))

[2021-02-03 18:23] andyrich opened #1048 "allow get_reduced_pumping in mflistfile to be used outside of list file"
the wel package can optionally have reduced wells written to external file. the mflistfile get_reduced_pumping should allow for this. this fix can be achieved by removing the assert line in that file:

`            assert open(self.f.name).read().find(sCheck) > 0,\
                'Pumping reductions not written to list file. ' +\
                'Try removing "noprint" keyword from well file.'`

[2021-02-03 21:24] oscarfasanchez commented on #1016
I have a really complex polygon :/
so...what should I do? :(

[2021-02-03 21:53] langevin-usgs commented on #1016
@oscarfasanchez, please make the simplest example that shows what is not working and paste the example here, and we can take a look.

[2021-02-04 09:40] Veethahavya commented on #345
Hi @jtwhite79, could you please tell me how to do this? I tried both setting the kwarg "verbosity_level" and "verbose" to 0 and "quiet" during model initialization. But the warning is still printed.
I don't know if I am doing it wrong.

Thanks in advance

[2021-02-04 09:41] Veethahavya commented on #345
@spaulins-usgs could you please tell me where I need to set this option?

[2021-02-04 09:43] Veethahavya commented on #345
@jtwhite79 could you please tell me how I can do this? Tried setting the kwarg "verbosity_level" and "verbose" flags to 0 and "quiet". Neither worked.

[2021-02-04 16:27] spaulins-usgs commented on #345
I will add a VerbosityLevel example to our Notebooks.  For now you can see its use in one of our autotests.  Click on the link below and search for "verbosity_level".

[https://github.com/modflowpy/flopy/blob/develop/autotest/t504_test.py](https://github.com/modflowpy/flopy/blob/develop/autotest/t504_test.py)

[2021-02-04 20:33] langevin-usgs commented on #1040
This should be fixed with #1049

[2021-02-04 20:33] #1040 closed

[2021-02-04 20:34] langevin-usgs commented on #806
This was revised again with #1049.  Should hopefully be fixed now.

[2021-02-05 06:56] wkitlasten opened #1050 "flopy.utils.PathlineFile() error... ***** in .mppth file"
I am trying to run the example notebook "flopy3_modpath7_create_simulation.ipynb" from the examples folder. I am getting the following error:

[code]

The '***********' in the mppth file is associated with a single particle (1238):

[code]

Is there a specific situation that causes ******** to be printed, like the particle leaving the domain perhaps? Any idea how to fix it (I just pulled from the

[2021-02-05 17:12] Veethahavya commented on #345
thanks to both of you!

[2021-02-06 01:52] langevin-usgs commented on #1050
Hi @wkitlasten, I just ran this notebook on Windows and didn't have any problems.  The one thing I noticed is that my version of mp7 is the same as yours, but mine was compiled more recently.

[code]

I suggest you download a fresh batch of executables from here: https://github.com/MODFLOW-USGS/executables
I think if you do that, you should be good to go.  If that doesn't fix it, go ahead and reop

[2021-02-06 01:52] #1050 closed

[2021-02-06 02:04] #1043 closed

[2021-02-07 00:18] wkitlasten commented on #1050
Thanks Chris. FWIW, the version I had that wasn't working was from: https://water.usgs.gov/water-resources/software/MODPATH/

[2021-02-10 17:57] jjstarn-usgs opened #1053 "Particle ID incorrectly incremented"
"**Particle ID**" can be either generated by MODPATH or specified by the user to maintain particle identities.  It is not subject to zero based correction by adding 1.  In modpath 7 and flopy 3.3.2, 1 is incorrectly added to the user specified particle IDs.  This breaks any link the user has with specific particles.  I'm not where it happens, but for a similar variable, **tracerparticleid**, one i

[2021-02-14 21:12] prashanth31 opened #1056 "Support for reading budget terms of MODFLOW 6 Transport simulation list file"
flopy.utils.mflistfile.Mf6ListBudget currently doesn't seem to have code to read in modflow 6 transport budgets from the list file. Can this code be added ?

[2021-02-14 21:53] langevin-usgs commented on #1056
Any chance this works?

[code]

[2021-02-15 01:14] #1056 closed

[2021-02-15 01:14] prashanth31 commented on #1056
Thanks! That was perfect.

[2021-02-15 02:48] mwtoews opened #1059 "HTTPError: 403 Client Error: rate limit exceeded for url"
This seemingly random error pops up from GitHub Actions with macos-latest. The known issue, https://github.com/actions/virtual-environments/issues/602 describes why this happens:

I'm not familiar with the GHA setup enough to know if the necessary actions support a repo-token to solve the issue, but thought I'd pass the info along to any takers.

[2021-02-17 23:09] jdhughes-usgs commented on #1059
This should be resolved by the latest pymake changes that limit use of the github API except in case of trying to get a specific tag (release tag).

[2021-02-17 23:12] jdhughes-usgs commented on #1053
@jjstarn-usgs seems like a perfect thing for you to address. Otherwise could you provide a minimal test case that can be used to fix the bug and added to the CI?

[2021-02-18 13:19] kendal30 opened #1062 "Error with MF6 EVT package minimum stress period data record entries"
I am using Flopy version 3.3.2, and encountered an error with the EVT package in MF6 not present in an earlier version, 3.2.12.

The error arose from the method `get_min_record_entries` requiring 6 entries in the EVT package. This appears to have come about because that method counts non-optional `period` type inputs, and two inputs (`pxdp` and `petm`) are non-optional, though have length given by

[2021-02-18 13:23] langevin-usgs commented on #1062
@spaulins-usgs, this looks like one for you.  Can you take a look?  Thanks.

[2021-02-18 14:44] #947 closed

[2021-02-18 14:46] jdhughes-usgs commented on #998
@jlarsen-usgs is this something you can take a look at?

[2021-02-18 15:05] jdhughes-usgs commented on #1028
@langevin-usgs @spaulins-usgs can this be closed?

[2021-02-18 15:06] jdhughes-usgs commented on #1010
@langevin-usgs can we close this?

[2021-02-18 15:35] langevin-usgs commented on #1010
We are not currently working to support these packages, but would be willing to accept contributions from our users (in the form of pull requests) if anyone wants to take this on.

[2021-02-18 15:35] #1010 closed

[2021-02-18 15:36] langevin-usgs commented on #1028
@spaulins-usgs, I believe you've started on this, or maybe even submitted a fix?

[2021-02-18 15:44] jjstarn-usgs commented on #1053
The codes changed so much I looked at it last.  I 'll take a stab at it and see if I can figure it out.

Jon Jeffrey Starn Ph.D.
Research hydrologist
USGS New England Water Science Center
101 Pitkin Street
East Hartford, CT 06108
________________________________
From: jdhughes-usgs <notifications@github.com>
Sent: Wednesday, February 17, 2021 6:12 PM
To: modflowpy/flopy <flopy@noreply.github.com>

[2021-02-18 15:59] langevin-usgs commented on #1029
I believe this is in response to #993.  Thanks @TroelsNV!

[2021-02-18 16:02] spaulins-usgs commented on #1028
@langevin-usgs We need to discuss the get_data method in the different data types to determine what the ideal behavior is for each data type.  I sent you a spreadsheet outlining the current behavior which we need to discuss.  I will resend and then let's set up a time to discuss.

[2021-02-18 17:07] jlarsen-usgs commented on #998
@jdhughes-usgs, @RyanConway91. I'll take a look at this today.

[2021-02-18 18:34] jlarsen-usgs commented on #998
@RyanConway91

I'm unable to re-create this issue. Upon investigating the code, the affine transformation is using the upper left corner coordinates (xul, yul) as it should. Here's my output from the freyberg model with xoffset=1234, yoffset=5678, and angrot=10. Both shapefiles (one from `modelgrid.write_shapefile` and one from `export.utils.export_array`) and the raster all overlay each other.

!

[2021-02-18 18:46] jlarsen-usgs commented on #1047
@RyanConway91

I'd reccomend using `flopy.discretization.StructuredGrid.from_gridspec()`. It is my understanding that the `SpatialReference` classes are deprecated and will eventually be removed from the code. @spaulins-usgs , is this correct?

[2021-02-18 22:34] spaulins-usgs commented on #1047
@jlarsen-usgs Correct

[2021-02-18 22:57] #1047 closed

[2021-02-20 00:49] spaulins-usgs commented on #1062
@kendal30 I just checked in a fix for this which is available on the develop branch.

[2021-03-03 01:01] wkitlasten opened #1068 "convert mf6 to modflow?"

[2021-03-03 01:21] #1068 closed

[2021-03-04 17:10] jlarsen-usgs commented on #998
closing issue due to inactivity.

[2021-03-04 17:10] #998 closed

[2021-03-05 18:27] khm293 opened #1070 "VTK export issue when reading into ParaView"
Hello, I am using Flopy version 3.3.4 and found an issue when trying to view exported .vtu files in ParaView. I consistently got this error: Cannot read cell data from Cells. Offsets and connectivity arrays must be the same type.

I fixed it on my end by changing line 808 in vtk.py to offsets = np.empty((iverts.shape[0]), **np.int64**)

There is probably a good reason to keep them as different dat

[2021-03-08 03:08] DataGeoranger opened #1072 "Potential bug when loading USG model"
Hey Team,

I tried to use the flopy.modflow.Modflow.load to load my existing robust USG model. It gave me error says " not enough values to unpack (expected 3, got 1)" and screenshot below. I further confirmed the error using USGS test example - folder '01B_nestedgrid_gnc'. Could you please help? Thanks!

Jack Wang

![image](https://user-images.githubusercontent.com/47303462/110269292-64058180-7f9

[2021-03-08 15:12] DataGeoranger commented on #1072
Just want to clarify, the USGS example I referred above is an USG model when I downloaded the USG program from USGS website. The version is mfusg1_5 and under the folder called "test". "..\mfusg1_5\test".

[2021-03-09 16:02] aleaf opened #1073 "External files for list-type data in MODFLOW-2005 models"
Hi, does anyone know how to specify an external file for the input of list-type data, for example, for the WEL Package? With the MODFLOW-6 part of Flopy, I can use the code below to write well package data to an external file and then supply that as input. This is convenient for working with the data outside of flopy (both in generating the initial version, and subsequently in parameter estimation

[2021-03-09 16:18] pjquant opened #1074 "Endpoint and Pathline files can be read (MODPATH 7 create simulation example )"
The example code crashes when tries to read endpoint and pathline files:

[code]
Erro message:
for pathlines:
`ValueError: could not convert string to float: '0.50000000E+00-806464328'`

for endpoint file:

`ValueError: invalid literal for int() with base 10: '0*****'`

I am using:

[code]
and:

[code]

[2021-03-10 12:45] NikolajGregersen opened #1075 "Output Control issue // cbc & hds"
Hi. Im having some issue with this notebook:

https://github.com/NikolajGregersen/Fensholt-Groundwater-Model/blob/85a6d521305a1118dc4122068b7c1171e4df3219/FensholtModel.ipynb

The issue is that when i dont incorporate "save_every=True" in the OC package (line 91), the .hds file (used in line 92) only contains heads from the steady state calculations. When i incorporate "save_every=True" in the OC

[2021-03-12 07:46] cnicol-gwlogic commented on #1072
I've been meaning to fix this. I'll have a crack if no-one else does.

[2021-03-12 13:16] langevin-usgs commented on #1072
Hey @cnicol-gwlogic, would be great if you could take a crack at this!  Thank you.  Feel free to ping me if you want to discuss.

[2021-03-12 13:19] langevin-usgs commented on #1072
After briefly looking at the error message, the problem appears to be in the checker.  I believe there is a simple way to turn off the checker during load (check=False).  This would be worth a shot, though I suspect there could be other issues.

[2021-03-13 08:36] cnicol-gwlogic commented on #1072
No worries @langevin-usgs - good point, check=False is the quick/easy work-around. I submitted a PR regardless, as I occasionally come across problems related to this. EVT/RCH loading still needs to be addressed for mfusg models, but this needs a bit of thought. Cheers.

[2021-03-13 11:23] rodrperezi commented on #1074
Hey,

which example specifically ? Also, could you take a look to your modpath output files ? It seems that flopy is trying to read the output but it finds those weird values within the files. This indicates that might be an issue related to your modpath simulation rather than flopy itself.

Regards

[2021-03-16 00:17] DataGeoranger commented on #1072
@langevin-usgs @cnicol-gwlogic Thank you both for the tips and help. set check = False works for me when I try it on USGS usg model example. For my USG model, I had to set Forgive = True as well and then it will load model successfully. I do have a CLN package, wonder if that's why?
If the model doesn't pass a checker, will that limit me using some of the flopy utils? Because I tried to use the wr

[2021-03-16 05:49] manupy-hub opened #1079 "well package unstructured MODFLOW-USG (node, rate)"
Hi all,
I was wondering if it is possible to add wells in an unstructured grid in MODFLOW-USG as (node, rate). I was checking the documentation and apparently I can only add wells as [layer, row, col, rate].

Is it not implemented or there is a different way to do it?

Thanks!

[2021-03-16 16:42] #1075 closed

[2021-03-17 22:31] dbrakenhoff opened #1080 "turning off mf6 stress package with auxiliary variable not working"
Not sure if this is an issue or if I might be missing something, but I'm having trouble turning off a stress package (GHB in this case).

The mf6 input/output manual states:

I tried doing that with flopy, but the following code creates a GHB package with a None entry in the period block for Period 6. This causes an error when MF6 encounters that None entry. My model is actually a variable density

[2021-03-18 00:19] spaulins-usgs commented on #1080
@dbrakenhoff  Confirm that this is a problem.  I have a fix though I am going to run a few more tests to verify that it fixes all cases before I submit a PR tomorrow morning.  If you want the fix now it is in the mfdatalist.py file on my fork here:

https://github.com/scottrp/flopy

[2021-03-19 12:14] #1080 closed

[2021-03-19 22:33] jlarsen-usgs commented on #1031
@wsc1008-cugb

This feature, along with `plot_endpoint` and `plot_timeseries` has been added in the most recent updates to flopy's plotting library.

[2021-03-19 22:33] #1031 closed

[2021-03-21 09:28] wsc1008-cugb opened #1084 "mp6 :Program Exception - stack overflow"
The program shows an error when I use an model with 700,000 nodes "forrtl: severe (170): Program Exception - stack overflow".Maybe the matrix is too big to compile, how to deal with this? Thank you.

FloPy is using the following  executable to run the model: .\mp6.EXE
Processing basic data ...
Checking head file ...
Checking budget file and building index ...
forrtl: severe (170): Program Exceptio

[2021-03-21 12:09] langevin-usgs commented on #1084
It would be helpful to have more information about the executable.  Where did it come from?  Did you download it from the USGS website?  You might try the version available here: https://github.com/MODFLOW-USGS/executables.  I believe this version was compiled with a setting that may help prevent the stack overflow.

[2021-03-22 02:09] wsc1008-cugb commented on #1084
Thank u very much, I have tried the new version but the stack overflow still exist. When I reduce the nodes to 100,000 the error disappear, so I think it has a limit inside the exe.

[2021-03-22 19:28] jlarsen-usgs opened #1086 "Update PlotCrossSection for Unstructured Grids"
Migrated discussion from Pull Request #1078. @javgs-bd

[2021-03-22 19:48] jlarsen-usgs commented on #1086
@javgs-bd

Thanks for giving unstructured PlotCrossSection plotting a test. There seem to be two seperate issues here.

1) The modelgrid is not being automatically generated for your MF-USG DISU based model. I'll need to check to see why it woudn't be built. However, if it did get built it would still be lacking coordinate information (vertices, iverts, xcenters, and ycenters), because this is not

[2021-03-22 19:56] langevin-usgs commented on #1086
Because mfusg doesn't have coordinate information, all of the plotting routines require the user to create a modelgrid object externally and assign it to the usg flopy object before any of the plotting routines will work.  See the mfusg gridgen example here: https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_gridgen.ipynb

[2021-03-22 20:08] javgs-bd commented on #1086
Thanks @jlarsen-usgs and @langevin-usgs. I'll try to send a minimal example, including the arrays for the ug object. Unfortunately it might take some days.

[2021-03-23 05:10] wkitlasten opened #1087 "chda option"
Is there an option for array based inputs for flopy.mf6 (e.g.ModflowGwfchda)? Seems handy for passing an array of lakes, etc.

[2021-03-23 13:37] langevin-usgs commented on #1087
Do we need this in flopy?  It can be done with just a couple of lines:

[code]

will give

[code]

[2021-03-23 19:13] wkitlasten commented on #1087
I am using something similar to what you suggest, but with my current model
(quick run version) I have 6000+ chd nodes representing the coastline and
lakes. I thought it might be handy to pass an array of masked elevations
from a DEM... but since gwf-lak doesn't use arrays anymore I will be
generating a bunch of lists for that too. No biggie.

Thanks.

On Wed, Mar 24, 2021 at 2:37 AM langevin-usgs

[2021-03-24 12:35] #1087 closed

[2021-03-30 00:00] jlarsen-usgs commented on #1086
@javgs-bd

Closing this issue with PR #1088

[2021-03-30 00:00] #1086 closed

[2021-03-30 11:36] javgs-bd commented on #1086
Many thanks @jlarsen-usgs, apologies for not getting back.

[2021-03-31 18:53] pinshuai opened #1090 "How to read non-binary head file?"
Hi, I was trying to load a modflow file (mf2k) using flopy `hds = flopy.utils.HeadFile(head_file, model=ml)`, but I got the following error:

[code]
I can open the .hds file in a text editor so I think it is a non-binary file.

Do you know any function within Flopy that can read a non-binary output?

[2021-04-01 16:01] spaulins-usgs commented on #1090
Try using FormattedHeadFile:

hds = flopy.utils.FormattedHeadFile(head_file)

I believe FormattedHeadFile was written for mf2005 output files, but it may work with mf2k files too.

[2021-04-02 16:57] pinshuai commented on #1090
I tried using `hds = flopy.utils.FormattedHeadFile(head_file)`, and it seemed successful. I can view the header using

[code]

However when I tried reading the data using `hds.get_data()`, I got the following error:

[code]

[2021-04-05 17:22] aleaf opened #1091 "How to specify empty period blocks in MF6 OC package"
Hi, I would like to end up with a block like this in the OC package file for MODFLOW-6 (as shown in the mf6 IO documentation):
[code]
I can't figure out the right flopy input to achieve this. I've tried the following (where ``saverecord`` is a dictionary of entries by stress period to the ``saverecord`` argument of ``flopy.mf6.ModflowGwfoc``:
[code]
The only other period specified is 0, which look

[2021-04-05 22:49] briochh opened #1092 "Very slow MF6 external file writing"
The MODFLOW simulation write step (or specifically, the `.set_all_data_external()` step) seems to be prohibitively slow, especially for models with a large number of rows and columns, or stress periods. e.g.:
[code]

1 sec write time for a single array quickly causes issues when the model contains many stress periods!

This seems to relate to the amount of time spent on overhead for file formattin

[2021-04-06 13:52] spaulins-usgs commented on #1090
MF2000 formatted file format must be a different format than MF2005.

@langevin-usgs Do we want to support MF2000 for reading heads out of a formatted file?

[2021-04-06 14:05] spaulins-usgs commented on #1092
Yes you can tell Flopy that you already have external data set up in a file by specifying the "filename" key and omitting the "data" key in a dictionary defining the data.  For example, the following points the top array to an existing "top.txt", but creates a botm array with constant values of 50.0.

    top = {"filename": "top.txt"}
    botm = {"filename": "botm.txt", "data": 50.0}
    dis_packa

[2021-04-06 15:39] langevin-usgs commented on #1090
I'm guessing that @pinshuai could adjust the CHEDFM value and/or experiment with the LABEL option and flopy would read the ascii heads.  The following is from the online guide to modflow-2000.  Hopefully this helps.

![image](https://user-images.githubusercontent.com/3372403/113737863-05ccdb00-96c4-11eb-8356-06f502d2cad6.png)

[2021-04-06 15:39] #1090 closed

[2021-04-06 19:43] spaulins-usgs commented on #1091
@aleaf Verified the problem.  I will get you a fix soon.

[2021-04-06 20:21] aleaf commented on #1091
Thanks @spaulins-usgs !

[2021-04-06 21:39] briochh commented on #1092
Thanks @spaulins-usgs, that might work for me.

What is the approach if we wanted to define pre-written layer-based files (e.g. for botm)?

Do we pass a dict with layer as keys (`botm={i: {"filename": f"botm_{i}.txt"} for i in range(nlay)}`) to the package constructor? or a list of filenames (`botm={"filename": [ f"botm_{i}.txt" for i in range(nlay)]}`)? Sorry if I am missing something in the Flop

[2021-04-06 22:13] briochh commented on #1092
Ok think I have got it... `botm=[{"filename": f"botm_{i}.txt"} for i in range(nlay)]`?

[2021-04-06 22:19] spaulins-usgs commented on #1092
Yes that will work.

[2021-04-08 04:54] briochh commented on #1092
Hi @spaulins-usgs, A continuation of this. I am using the above approach for the GWT sources stress period data.
E.g.
[code]
I have 735 stress periods, and am specifying a source in every surface cell -- so a fair bit to set up. However, the overheads in instantiating that object are pretty killer. Writing the stress period data to external files in the loop takes about 1 minute. But initialising

[2021-04-08 14:00] spaulins-usgs commented on #1092
I think it is reasonable to have an option for flopy to skip the data check for external data.  Try changing line 427 of mfdatalist.py from:

        if check_data:

to:

        if check_data and data_check is not None:

If that solves your problem I will add a simulation-level flag to turn off data checking, possibly one flag for just external data and one flag for all data.

[2021-04-08 21:33] spaulins-usgs commented on #1091
@aleaf Please try the latest flopy code.  I have merged in a fix that allows you to do create an empty block by assigning it an empty list.  In the example below the "1: []" is setting the second stress period as an empty block.

    oc_package = ModflowGwfoc(
        model,
        budget_filerecord=[("np001_mod.cbc",)],
        head_filerecord=[("np001_mod.hds",)],
        saverecord={0: [("HEAD

[2021-04-09 04:45] briochh commented on #1092
@spaulins-usgs, appreciate your help on this. It seems like I can cheat my way to efficiency by switching check_data off (through whichever hack works) and setting `sim.simulation_data.auto_set_sizes = False` on my parent simulation object.

I have put together a toy model and script [here](https://github.com/modflowpy/flopy/files/6283154/flopyspeed.zip) that can be used to explore the scalability

[2021-04-09 14:47] scottrp commented on #1092
@briochh Your code that adds support for a file-by-file check looks good.  Your code to minimize the number of modelgrids constructed will work, but I am going to implement my own solution for that.  I plan to implement a "_get_modelgrid" method which supports modelgrid caching in certain cases.  That way the code will be reusable in case other methods need to be optimized in the same way.  I will

[2021-04-09 14:48] spaulins-usgs commented on #1092
@briochh Your code that adds support for a file-by-file check looks good. Your code to minimize the number of modelgrids constructed will work, but I am going to implement my own solution for that. I plan to implement a "_get_modelgrid" method which supports modelgrid caching in certain cases. That way the code will be reusable in case other methods need to be optimized in the same way. I will try

[2021-04-09 17:35] spaulins-usgs commented on #1092
Regarding _update_size_defs, turning that off with simulation_data.auto_set_sizes = False is fine.  _update_size_defs is just a convenience method that adjusts MODFLOW size variables to agree with the size of the arrays they are referring to.  For example, if you added wells to your WEL stress period data but didn't update MAXBOUND to reflect the new wells, _update_size_defs would automatically up

[2021-04-09 20:44] pinshuai commented on #1090
Unfortunately I am reading an archived modflow 2000 model output files, so I cannot rerun the model using the different head save format options.

If the head is in an ASCII file format, it should be easy for flopy to read, right? The header looks like something below:

[code]
It's just a 600x600x504 matrix. I can provide the .hds file if you want to take a look.

[2021-04-09 21:42] langevin-usgs commented on #1090
It might be easier for you to just use some regular old python line reading and parsing in order to read that head file.  It shouldn't be too hard to do.  Here is a simple function in flopy that you might be able to adapt for your needs.  Good luck!

[code]

[2021-04-09 21:56] pinshuai commented on #1090
@langevin-usgs thanks for your quick reply. The head file turned out to be the culprit. As I was trying to read the file using pd.read_csv(), I found there was a bad data point `456.11-1653.21` (note the hyphen in between) in the file that was causing the issue. After I fixed that one data, flopy is now able to read the entire head file. I guess I should blame the person who have prepared the data

[2021-04-09 22:28] spaulins-usgs commented on #1092
@briochh A fork with performance improvement changes including the ones you have suggested can be found here:

https://github.com/scottrp/flopy

I am still working to further optimize the code and will merge all my changes next week.

I modified how sim.simulation_data.verify_data works, when set to false it now disables all data verification checks for the entire simulation.  For maximum performa

[2021-04-11 17:44] nikobenho opened #1095 "Two issues related to creation of Voronoi-based grids using shapefiles"
Hi,

I've encountered two situations where I was unable to create Voronoi grids from a polygon shapefile. Since I suspect this is a rather common approach for delineating a model domain, I thought I should share my experiences and how I managed to work around the issues, in case anyone is experiencing the same problems.

Issue 1:
Polygon shapefiles created using ArcGIS will have the starting AND c

[2021-04-11 23:03] langevin-usgs commented on #1095
Thanks for sharing your experiences, @nikobenho.  Any chance you could copy and paste an image of your voronoi grid into this issue so we can see the finished product?

[2021-04-12 03:23] briochh commented on #1092
Looks good @spaulins-usgs. Thanks for digging into this. I think it'll help with the practical usability of Flopy for these larger problems.

[2021-04-12 16:43] vivekgrewal28 opened #1096 "Flow observations for 'STR'"
Hi,

This is the first time I am posting on Github so kindly bear with me.

I need to add flow observations to an existing model which has a built-in stream via 'STR' package. In other words, I need to make an 'STOB' file/package. I tried using the ModflowFlwob package but it seems that 'flowtype must be CHD, GHB, DRN, or RIV'.

Is there any other flopy module which can be used to add flow/budget

[2021-04-12 20:11] spaulins-usgs commented on #1092
I added one more optimization today and merged all the changes into the main fork.

On my laptop your optimization test code initially took 119 seconds to run.  After adding your code optimization and mine, and switching auto_set_sizes and verify_data to false, it took 65 seconds to run.  You can reduce the run time further by not changing the simulation path, I got the time down to 58 seconds by

[2021-04-12 20:11] #1092 closed

[2021-04-12 22:06] #1062 closed

[2021-04-15 09:54] Gael-de-Sailly opened #1098 "Reading data from PathlineFile is slow"
Hi,

I'm using MODPATH 6 and encountering performance issues with data reading.
I can't provide a minimal working example easily, but my model has 40401 pathlines and 926690 points (that makes 23 points per pathline on average), and I use `PathlineFile.get_alldata()` to extract the data:
[code]

It spends `143s` on `get_alldata` while my MODFLOW + MODPATH models together take only `16.091s` to run

[2021-05-02 09:27] emorway-usgs opened #1103 "recent change in tables argument of mf6.ModflowGwflak"
@scottrp As of the last release of mf6/FloPy, the `tables` argument in the mf6 LAK package didn't require these two optional arguments: "TAB6", "FILEIN".  In other words, the following worked:

[code]

But a recently working script stopped working until these two arguments were added, as follows:

[code]
Perhaps this is only be an issue for TAB6, since it has lake number in front (compared to othe

[2021-05-03 20:10] spaulins-usgs commented on #1103
@emorway-usgs  This could be a problem with the data verification code.  You can confirm this by turning data verification off and seeing if it works.  You can turn data verification off with the simulation object's verify_data attribute:

sim.verify_data = False

[2021-05-03 23:38] emorway-usgs commented on #1103
@scottrp I inserted the line of script you suggested immediately before the LAK instantiation code, but it bombed with the same error message that was produced without `sim.verify_data = False`.  It seems that for the time being, the following in required for the tables argument of ModflowGwflak:
[code]
It is easy enough to include the `"TAB6", "FILEIN"` items, but at one point these were not nece

[2021-05-04 13:23] spaulins-usgs commented on #1103
@emorway-usgs  I think it is reasonable to require them.  I am working on an overhaul of the docstrings and documentation now and will make sure to include this.

[2021-05-04 13:32] langevin-usgs commented on #1103
@scottrp, just an FYI that I don't think we require the user to specify those keywords for TS6, TAS6, OBS6, and other FILEIN records.  We need to be careful that we don't break existing functionality.

[2021-05-04 14:18] spaulins-usgs commented on #1103
@langevin-usgs  In the TS6, TAS6, and OBS6 cases the keywords are at the beginning of the list, while in the LAK tables the keywords are in the middle of the list.  Flopy code looks for keywords at the beginning of the input and if it does not find them it assumes the user left them out and adds them in.

Flopy can fill in keywords in the middle of a list, but it can potentially run into problems

[2021-05-06 13:56] mathieu-couplet opened #1104 "Input formatting: coherence between modflow 2005 and flopy"
Dear developers.

I am a very beginner in hydrology and modflow modelling. I recently tried to load a model, which can be run with mf2005 without any difficulties, with flopy: it fails while loading an FHB package.
The name file was generated by ModelMuse, however I am not sure for the FHB file. I am not able to provide the input data here unfortunately.

One of the reason of the failure is the pr

[2021-05-06 17:21] langevin-usgs commented on #1104
I think if you can provide us with a small FHB example that runs fine with MODFLOW-2005 but cannot be loaded with flopy, then we would be willing to fix the flopy FHB load problem.

[2021-05-07 10:19] wsc1008-cugb opened #1106 "How to use the latest version of flopy(3.34?)"
I want to use the  "plot_pathline" to plot the CrossSection result, which from 0 layer to bottom, there was an AttributeError: 'PlotCrossSection' object has no attribute 'plot_pathline', it is said that in the new version this function will be added. How could I donwload the latest one?

[2021-05-07 10:28] dbrakenhoff commented on #1106
From the readme:

`pip install https://github.com/modflowpy/flopy/zipball/develop`

Hope that helps!

[2021-05-07 12:16] langevin-usgs commented on #1103
I think it's okay to require that all of them be present in this case of the lake tables.  But the question is, how would someone know that?  These little gotchas are tough to figure out, and the error messages don't seem to provide any help.  Maybe that's the answer?  Can the error message be more useful?

[2021-05-07 14:14] wsc1008-cugb commented on #1106
Thank you very much. But there was an error when I installing the package: pip._vendor.urllib3.exceptions.ProtocolError: ("Connection broken: InvalidChunkLength(got length b'', 0 bytes read)", InvalidChunkLength(got length b'', 0 bytes read)).

I use both Pycharm and cmd to pip the flopy 3.3.4, how could you install it successfully?

[2021-05-07 22:26] spaulins-usgs commented on #1103
The error message currently does tell you what input variable it failed on.  I will look into displaying something about the format of input it is expecting, and if possible something about the actual input text that it fails on.

[2021-05-08 03:32] #1106 closed

[2021-05-08 14:03] zhang-zimin opened #1107 "Can post-processing calculate hydraulic gradients?"
If not I'll make up a python program myself.

[2021-05-09 08:55] wsc1008-cugb opened #1108 "Still about plot_pathline in plot_crosssection"
I want to use the "plot_pathline" to plot the CrossSection result, which from 0 layer to bottom.
I have used the latest version of flopy, and try an example which is similar with the flopy3_modpath6_example.ipynb, there is such error:

`fig = plt.figure(figsize=(80, 25))

ax = fig.add_subplot(1, 1, 1, aspect='equal')

mx = flopy.plot.PlotCrossSection(ax=ax, model=swt, line={'row': 0})

ibound = mx

[2021-05-10 17:20] jknightusgs opened #1109 "Possibility to build multiple RCH array-type packages?"
I am trying to build multiple rcha packages for a MF6 model. Only the last-created package gets written to the input files. I modified the example notebook linked below to create rcha instead of rch packages and received the error message: "WARNING: Package with type rcha already exists. Replacing existing package."

https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_mf6_B_c

[2021-05-10 18:44] jlarsen-usgs commented on #1108
@wsc1008-cugb

the IndexError message shows changes to the code that does not match the source code within the flopy development repository.

lines 2759 and 2760 within the repository are:
[code]
instead of

[code]

Please update your version of flopy to the most recent repo version using

[code]

[2021-05-10 19:52] langevin-usgs commented on #1109
Until @spaulins-usgs can look at this, try modifying mfstructure.py (in flopy/mf6/data) to include gwfrcha in the multi_package dictionary.  I'm thinking this should work until we can fix it on our end.

[code]

[2021-05-11 16:18] jlarsen-usgs commented on #1108
@wsc1008-cugb

Unfortunately, the copy of your source code does not match that in the flopy repo based on the error message. If you remove the "+ 1" from 2759 and 2760 of plotutil.py you should not get this error. Flopy uses a zero based indexing scheme, the "+ 1" is causing your error.

[2021-05-12 03:36] wsc1008-cugb commented on #1108
I‘m so sorry to bother you agian, I mistook the image at first. I have tried without any change at the beginning, it didn't work. So then I added the "+1" and "-1" at 2759 and 2760 to make it work, but I failed agian. Here is the first time I tried. There is the same error.

![image](https://user-images.githubusercontent.com/74029851/117914468-fd486f80-b315-11eb-8a20-2f36b0c44a6b.png)

[2021-05-12 05:44] Hperea opened #1110 "How to change the default subdirectory and point to the correct subdirectory?"
m = flopy.modflow.Modflow.load(nam,model_ws=GW_path,verbose=False,
                               check=False,exe_name=MF_exe, load_only=(pckgs))
Traceback (most recent call last):

  File "<ipython-input-1-afb89df546e5>", line 14, in <module>
    m = flopy.modflow.Modflow.load(nam,model_ws=GW_path,verbose=False,

  File "C:\Users\hperea\Anaconda3\envs\py385\lib\site-packages\flopy\modflow\mf.py",

[2021-05-12 18:32] jlarsen-usgs commented on #1108
@wsc1008-cugb
Thanks for the clarification. I've recreated the issue and found that the modpath intersection method is not handling layered data correctly. I'm currently working on a fix for this.

[2021-05-12 20:24] aleaf opened #1111 "MF6: obscure issue with remaking SFR after removing package"
This may not affect many users, but I came across this error when trying to remake an SFR package after removing it:
[code]
[code]

[2021-05-13 03:06] wsc1008-cugb commented on #1108
@jlarsen-usgs Thank you very much, it works!

[2021-05-13 03:27] wkitlasten opened #1113 "StructuredGrid.get_coords fails with array-like of ints"
get_coords fails if x and y are lists of ints and set_coord_info() has not been set:

[code]
set_coord_info() before get_coords does not fail:

[code]
passing lists of floats also does not fail:
[code]

[2021-05-19 20:51] Matt-Webb1 opened #1114 "hfb6.export function issue?"
Hi,

I wondered if anyone could tell me if the `hfb6.export` function is working correctly? I can use `.export` on a number of the packages without issue (e.g. DIS/BAS/RIV/UPW/GHB). It is listed as an available function of hfb6 but I can't get it to export anything. E.g.:

    model_ws = os.path.join("model_data")
    output_folder = os.path.join('output')
    ml = flopy.modflow.Modflow.load(model

[2021-05-19 23:47] wkitlasten opened #1115 "Extraneous kwargs "model_ws" provided to MFModel"
I have several gwf models under the same simulation and would like to have them under their own subfolders (because I'm crazy like that). When I try:

[code]

I get:

[code]
It works fine if I remove the 'model_ws' kwarg. From what I can tell, the ["latest" mfgwf module](https://flopy.readthedocs.io/en/latest/source/flopy.mf6.modflow.mfgwf.html?highlight=flopy.mf6.ModflowGwf) should take the 'mode

[2021-05-20 13:40] langevin-usgs commented on #1115
Did you try using a relative path?  model_rel_path?  Which should be a path relative to the simulation folder?

[2021-05-20 13:48] langevin-usgs commented on #1114
Sorry, but it does not look like HFB information can be written to vtk yet.  Ideally, the vtk representation should be represented with planes that correspond to the shared cell face where the vtk is located.  Will keep this issue open as a reminder to implement.

[2021-05-20 23:31] wkitlasten commented on #1115
Should the model_rel_path be added to the package filenames in the gwf.nam file (and presumably any external files)? That is, does mf6.exe always work from the sim directory, or does mf6.exe operate from each gwf subdirectory while that gwf is running?

My model is in a subdirectory called "model0" so model_rel_path is "model0". Flopy is writing all the files there, as expected. But the gwf.nam fi

[2021-05-21 04:54] wkitlasten opened #1117 "slow flopy.plot.PlotMapView.plot_array"
Updated to flopy version 3.3.4 and existing calls that took seconds are now taking minutes. Admittedly my grid is large, and the method works find for smaller grids, but thought it might be worth mentioning.

A quick example with 10 million cells that takes over 10 minutes to generate the plot (which is longer than the model run and only took a couple seconds with 3.3.3):

[code]

[2021-05-21 11:52] langevin-usgs commented on #1115
@wkitlasten, you are probably going to have to set the file names for each package to include the relative path, which is easy to do with the filename argument.  Maybe just something like:

[code]

This should allow you to keep things organized.  There might be something more sophisticated built into flopy for doing this automatically.  Any thoughts @spaulins-usgs?

[2021-05-21 12:01] langevin-usgs commented on #1115
I should also mention that all file references (in name files and elsewhere in input files) must be written relative to where mf6[.exe] was started.  Because mf6 must be started in the same folder as mfsim.nam, then all files must include relative paths (absolute paths would also work, but not recommended) to the folder containing mfsim.nam.

[2021-05-21 13:46] spaulins-usgs commented on #1115
@wkitlasten, flopy does have a method that will set each package to include a relative path for you.  After you have created all of your packages call:

gwf. set_model_relative_path("mymodel")

This will set all of the model's current packages to the "mymodel" folder.  You can find an example of set_model_relative_path in the flopy3_mf6_tutorial "Adding a Model Relative Path" section.

[2021-05-21 17:35] jlarsen-usgs commented on #1117
@wkitlasten

It looks like the slow down has to do with building patches. I moved everything over to PatchCollections to simplify the plotting code and make it uniform between modelgrid types in version 3.3.4. I'm looking for solutions for redering polygons/polygon collections quickly to speed this up. Thanks for reporting this issue!

[2021-05-21 23:15] jlarsen-usgs commented on #1113
@wkitlasten

I'll be putting in a PR to fix this issue sometime this afternoon.

[2021-05-21 23:26] jlarsen-usgs commented on #1117
@wkitlasten

I found a solution that will work for now to speed up the plotting routines. 1) for structured grids we will revert back to using a `QuadMesh` instance instead of a `PatchCollection`. As you pointed out, `QuadMesh` plots 10 million cells in ~2 seconds, `PatchCollection` was taking ~10 minutes.

For Unstructured and Vertex based modelgrids, I've updated the `PlotMapView` code to use `P

[2021-05-24 18:05] Olsthoorn opened #1119 "flopy.discretization.grid.Grid signature does not match docstring"
Here is the signature

flopy.discretization.grid.Grid(grid_type=None, top=None. botm=None, idomain=None, lenuni=None, epsg=None, proj4=None, prj=None, xoff=0.0, yoff=0.0, angrot=0.0)

And here is the docstring (from the source), they are complely incompatible

class Grid(object):
    """
    Base class for a structured or unstructured model grid

    Parameters
    ----------
    grid_type : enume

[2021-05-26 16:26] hzhang4 opened #1120 "gridarray_to_flopyusg_gridarray"
Need to reset value of istart in the loop in function _gridarray_to_flopyusg_gridarray_ of gridgen.py

    def gridarray_to_flopyusg_gridarray(nodelay, a):
        nlay = nodelay.shape[0]
        istart = 0
        layerlist = []
        for k in range(nlay):
            istop = istart + nodelay[k]
            ak = a[istart:istop]
            if ak.min() == ak.max():
                ak = ak.min()

[2021-05-27 05:14] wkitlasten opened #1122 "Spatial reference information with mf6 modelgrid object?"
Is there a straightforward way of getting spatial reference information while loading a flopy.mf6.ModflowGwf model? When building the model I use `gwf.modelgrid.set_coord_info()`, and `gwf.modelgrid` has the appropriate spatial information. But after I write and I load the simulation:

[code]

`gwf.modelgrid` no longer has the spatial information.

I get what I need by writing a gridspec file usin

[2021-05-27 21:40] Olsthoorn opened #1123 "rcloserecord in ims modflow 6"
I have this as input for IMS, the issue is the rcloserecord

ims_kwargs = dict(
        print_option = 'SUMMARY',
        complexity = 'MODERATE',
        no_ptcrecord = 'ALL', # or FIRST

        outer_maximum = 200,
        outer_dvclose = 1e-3,
        under_relaxation = 'DBD',
        under_relaxation_theta = 0.8,
        under_relaxation_kappa = 0.001,
        under_relaxation_gamma = 0.0,

[2021-05-27 23:26] langevin-usgs commented on #1123
Hi @Olsthoorn, hope you are well!  The syntax you are looking for is:

[code]

Sorry that this is a bit cumbersome.  It is because all of these flopy classes are generated automatically.

You can often search the autotest folder of the modflow6 repository for syntax examples:  https://github.com/MODFLOW-USGS/modflow6/tree/develop/autotest

[2021-05-27 23:58] mwtoews commented on #1122
I'll confirm that `set_coord_info` isn't working as expected, as I would have expected this data to be synchronised with the DIS* package options to be saved when written.

A workaround is to set both `modelgrid` and `dis` properties with the same data:
[code]

[2021-05-28 02:25] wkitlasten commented on #1122
I am using a gridspec file for portability. The xorigin, yorigin seems to work. I would have thought the modelgrid info would be saved to the dis file...

Here's the simplest test I can come up with:

[code]

[2021-05-28 02:42] wkitlasten commented on #1122
Okay, using xorigin, yorigin when creating the dis results in it being written to the .dis file. (gwf.modelgrid.set_coord_info() does not).

Thanks @mwtoews

[code]

[2021-05-28 04:22] #1122 closed

[2021-05-29 00:23] #1123 closed

[2021-05-29 00:24] #1115 closed

[2021-05-29 00:27] #1120 closed

[2021-06-01 16:10] hzhang4 opened #1125 "Is there any plan to add the functionalities of linear feature packages (CLN in USG or Modflow-CFP) ?"
Just wondering if there is already a plan to add the conduit flow processes in Flopy. It seems neither Modflow-CFP nor MFUSG-CLN is supported by Flopy.

Thanks,

[2021-06-01 22:24] wkitlasten opened #1126 "Set relative path to external files"
@spaulins-usgs  mentioned `set_model_relative_path()` in a [previous issue](https://github.com/modflowpy/flopy/issues/1115#issuecomment-845961780). Unfortunately `sim.set_all_data_external()` does not seem to see the `model.set_model_relative_path()`. Adding `model.set_model_relative_path()` directly above `sim.write_simulation()` (i.e. all packages have been created) in the [example ](https://git

[2021-06-02 12:25] langevin-usgs commented on #1125
We do not have any plans to work on this at the moment.  If someone were to take this on, and submit a PR with accompanying tests and documentation, I think we would be willing to merge it in.

[2021-06-02 12:25] #1125 closed

[2021-06-02 21:57] spaulins-usgs commented on #1126
@wkitlasten Verified the problem.  I have a possible solution but need some time to verify that it does not break anything else.

[2021-06-03 06:59] NigelKinney opened #1127 "write .gsf file or .vtu file from disu files"
Hello,
I was trying to export a .gsf (grid specification file) or .vtu file from a MODFLOW-USG model, so that other people can use other graphical user interface to view them. GUIs usually require .gsf or .vtu files as the native MODFLOW-USG file do not have them. I wonder if there's any possibility to do that using flopy?
Thank you!

[2021-06-04 00:00] KyleHorner opened #1128 "MODFLOW 6 Tutorial 1 error"
Hello,

As can be seen from the figures plotted at the end of the example, the current code has the cell with the low head (90) in the wrong location (upper left quadrant rather than dead centre).

The second line of the CHD Package section should be amended to:
chd_rec.append(((0, int(N / 2), int(N / 2)), h2))

Cheers (and thanks for all your work)!
Kyle

[2021-06-04 23:21] KyleHorner opened #1129 "Modflow 6 Quickstart error"
Hey again,

I could not produce the plot in the quickstart example when using Jupyter Notebook.

It does work for me when I extract head and cell budget data using the binaryfile utility:

hds = flopy.utils.binaryfile.HeadFile(head_file)
head = hds.get_data()
bud = flopy.utils.binaryfile.CellBudgetFile(budget_file)

Cheers!
Kyle

[2021-06-05 01:53] spaulins-usgs commented on #1126
@wkitlasten The underlying problem is more complicated than I first thought.  It is going to take some additional time and may involve a more comprehensive fix to how FloPy handles relative paths.  I will be gone until 6/14, but will continue to troubleshoot this when I get return.

[2021-06-05 04:29] wkitlasten commented on #1126
Thanks for the update. I will just save all externals manually and specify
the filename accordingly.

On Sat, 5 Jun 2021 at 1:53 PM, spaulins-usgs ***@***.***>
wrote:

--
"Perfect spheres are pointless."

[2021-06-07 02:14] javgs-bd opened #1130 "PlotCrossSection on MF6 DISU grid with line={'Column': 5}"
I'm trying to make PlotCrossSection work on a MF6 DISU model. I'm testing with a working example which is an extract of **flopy3_gridgen.ipynb**  and then I'm trying to follow the example in **flopy3.3_PlotCrossSection.ipynb** for vertex grids.

The code of the example model is shown below (the only difference with the notebook is that I'm placing the gridgen executable inside the model_ws structu

[2021-06-08 20:39] Matt-Webb1 commented on #1114
Thanks! I will try to see if I can use the HFB data to generate the required vertices etc to create the VTK file.

[2021-06-08 20:54] Matt-Webb1 opened #1131 "MF6 export to VTK files?"
Hi, I'm not sure if this is an issue (it may be a missing feature or an error in my code), but I was looking at using the vtk.export_heads function on a heads file generated by a MF6 model.
[code]
However, running code of that form results in attribute errors (verbose, model, ...). I can see that the loaded object does not have a verbose or model attribute, but if I load an MF2K model with `flopy.

[2021-06-09 10:14] marcowhites commented on #873
Hi, any update on this topic? I'd like to export a DISU model outputs into vtk format

[2021-06-09 13:31] langevin-usgs commented on #1131
Hi @Matt-Webb1, I think the problem is that your "model" is actually the simulation.  Does this work?

[code]

or alternatively, just export the whole model

[code]

[2021-06-09 14:28] Matt-Webb1 commented on #1131
Ah, I see the difference now. Both your suggestions worked. Thanks for taking the time to figure that out!

[2021-06-09 19:37] Matt-Webb1 commented on #1131
On the same topic, is there a way to export the concentration data to VTK from a MF6 model (i.e. a .con file)?

With yout help the `vtk.export_model() ` now provides the structure, and `vtk.export_heads()` provides the flow, but there wasn't a corresponding function for transport results export. I tried using the export_array() function but couldn't get it to work.

A second related note: is there

[2021-06-10 08:57] Smith0710 opened #1132 "Plot AssertionError when mflay option is used is used"
The plot method produces an AssertionError when the mflay option is set and figsave() is invoked by also setting the filename_base option. For example:
1. This works: simulation.plot(SelPackList=['npf'], filename_base='Fig', kper=0)
2. This doesn't:  simulation.plot(SelPackList=['npf'], filename_base='Fig', mflay=0, kper=0)

The error appears to be caused by the assert check at line #1385 of \flop

[2021-06-11 01:33] Matt-Webb1 commented on #1131
Figured this out, just needed to use the 'text' argument to differentiate the heads file from a concentration file.

[2021-06-11 01:33] #1131 closed

[2021-06-11 18:52] jlarsen-usgs commented on #1132
I'll take a look at this issue

[2021-06-11 18:57] jlarsen-usgs commented on #1130
@javgs-bd

Because vertex and unstructured grids are defined by coordinate locations and cells can be any combination of shapes the 'row' and 'column' designation is ambiguous and are not defined in MODFLOW. The solution to this is to pass coordinate information into `PlotCrossSection` using `line={'line': [[x0, y0], [x1, y1]]}`.

[2021-06-11 18:58] #1117 closed

[2021-06-11 18:58] #1113 closed

[2021-06-11 18:58] #1108 closed

[2021-06-11 19:06] javgs-bd commented on #1130
@jlarsen-usgs my apologies. I guess I got confused by the code using the 'column' argument in in the flopy3.3_PlotCrossSection.ipynb notebook before vertex grids are dealt with (In [21]). I see now that code applies to a regular MF6 grid.

[2021-06-11 19:06] #1130 closed

[2021-06-14 13:26] dbrakenhoff opened #1133 "NAM file not up to date after calling `rename_all_packages()`?"
I was attempting something along the following lines:

1. Load existing model.
2. Rename model and update working directory.
3. Write model to new directory and run simulation.

I was hoping something along these lines would be possible and I managed to sort of get that working with e.g.:

[code]
This writes model input files to my new working directory with the new name I specified.  The trouble

[2021-06-16 16:28] #1119 closed

[2021-06-16 16:28] #1132 closed

[2021-06-21 20:48] jlarsen-usgs commented on #1098
Updated the `get_alldata` method to avoid using the `get_data` method.

[2021-06-23 14:28] gmerritt123 opened #1137 "run_model() Failing on upw package, how to troubleshoot/identify what i'm missing?"
Hi, I am a longtime feflow/feflow python api user taking a run at building a modflow model using flopy. First off I'm not sure if this is the right place to post this (please direct me elsewhere if so). I've instantiated a  flopy.modflow.Modflow instance and set its .version to 'mfnwt'. The 'MODFLOW-NWT_64.exe' is assigned to the .exe_name attribute.

I've assembled the following package instances

[2021-06-23 21:54] mwtoews commented on #1137
The "No named parameters" excerpt is not an error, it just states that the package is not using parameters (i.e. [NPUPW](https://water.usgs.gov/ogw/modflow-nwt/MODFLOW-NWT-Guide/upw_upstream_weighting_package.htm) is zero). Was this the last line in the .list file? You should keep `iphdry=0` for UPW (this is the default).

[2021-06-23 22:06] gmerritt123 commented on #1137
Thanks. Yes it is the last line in the .list file. Thanks for the iphdry tip, I just tried it out: still getting same thing...

[2021-06-24 16:28] jlarsen-usgs commented on #1137
@gmerritt123

I've seen this error before and it is caused by not having the NWT solver package active. Add the NWT package to your model and it should resolve this issue.

[2021-06-24 16:28] #1137 closed

[2021-06-24 20:13] jtwhite79 opened #1140 "cell inspector"
I’ve noticed that whenever digging into model convergence issues, the workflow for me is almost always the same:  Find which cell or cells are offending the solver, then dig thru package after package, array after array, list after list, looking for input errors (its an input error >99.99% of the time for me).  So I wonder what it would take to have a “cell inspector” in flopy that takes a cell (o

[2021-06-25 14:43] #1098 closed

[2021-06-25 15:32] spaulins-usgs commented on #1140
@jtwhite79 It is definitely doable.  There is already code that iterates through a model's datasets (set_all_data_external).  FloPy stores the necessary information to determine what data is associated with each cell.  In many cases (arrays, basic gwf stress packages) it would be fairly easy to find all data associated with a particular cell id.

It gets a little more complicated with the advanced

[2021-06-30 10:08] mwtoews opened #1143 "Notebooks that use SpatialReference need to be revised or rewritten"
Flopy 3.3.5 is expected to remove several deprecated classes, including SpatialReference. This class is still documented in several notebooks (under `examples/Notebooks`):
- [flopy3_SpatialReference_demo.ipynb](https://github.com/modflowpy/flopy/blob/87ab682f3480e012336cb71166ffc8c5976009d1/examples/Notebooks/flopy3_SpatialReference_demo.ipynb) - this needs to be rewritten from scratch. A new note

[2021-07-04 12:25] flalbat opened #1144 "Raster class fails with unsigned integer types"
Hello,
Raster class of flopy.utils does not work with rasters including unsigned integer data (like uint8). If it is a definitive limitation of that class, this may be written in the docstring. If not but too complex to automatically determine all dtypes, an optional parameter may be added to enable the user to give dtype of the raster.

[2021-07-08 19:57] jlarsen-usgs commented on #1144
@flalbat

I'll put in a PR to take care of this issue.

There are lists of default dtypes that the Raster class looks for to set raster metadata, and unsigned ints are currently not included in these.

[2021-07-09 20:59] #1072 closed

[2021-07-12 06:04] Martin-Pujol opened #1150 "Viscosity package for MODFLOW 6"
Hi,

Not really an issue but more of a request.

I am keen to move to MODFLOW 6 but unfortunately as far as I understand the new BUY package only allows density to vary but not the viscosity. As we have been using SEAWAT for modelling thermal breakthrough for geothermal applications this is an essential package for us.

Just wondering if there are any plans to develop a viscosity package for MODFL

[2021-07-12 13:56] #1144 closed

[2021-07-13 22:18] #633 closed

[2021-07-13 22:18] #896 closed

[2021-07-15 22:05] hwreeves-USGS opened #1153 "Problem with flopy.utils.GridIntersect()"
I ran into performance problems with flopy.utils.GridIntersect()  when trying to intersect a shapefile with 930
polygons and a pretty big model grid.  nrow*ncol = 141904.

- setting method to ‘vertex’ and rtree = True: these options lead to a memory error.
- With method=‘structured’ : looping over 930 features is taking a very long time.
- With method =‘vertex’ but rtree = False: lpoping over 930

[2021-07-16 14:48] dbrakenhoff commented on #1153
Hi @hwreeves-USGS,

Thanks for sharing your experience with GridIntersect!

The MemoryError kind of surprises me, but I might be missing something. I've tested GridIntersect with larger grids than you're currently dealing with (500 x 500 grids for example) without any trouble. I do have 32GB RAM so maybe thats hiding the fact that the memory usage is quite high. I'll run some tests to see if I can

[2021-07-19 15:32] javgs-bd opened #1154 "Wrong plot with contour_array used with a PlotCrossSection object"
I'm trying PlotCrossSection following the notebooks. I'm getting horizontal lines instead of vertical lines when trying to plot equipotentials  in the cross section by using contour_array. The plot_array function works ok though.

Below is the code example that is failing to me. The only quirk is that I'm locating the gridgen executable in a dedicated local folder.

![image](https://user-images.gi

[2021-07-20 16:19] jlarsen-usgs commented on #1154
@javgs-bd

I'll take a look at this today. I suspect this is an issue with the triangulation routine applied to single layer plots.

[2021-07-20 22:14] javgs-bd commented on #1154
Many thanks for looking at this @jlarsen-usgs

[2021-07-21 06:26] bafleck opened #1156 "test_triangle_unstructured_grid():"
I tried to run testscript 'test_triangle_unstructured_grid()'
and get the following Error:

Exception has occurred: AttributeError
module 'shapefile' has no attribute '__version__'

on 15. jul. 2021 I downloaded the program 'triangle' for mac with date: 18.Feb.2021
I copied the program 'triangle' to /usr/bin

I use the following versions:
numpy version: 1.18.5
matplotlib version: 3.2.2
flopy versi

[2021-07-21 14:29] langevin-usgs commented on #1156
Have you installed pyshp?  It may be related to the shapefile reader/writer.

[2021-07-21 17:33] #1143 closed

[2021-07-21 17:37] #1154 closed

[2021-07-22 05:14] bafleck commented on #1156
I have pyshp installed:
Name: pyshp
Version: 2.1.3

Barbara

On Wed, 21 Jul 2021 at 16:30, langevin-usgs ***@***.***>
wrote:

[2021-07-22 15:23] jdhughes-usgs commented on #1156
We can't reproduce this error on our end. The only code that actually evaluates the shapefile version is evaluating `shapefile.__version__` not `shapefile.version`.

Are you running this code from `autotest/t075_ugridtests.py`?

[code]

[2021-07-22 16:48] bafleck commented on #1156
Yes, the error comes at:
tri.add_polygon(domainpoly)

def test_triangle_unstructured_grid():
maximum_area = 30000.0
extent = (214270.0, 221720.0, 4366610.0, 4373510.0)
domainpoly = [
(extent[0], extent[2]),
(extent[1], extent[2]),
(extent[1], extent[3]),
(extent[0], extent[3]),
]
tri = Triangle(maximum_area=maximum_area, angle=30, model_ws=tpth)
tri.add_polygon(domainpoly)

Exception has occurred:

[2021-07-22 19:18] jdhughes-usgs commented on #1156
We can run the same autotest on out machine without any problems. Does this work in a python interpreter?

[code]

[2021-07-22 19:32] jdhughes-usgs commented on #1156
I can reproduce the error if I have a file called `shapefile.py` with any function in it in the same directory as the script I am running. If you do have such a file you need to rename the script to something else.

[2021-07-22 19:44] bafleck commented on #1156
Yes, many thanks this was the reason.
Barbara

On Thu, 22 Jul 2021 at 21:32, jdhughes-usgs ***@***.***>
wrote:

[2021-07-22 20:55] #1156 closed

[2021-07-27 15:48] jdhughes-usgs commented on #1107
There is no function that does this. Feel free to submit a pull request if you come up with a solution. If you do decide to submit a PR please use standard flopy functionality (modelgrid object, etc.). Will close this issue for now.

[2021-07-27 15:48] #1107 closed

[2021-07-27 15:58] jdhughes-usgs commented on #1096
STOB are not currently supported and is currently considered a low-priority enhancement. I suspect the `ModflowFlwob` class could be extended to support `STOB`. Feel free to submit a pull-request if you would like to implement the enhancement. Will close for now.

[2021-07-27 15:58] #1096 closed

[2021-07-27 16:05] jdhughes-usgs commented on #1110
If the name file is in the `GW_path` directory you do not need the path on `nam`.

Reopen the issue if this does not solve the problem. If you reopen the issue please provide more information.

[2021-07-27 16:05] #1110 closed

[2021-07-27 16:06] #1084 closed

[2021-07-27 16:08] jdhughes-usgs commented on #992
Reopen the issue if this did not solve your issue.

[2021-07-27 16:08] #992 closed

[2021-07-27 16:09] #316 closed

[2021-07-27 16:12] jdhughes-usgs commented on #1015
@andyrich @jlarsen-usgs and others have developed a flow accumulation tool for GSFLOW (maybe you already know about this). The plan is this base functionality will be available in flopy. Stay tuned. Closing this issue for now.

[2021-07-27 16:12] #1015 closed

[2021-07-27 16:14] jdhughes-usgs commented on #1048
@jlarsen-usgs since this is a NWT option is this something that has been implemented?

[2021-07-27 16:18] jdhughes-usgs commented on #1150
This is a MODFLOW 6 issue. Closing for now.

[2021-07-27 16:18] #1150 closed

[2021-07-27 16:37] jlarsen-usgs commented on #1048
@jdhughes-usgs, @andyrich

The option to read this file in from an external (to the lst file) file has not yet been implemented. It looks like the easiest way to support this is to give the user an option of passing in the external file name to `MFListBudget.get_reduced_pumping()`.

Another option would be to move the reduced pumping record reader code into it's own function where:
1) the user can

[2021-07-27 19:29] jlarsen-usgs commented on #974
Issue addressed with PR #1149

[2021-07-27 19:29] #974 closed

[2021-07-27 19:30] jlarsen-usgs commented on #860
ZoneBudget6 class added in PR #1149

[2021-07-27 19:30] #860 closed

[2021-07-27 21:31] jlarsen-usgs commented on #1048
@andyrich

external pumping reduction files can now be read using `flopy.utils.observationfile.get_reduced_pumping()`. I opted for making this it's own function, becasue in this instance the pumping reduction file is completely seperate from the list file.

[2021-07-27 21:45] andyrich commented on #1048
awesome - will it work with AG package reduced pumping output, too? this feature would probably be used much less frequently, but if you're tinkering now could be the time to make that change.

[2021-07-27 21:59] jlarsen-usgs commented on #1048
@andyrich

It looks like AG package reduced pumping output files are mostly delimitted ascii files, similar to csv. I think these could be read by adding an optional delimiter parameter to the `flopy.utils.observationfile.CsvFile` class and using it's functionality. I'll give it a test and report back.

[2021-07-27 22:14] andyrich commented on #1048
@jlarsen-usgs the AG package reduced pumping looks similar to the wel package, at least with how i'm having it output:
![image](https://user-images.githubusercontent.com/16653125/127234362-fc6afd1d-bd75-424e-94b0-c0258857f94c.png)

[2021-07-27 22:50] jlarsen-usgs commented on #1048
@andyrich

I'm working on an update to be able to read this from the list file using `MfListBudget.get_reduced_pumping`. I'll try to include it in the PR.

[2021-07-28 09:32] driftingtides opened #1164 "STR input files built with flopy"
I have an issue with recreating a MODFLOW-2005 simulation in flopy (version 3.3.3). I can run the original simulation without issue from the command line, but when I load it into flopy and write to a new directory I get an error during the simulation.

I think I have found the issue, which is to do with the STR package input file written by Flopy. In the flopy-generated file there is no space betw

[2021-07-28 17:00] jlarsen-usgs commented on #873
@marcowhites, @giovannifi

I've started working on updating/rewriting the VTK code to be able to export DISV and DISU models. @giovannifi thanks for sharing your code, I've been looking through it and will probably adapt some if it for the flopy VTK module.

[2021-07-29 08:39] marcowhites commented on #873
@jlarsen-usgs
Thanks! For now, since I am using Flopy and Gridgen, I am using a piece of code to paste the modelling results on the VTK file created by Gridgen when I generate the DISU grid. It's clearly a rough patch, but it works

[2021-07-29 14:12] #1048 closed

[2021-07-29 14:20] jdhughes-usgs commented on #939
@krlo-s Adding additional functionality for previous versions of MODFLOW is low-priority. If ETS support is critical for you we would welcome a pull request (PR) with the enhancement and one or more autotests. Reopen this issue if you decide to tackle this enhancement.

[2021-07-29 14:20] #939 closed

[2021-08-02 10:58] agbreda opened #1165 "ModflowGwf has no "output" attribute"
I got an AttributeError while trying to run the Quickstart code. I have Anaconda Python 3.8, and just installed floppy through the suggested conda installation command line.

Here is the outputs:
[code]

And here it is the first few lines of my code, the rest is exactly the same as in the initial Floppy's github page
[code]

[2021-08-03 01:10] agbreda commented on #1165
Using more specific methods to read the data worked!

[code]

[2021-08-03 19:24] rodreras commented on #1165
@agbreda how did you come up with this solution? after making these changes, were you able to keep on running the tutorial?

[2021-08-03 21:30] rodreras commented on #1165
Well, I also found a solution.

The point is: I have `flopy 3.3.3`, and the tutorial is with `latest` label. I don't know if there's any difference, but before you start following the tutorials, make sure to check your flopy version.

In the end, I was able to find [the solution](https://flopy.readthedocs.io/en/3.3.3/_notebooks/tutorial01_mf6.html#Post-Process-Head-Results) within the documentatio

[2021-08-03 23:30] agbreda commented on #1165
Hi Rodrigo, yes you've nailed it...

It is weird that installing flopy through conda give us the 3.3.3 version, but it definitively does not match with the "lastest" version.

Later in the same tutorial I came across if another issue before the last plot. The command
''' residual = flopy.mf6.utils.get_residuals(flowja, grb_file=grb_file) '''
returned the following error:
''' AttributeError: module

[2021-08-04 16:12] jdhughes-usgs commented on #1129
You have to use the development version of flopy to use the Quickstart shown on the README.md on the GitHub development branch, which is the default branch that is shown on the GitHub repo. Also, the latest version on [readthedocs](https://flopy.readthedocs.io/en/latest/index.html) is tied to the development branch.

We will try to better clarify this on README.md in the next version.

#458

[2021-08-04 16:12] #1129 closed

[2021-08-04 16:20] jdhughes-usgs commented on #1153
@hwreeves-USGS Did this resolve your issue? Reopen the issue if it is not resolved.

[2021-08-04 16:20] #1153 closed

[2021-08-04 16:24] jdhughes-usgs commented on #1103
@emorway-usgs Reopen this issue if it has not been resolved.

[2021-08-04 16:24] #1103 closed

[2021-08-04 16:25] jdhughes-usgs commented on #1126
@wkitlasten reopen this issue if it has not been resolved.

[2021-08-04 16:25] #1126 closed

[2021-08-04 16:38] jdhughes-usgs commented on #1079
See https://github.com/modflowpy/flopy/blob/develop/autotest/t506_test.py for an example of how to create a CHD boundary file for MODFLOW-USG.

[code]
where `ic` is the node number. Then the CHD file is made with

[code]

You would do something similar for the WEL package

Reopen this issue if your issue is not resolved.

[2021-08-04 16:38] #1079 closed

[2021-08-04 16:41] jdhughes-usgs commented on #1073
@jtwhite79 Is this supported for MODFLOW-2005.

@spaulins-usgs how would it be done for MODFLOW-6.

@aleaf If it is not currently supported for pre-MODFLOW 6 then it is unlikely that we would prioritize this enhancement. So we would need help from the community (possibly you).

[2021-08-04 17:27] spaulins-usgs commented on #1073
@jdhughes-usgs This is currently done for MODFLOW-6 by allowing the user to use a dictionary to define any list or array data.  If the dictionary contains a key named "filename", the contents of that key is used as a relative or absolute path to the data file.  If the dictionary also has a key named "data", flopy will create the datafile and place the contents of the "data" key in that file.  Othe

[2021-08-04 22:00] jdhughes-usgs commented on #904
We implemented a consistent thickness method in the modelgrid object. See  #1138

Reopen if this does not address the issue.

[2021-08-04 22:00] #904 closed

[2021-08-04 22:01] jdhughes-usgs commented on #775
@emorway-usgs can this be closed?

[2021-08-04 22:03] jdhughes-usgs commented on #764
Reopen if #1033 did not resolve this issue.

[2021-08-04 22:03] #764 closed

[2021-08-04 22:07] jdhughes-usgs commented on #1074
Reopen this issue if it is not resolved.

[2021-08-04 22:07] #1074 closed

[2021-08-04 22:10] jdhughes-usgs commented on #855
@dbrakenhoff what is the status of this issue?

[2021-08-04 22:14] jdhughes-usgs commented on #638
Not sure how to incorporate this in flopy (or if it should be). Reopen this issue if someone has a suggestion for how to do something with this interesting effort.

[2021-08-04 22:14] #638 closed

[2021-08-04 22:14] jdhughes-usgs commented on #593
Reopen if this is still a valid issue.

[2021-08-04 22:14] #593 closed

[2021-08-04 22:15] jdhughes-usgs commented on #439
Reopen if this is still an outstanding issue.

[2021-08-04 22:15] #439 closed

[2021-08-04 22:16] jdhughes-usgs commented on #293
Reopen if this is still a valid issue.

[2021-08-04 22:16] #293 closed

[2021-08-04 22:25] jdhughes-usgs commented on #1127
Improvements to VTK export is in progress but we will only be able to support MODFLOW 6 DISU export of vertex information is provided.

See #873

[2021-08-04 22:27] jdhughes-usgs commented on #1114
The VTK export functionality is currently being revised. We may be able to implement this as part of that effort.

Also see #873

[2021-08-04 22:29] jlarsen-usgs commented on #1114
@jdhughes-usgs, @Matt-Webb1

I am working on a hfb export method for VTK as part of the `Vtk` class overhaul.

[2021-08-04 22:29] jdhughes-usgs commented on #1140
@langevin-usgs @spaulins-usgs any thoughts on the level of effort and priority for this effort? Assigning to next version for now.

[2021-08-04 22:31] jdhughes-usgs commented on #1104
Will fix (if example provided) or close in 3.3.5

[2021-08-05 14:18] langevin-usgs commented on #1095
I've confirmed that there is an issue with current voronoi implemention.  The issue can be encountered with some irregular domain polygons.  Working to implement additional geometry processing to create closed cell polygons.

[2021-08-05 15:15] ougx opened #1167 "Is reaction supported in mt3d.mtrct?"
[code]

Or is there another way to set it up?

[2021-08-05 17:25] langevin-usgs commented on #1167
It does not look like IREACTION is supported yet for MT3D-USGS.  Might leave this one to @emorway-usgs.

[2021-08-05 19:57] jdhughes-usgs commented on #1128
Modified text to indicate it is in the center of the upper-left quadrant.

Closed as part of #1141

[2021-08-05 19:57] #1128 closed

[2021-08-05 22:25] #1165 closed

[2021-08-05 22:29] spaulins-usgs commented on #1140
@jdhughes-usgs Doing this for single cells and supporting the basic packages is fairly easy.  Adding in support for connected neighbors and the advanced packages is a moderate amount of work.  Note though that the "cell inspector" may not automatically work on new packages, so this could involve some ongoing effort as new packages and models are added to MF6.

[2021-08-06 00:50] #993 closed

[2021-08-06 00:50] #1053 closed

[2021-08-06 08:58] dbrakenhoff commented on #855
Still WIP, moving it to the next release. I'll take another look somewhere this month!

[2021-08-06 15:41] #1029 closed

[2021-08-06 20:50] #1164 closed

[2021-08-09 01:40] mwtoews opened #1176 "Upgrade minimum Python version for FloPy 3.3.5"
The current minimum is Python 3.5 ([PEP 478](https://www.python.org/dev/peps/pep-0478/)), which reached its end-of-life in 2020, and has been retired. I'd suggest this be bumped up to Python 3.7 ([PEP 537](https://www.python.org/dev/peps/pep-0537/)) (note that Python 3.6 - [PEP 494](https://www.python.org/dev/peps/pep-0494/) - will reach its end-of-life at the end of 2021). There are many enhancem

[2021-08-09 01:40] mwtoews opened #1177 "Upgrade minimum NumPy version for FloPy 3.3.5"
The current minimum is NumPy 1.9, initially released Sep 7, 2014. I'd suggest this to be bumped to [NumPy 1.15](https://numpy.org/doc/stable/release/1.15.0-notes.html) released 3 years ago ([Jul 24, 2018](github.com/numpy/numpy/releases/tag/v1.15.0)). The benefits for the code based would be to remove version-context logic found in a few places

- `flopy/utils/modpathfile.py`
- `flopy/discretizati

[2021-08-09 21:20] #1073 closed

[2021-08-10 11:34] flydream0428 opened #1182 "Is HFB6 supported for MF-USG when flopy.modflow.Modflow.load() is called?"
I guess it's not supported by a quick reading of the source code. I want to confirm this here. Thanks.

[2021-08-10 18:47] jtwhite79 opened #1183 "strangeness with comments in external files with `set_sim_path` and `set_all_data_external`"
Im trying to load an existing model and write it into a new dir with external files:

[code]

When I do that with the attached model, the external `.wel_stress_period_data_1.txt` file in the "new" directory has some interesting formatting at the top:

[code]

Seems like the comment line at the top of the existing external wel input list file is tripping things up?

Thanks!

[existing.zip](https://

[2021-08-13 21:31] jlarsen-usgs commented on #873
@giovannifi @marcowhites @langevin-usgs @jdhughes-usgs @khm293 @NigelKinney @Matt-Webb1

Hi everyone,

I've been working on the new VTK class using the python vtk library to export DIS, DISV, DISU grids, HFB planes, and MODPATH pathline points and timeseries. After inspecting the existing flopy Vtk code, there are a few options that I wanted to ask the community if 1) they are being used, 2) shoul

[2021-08-13 23:12] Matt-Webb1 commented on #873
HI Joshua,

Thanks for keeping me in the loop with this. I have used the point_scalars
fairly often (if I recall correctly it is required for certain filters to
display properly in ParaView), and almost always use the smooth option
since it is much better for presentation visualisations. haven't used the
true2d option yet.

Good to hear about the work on the pathlines/particles/HFBs. I have manage

[2021-08-16 04:24] driftingtides opened #1186 "Reading STR module outputs using FloPy"
I am trying to load in [STR package](https://water.usgs.gov/ogw/modflow/MODFLOW-2005-Guide/index.html?str.htm) outputs using FloPy but get the following error:
`OSError: Could not determine the precision of the headfile E:\gwrc\Kapiti\newruns\kapiti_fp\FINALKAPITIMODEL.SFL`

I am using `flopy.utils.binaryfile.HeadFile` to load in the binary output file and I think the issue is the definition of 'v

[2021-08-16 08:22] flydream0428 opened #1187 "Bitwise operation error when load a MF-USG model"
I have tried to use the loading function `m1 = flopy.modflow.Modflow.load(fname, version='mfusg',verbose=False)` to load a few different MF-USG models from very simples ones (a transient version of the example model in the document) to real-world complex models. With some careful twisting, it can load the data if `check=False` is applied. However, I have difficulty passing the check function. ALth

[2021-08-16 13:26] flydream0428 commented on #1187
@mwtoews, Thanks a lot, Mike. I have tested this. The fix works for the demo model attached above.
However, I am facing another issue now with the adding of `dtype=bool` with my real-world model.
I guess this is because I have different numbers of active nodes for different layers in the model.
I am sorry that the simple model only has 1 layer. I cannot reproduce the error with it.
Any fix for thi

[2021-08-16 13:36] langevin-usgs commented on #1187
@cnicol-gwlogic, any chance you could have a quick look at this one?

[2021-08-16 14:13] #1187 closed

[2021-08-16 14:33] jdhughes-usgs commented on #682
Closing this issue.

[2021-08-16 14:33] #682 closed

[2021-08-16 19:17] #1176 closed

[2021-08-16 19:17] #1177 closed

[2021-08-16 23:19] flydream0428 commented on #1187
The error can be reproduced by running,
`np.asarray([[True,True],[False,False,False]],dtype=bool)`

[2021-08-17 00:37] cnicol-gwlogic commented on #1187
Hi Tao, can you upload your example somewhere for me? I've been using
variable disu.nodelay models no problem with this change, so can't
reproduce your issue.

On Tue, 17 Aug 2021 at 09:19, Tao Cui ***@***.***> wrote:

[2021-08-17 00:55] jtwhite79 commented on #1183
@spaulins-usgs - any movement here?

[2021-08-17 03:10] flydream0428 commented on #1187
Hi @cnicol-gwlogic, I have zipped part of the model files here. The whole model is too big for this, so I only included a few files.
https://www.dropbox.com/s/ch0uz9l5pszalak/MF-USG_test.zip?dl=0

[2021-08-17 05:07] cnicol-gwlogic commented on #1187
@flydream0428  I've taken a look and submitted a fix for this. I know that model well. Note this one uses usg-beta / John Doherty's version, so you will likely come across other issues with this model in flopy, because the custom stuff like Richards equation, negative storage, etc is not supported (I noticed check points out some extreme LPF values because of this - so who knows what will end up i

[2021-08-17 06:07] flydream0428 commented on #1187
Hi Chris, Thanks a lot for your help. I fully agree with you. It's a bit
risky to use flopy here due to the home-made modification by John. In the
beginning, I thought it will help others if I can spend some time debugging
this with flopy.
Now, I realise that the overall support for MFUSG is very limited. At the
moment, I can load a USG model with flopy. However, most packages are not
supported fo

[2021-08-17 06:22] cnicol-gwlogic commented on #1187
No worries. I would like to include the basic usg-beta capabilities in flopy (eg. LPF richards arrays), but I'm not sure there would be appetite for it from the USGS' point of view, having to deal with enough code already. Happy to help with that if that is not the case though.

You can usually still do useful things with flopy and usg-beta models anyway, like load/plot a grid or cross section (di

[2021-08-17 14:50] langevin-usgs commented on #1183
@jtwhite79, I think @spaulins-usgs is out of the office perhaps through the end of next week.  Hopefully he can get right on this when he gets back.

[2021-08-18 16:41] mkennard-aquaveo opened #1198 "GridIntersect does not include cells with identical vertices, even with DISU"
If I am dealing with DISU and a vertex grid, I want GridIntersect to return all cells intersected, but currently it removes cells that share the same vertices as a previously intersected cell. This is fine for layered grids such as with DIS and DISV, but with DISU which has no layers, it is a problem.

GridIntersect ._intersect_point_shapely() includes these lines which cull the results and which

[2021-08-18 20:54] sbferen opened #1199 "Does flopy allow for loading and modifying externally-created input files (in my case they are MF6 input files from Model Muse)"
I am a new user of Flopy but familiar with Modlflow. My question/issue relates to if Flopy enables loading and modifying existing input files that were created outside of Flopy, in my case the input files were generated using Model Muse. I would like to use Flopy to conduct a sensitivity analysis that evaluates the effect of varying model parameters such as K, Sy, conductance, and layer thickness.

[2021-08-19 15:52] dbrakenhoff commented on #1198
I can see the value of having that option (I even think I started out with a similar option at some point). There are some challenges in getting it implemented though and making it intuitive? Supporting DISU is a slightly odd fit since gridintersect is a 2D operation, which for a DISU grid I guess it means all model cells are projected onto one plane? I guess thats fine, it just requires the user

[2021-08-19 17:48] jlarsen-usgs commented on #1199
@sbferen

Yes, flopy provides this support. The modflow 6 tutorials show how to do this. In your case see: [https://flopy.readthedocs.io/en/3.3.4/_notebooks/tutorial07_mf6_data.html#Layered-Data](https://flopy.readthedocs.io/en/3.3.4/_notebooks/tutorial07_mf6_data.html#Layered-Data)

Here is a small code snippet to get you started
[code]

[2021-08-19 17:48] #1199 closed

[2021-08-19 18:41] sbferen commented on #1199
Thank you for for the quick reply! The example code snippet is very helpful, thanks!

[2021-08-19 22:58] jdhughes-usgs commented on #1198
@dbrakenhoff Could you take a look at this one?

[2021-08-20 15:31] jdhughes-usgs commented on #977
The documentation has been moved to Read the Docs, although there is no `MtListBudget` example. Several example showing use of `MtListBudget` are given in `autotest\t055_test_mt3d_list.py`. We probably need to consolidate `MtListBudget` into `ListBudget`.

[2021-08-20 15:31] #977 closed

[2021-08-20 15:38] jdhughes-usgs opened #1203 "Possible ListBudget improvements"
It would be great if `MtListBudget` could be consolidated into a `MtListBudget` class that inherits from `ListBudget`. Should make separate classes for `SFT`, `LKT`, and `UZT`.

Should also add `Mf6SfrListBudget`, `Mf6LakListBudget`, `Mf6UzfListBudget`, and `Mf6MvrListBudget` classes for MODFLOW 6.

I think we also need equivalent MODFLOW 6 `GWT` classes.

[2021-08-20 16:23] mkennard-aquaveo commented on #1198
VertexGrid, so I think it's better to have the option be at the call to the
intersect function.

check wasn't there. If the user wants to cull that list down further by
using top/bottom information and determining where the point or line is in
3D, that would be up to them. As you say, GridIntersect is a 2D operation
and I'm not suggesting that should change.

don't think that would happen anyway,

[2021-08-20 21:23] jdhughes-usgs opened #1208 "`Grid` class intersection method optional `z` argument"
Add optional `z` argument to `Grid.intersect()` method. By default it would be

    cellid = modelgrid.intersect(x, y, z=None),

which would return `(i, j)` for `StructuredGrid`, `(cell2d)` for `VertexGrid`, and `None` for `UnstructuredGrid`. This is what the current `.intersect()` method does. And if `z != None` is passed it would be

    cellid = modelgrid.intersect(x, y, z=z)

which would retur

[2021-08-23 08:01] dbrakenhoff commented on #1198
Ah, I thought that since you were working with DISU you would also be dealing with an UnstructuredGrid object (and not a VertexGrid). So in that case, ignore my suggestion about `GridIntersect._usg_grid_to_shape_generator`. I can pick that up later.

From your answers I gather what you're looking for is a lot simpler than what I was thinking. I think a simple "return all intersections" option is s

[2021-08-23 12:42] langevin-usgs commented on #1198
It makes sense to me to have an option to return all cells that touch the feature.  Since you are working with a VertexGrid right now, that's a simple way to get the intersect capability to do what you want.  Since you are using a VertexGrid to represent a 3D DISU model, I guess your cells are overlapping in the 2D plane.  It's interesting, and I suppose not surprising, that the VertexGrid interse

[2021-08-23 17:58] hzhang4 commented on #1125
Hi,

I have worked on incorporating MFUSG-CLN last couple of weeks. The code is mostly done and have been tested using examples provided with MFUSG 1.5. Besides a new Modflow:ModflowCln class, there are also extensive change to the ModflowBcf and ModflowWel classes to incorporate the additional parameters for mfusg. To work with the wells simulated as CLN nodes, the changes to Package load functio

[2021-08-23 19:10] langevin-usgs commented on #1125
Thank you for your message.  If you think these changes are generally useful and do not have side effects on other working parts of flopy, then we would consider merging them in if you submit a pull request.  Ideally, we would hope that you do not need to make extensive changes to ModflowBcf, ModflowWel, pakbase, MfList and other low-level routines because it is easy to break things.  Also, we req

[2021-08-24 00:22] RyanConway91 opened #1213 "Inconsistent information between .lst file and bf.CellBudgetFile"
Hello,
I have model that is using GHBs. When I load the cbb:

`bf.CellBudgetFile("geofortis_prop_well_chd.cbb").list_unique_records()`

CHDs are listed and no GHBs appear:
RECORD           IMETH
----------------------
FLOW-JA-FACE         1
CHD                  6

There are **no** CHDs in the model, as confirmed by the lst file.

Additionally, when I sum the "CHD" flows (which should be GHB flows)

[2021-08-24 18:22] mkennard-aquaveo commented on #1198
OK, I submitted a [pull request](https://github.com/modflowpy/flopy/pull/1214). I went with "keep_stacked_cells" as the name of the new kwarg. Happy to change it if you can think of a better name. I added a couple of tests that verify that it works.

[2021-08-25 12:29] langevin-usgs commented on #1213
I took the quickstart example on the main flopy page and converted it from ghb to chd as follows:

[code]

The output passed back from the list_unique_records() is what we would expect.

[code]

If you can produce a small example that shows the error, then we can take a look, but I suspect there is something else going on.  Closing this issue.

[2021-08-25 12:29] #1213 closed

[2021-08-25 14:57] saedoquililongo commented on #371
Hello,

I know that this is a closed issue but I had the same problem and now I think I solved it (when rewriting the dis package I had other issues so I kept on trying to solve this). I went more deep into the codes and noted that, if you have a new nper length, you can not simply assign an array/list to perlen. To solve this I assigned an Util2d to perlen and worked!. These are the lines I wrote

[2021-08-30 00:56] javgs-bd opened #1216 "GridIntersect fails with specific shapely Polygon due to change of nrow, ncol in the discretization object"
The code below works if ncol = 50 and nrow = 80, but fails if ncol = 25 and nrow = 40. Am still trying to figure out why, but in any case I though it should be reported.

This is the result of the version printing:

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
numpy version: 1.20.1
flopy version: 3.3.5
matplotlib version: 3.3.4
shapely version: 1.7.1

**Result with nrow=50, n

[2021-08-30 01:34] javgs-bd commented on #1216
I have removed the repeated points in the polygon and still get the error.

[2021-08-30 09:07] dbrakenhoff commented on #1216
Thanks for posting this issue. This is a bug in the structured grid intersection routines.

The problem is that in one of the intersection results yields a GeometryCollection containing a Polygon and a Linestring. The shape overlaps the grid cell but then there is also a portion of the polygon that follows the cell boundary for a bit. The only check that is performed is whether the area of the res

[2021-08-30 14:18] javgs-bd commented on #1216
Many thanks @dbrakenhoff
Will do that in the meantime.

[2021-08-30 17:56] spaulins-usgs commented on #1183
@jtwhite79 I am now back and working on flopy issues.  I have one issue I am finishing up now that I started before vacation and then I will work on your issue next.

[2021-08-30 19:06] dbrakenhoff commented on #1216
I think I understand your question. For adjacent polygons you want the intersection result for each grid cell to have only entry, which could be one of several options:
- the polygon with the largest intersected area (max_area),
- an intersection area larger than 50% of the cell area (min_area),
- or e.g. the one that contains the cell midpoint (midpoint).

Question is whether we want to support t

[2021-08-30 19:29] javgs-bd commented on #1216
Thank you very much @dbrakenhoff. You got it perfectly. I was actually thinking on the lines of option 2 and 3.  I guess option 3 seems the most direct and easy to understand.
I believe it would be useful not only with adjacent polygons, but also in other instances, like when defining active domains. I've faced this issue with the gridgen intersection methods that behaves similar to GridIntersect.

[2021-08-31 07:39] khayley opened #1217 "well package export, prevents stress period data from writing"
Hi all,
I have just been debugging a script to find out why wells were not active in a mf6 model I have been working on.
I tracked it down to a command used to export the well package to a shapefile for visualization in GIS.
“welPackage.export('model_wel.shp')”
If I include this command in my script prior to writing the package to file then the resulting well file has no stress period data, if I c

[2021-08-31 19:21] scantle opened #1219 "Modpath6Sim initialization overwrites autogenerated start file location name"
Minor issue during the Modpath6Sim initialization with regards to `strt_file`:

https://github.com/modflowpy/flopy/blob/5d4324ddb6ed5abad231295d63e28cdf779e5e07/flopy/modpath/mp6sim.py#L128-L130

This snippet works correctly if a start file is passed, but incorrectly if a start file is _not_ passed. I assume the intended outcome was that when `strt_file` is not passed (defaults to `None`) the file

[2021-08-31 20:30] scantle commented on #1219
Issue is related to a different code problem - my bad. Closing, will open a separate issue if/when I figure it out.

[2021-08-31 20:30] #1219 closed

[2021-09-01 01:44] flydream0428 opened #1220 "Error when the export() is called through DISU object"
When the export() is called,
`disu_sub.export(r'output/test_grid.shp')`

[code]

[2021-09-03 15:49] oscarfasanchez opened #1228 "flopy doesn't export vtk boundary conditions"
hello, I think this could be a bug.
I'm trying to use paraview for modflow6 visualization, but it doesn't work for boundary conditions, I'm trying to use this code https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_vtk_export.ipynb
but it doesn't export anything for boundary conditions when I use a code like:

gwf.rch.export(pv_folder, fmt='vtk')

other packages work fine(np

[2021-09-03 18:49] spaulins-usgs commented on #1183
@jtwhite79 Please download the latest develop version of flopy and verify that it fixes your problem.

[2021-09-03 18:51] spaulins-usgs commented on #1133
@dbrakenhoff The rename_all_packages method should now be fixed in the latest flopy code (develop branch).

[2021-09-04 00:30] #1220 closed

[2021-09-06 23:27] javgs-bd opened #1229 "Modelgrid object freezing with GridIntersect or BAS Class"
I have a very weird result.
If I comment the gridintersect definition line, the update of dis.top gets reflected in the modelgrid object. It does not if I leave that line. Also, If I leave the gridintersect line, but comment the bas package definition everything works as expected. Seems that the modelgrid object gets frozen somehow. Am I missing something obvious?

Result with uncommented lines:
!

[2021-09-08 10:45] wkitlasten opened #1231 "set_data for botm using list"
I am trying to set the bottom elevations of my MF6 layers using `gwf.dis.botm.set_data(data)`. My data:

[code]
Is there anything obviously wrong with my approach? If so, ignore the following attempt to track the issue:

I am getting the following error:

[code]

The issue seems to stem from the conditional in the `_set_array` method in DataStorage (line 940):

[code]

 since it appears `self.laye

[2021-09-08 17:45] spaulins-usgs commented on #1231
@wkitlasten You are probably correct that the issue stems from the conditional in _set_array.  FloPy reaching line 961:

    success = self._set_array_layer(data, layer, multiplier, key)

indicates that the conditional you mentioned above returned False.  Most likely it returned False because your data is not the dimensions FloPy is expecting.  Specifically, the third conditional:

    and len(dat

[2021-09-08 19:31] wkitlasten commented on #1231
@spaulins-usgs , I have tried it with several models, all with len(data)==nlays. get_total_size() always returns 1, as far as I can tell. Maybe I need to just pass each layer individually?

[2021-09-08 19:38] langevin-usgs commented on #1231
@spaulins-usgs, would he need "data" as part of the dictionary for each layer, as indicated here? https://flopy.readthedocs.io/en/3.3.4/_notebooks/tutorial08_mf6_data.html

[2021-09-08 19:49] spaulins-usgs commented on #1231
@langevin-usgs No, if you specify a filename with "data" FloPy assumes that the file you a specifying already contains the data.

[2021-09-08 19:57] spaulins-usgs commented on #1231
@wkitlasten Could you post your script?  Or at least the part leading up to where you call botm.setdata?  That would help me reproduce the problem.

[2021-09-08 21:43] wkitlasten commented on #1231
I added a similar block to the [mf6_A_simple_model ](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_mf6_A_simple-model.ipynb) example and it works fine:

[code]
So (not surprisingly) the issue is all mine! So I will close this issue and add it to my long list of issues.

But any suggestions on what to check would be greatly appreciated. So far I have checked:

0) my data

[2021-09-08 21:51] spaulins-usgs commented on #1231
@wkitlasten Chris pointed out that there could potentially be a problem with layered vs non-layered data.  To see if this is the problem you can try forcing FloPy to create layered data with the following line:

    gwf.dis.botm.make_layered()

After you call make_layered you can then call set_data:

    gwf.dis.botm.set_data(botm_data)

[2021-09-08 22:24] wkitlasten commented on #1231
Hey thanks @langevin-usgs and @spaulins-usgs, `make_layered()` worked!

I was building a basic gwf model with the horizontal extend defined, but generic layering:

[code]
`gwf.dis.botm.layer_shape()` returns (15,0) but `gwf.write()` produces a .dis file without botm layered. I never actually wrote that basic .dis file to see if botm was layered. Now I know!

[2021-09-08 22:24] #1231 closed

[2021-09-08 23:39] spartan44L opened #1232 "Can not access head file (.hds) using Flopy"
`head = gwf.output.head().get_data()`

The above line on the FlopyQucik.py shows following error:

head = gwf.output.head().get_data()
Traceback (most recent call last):

  File "C:\Users\.../3093209259.py", line 1, in <module>
    head = gwf.output.head().get_data()

  File "H:\Anaconda3\envs\Flopy\lib\site-packages\flopy\mf6\mfmodel.py", line 218, in __getattr__
    raise AttributeError(item)

A

[2021-09-09 14:52] ougx opened #1233 "MF6 DISu bug"
When I create the MF6 DISU file with flopy, it adds an option `VERTICAL_OFFSET_TOLERANCE` not cited in the manual and will create error when run MF6:
[code]

The mf6io manual and flopy's docstring suggest DISU input for `VERTICES` and `CELL2D` which are for DISV. They should be removed.

[2021-09-09 15:14] ougx commented on #1233
Checked MF6. Looks like the option is included in the latest release of MF6.

[2021-09-09 15:14] #1233 closed

[2021-09-14 07:30] tim-mitchell opened #1236 "Cannot open mf6 simulation with a space in the TDIS package file name"
Importing the attached modflow model fails.
[MODFLOW 6 DISV - 1.zip](https://github.com/modflowpy/flopy/files/7159666/MODFLOW.6.DISV.-.1.zip)
using `flopy.mf6.MFSimulation.load(sim_ws=r'D:\Modflow\MODFLOW 6 DISV - 1')`

In `MFSimulation.register_package` the name_file tdis attribute is set to `package.filename`
flopy/mf6/modflow/mfsimulation.py:1822
However the `MFScalar.set_data` method splits th

[2021-09-14 21:18] tim-mitchell opened #1237 "flopy does not handle UNC file paths"
`MFFileMgmt.string_to_file_path` strips the leading backslash of unc file paths.
[code]

[2021-09-15 14:14] oscarfasanchez commented on #1228
I have an irregular structured grid

[2021-09-15 17:11] spaulins-usgs opened #1239 "MF6 support for multiple instances of the same package"
Some packages can appear multiple times in the same model, others can not.  This information is currently hardcoded in flopy.  Instead of hard coding this information, it will be read from the dfn files.  Packages that support multiple instances in the same model will contain the following line in their dfn file:

\# flopy multi-package

[2021-09-15 17:42] zndedel opened #1240 "evapotranspiration package"
Hi,
I've created my Evt package using flopy and Modflow 6 but when I run the model it returns the following error .  EVT stress period data has no nan values. could you please help to get rid of the issue? Thank you

ERROR REPORT:

  1. *** ERROR OPENING FILE "SS.evt" ON UNIT 1012
  2. *** FILE ALREADY OPEN ON UNIT: 1011
  3.       SPECIFIED FILE STATUS: OLD
  4.       SPECIFIED FILE FORMAT: FORMA

[2021-09-15 18:30] ougx opened #1241 "[bug] get_ims_package"
Try to read the ims package but get an error:

[code]

[code]
returns `None`

[2021-09-16 17:41] #1240 closed

[2021-09-17 16:16] langevin-usgs opened #1244 "Time array series do not work for array input"
The following script shows the problem

[code]

The file mymodel.rch.tas does not have a correct entry for time 1.0.  The file shows:

[code]

So it looks like time array series works for constant arrays but not for actual arrays.  Need a fix and probably a test or two.

[2021-09-22 20:53] #1244 closed

[2021-09-27 03:55] tim-mitchell opened #1247 "flowpy is difficult to package into built applications"
Building flopy with [PyInstaller](https://www.pyinstaller.org/) is a pain because flopy assumes it is running from source files and not packaged as part of some larger application.

As for python packaging, non-python files need to be listed separately (similar to MANIFEST.in).
It would be nice if  `pyinstaller script_using_flopy.py` just worked.
Currently the resulting executable crashes with
[co

[2021-09-28 21:01] jlarsen-usgs commented on #1232
What version of flopy are you using? The `.output` property is a relatively new addition to flopy's mf6 functionality.

[2021-09-29 16:37] RyanConway91 opened #1250 "ZONBUD does not work MF6 model with exchange"
ZONBUD does not work MF6 model with exchange. The actual zbud6.exe does however.

[2021-09-29 17:23] jlarsen-usgs commented on #1250
@RyanConway91

Are you using Zonbud6? This class runs the zbud6 executable. [How to use ZB6](https://flopy.readthedocs.io/en/3.3.4/_notebooks/tutorial01_mf6_output.html#Creating-and-running-ZoneBudget-for-MF6)
[code]

[2021-09-29 17:37] RyanConway91 commented on #1250
I was using flopy.utils.zonbud. I was not aware of the ml.output.zonebudget() method. Thanks!

[2021-09-29 17:39] #1250 closed

[2021-09-29 20:05] RyanConway91 opened #1251 "Cleaning cbb file with exchanges for MODPATH 7"
I have some nested (r,c,l dis) model results I want to use MP7 on. It seems MP7 will not work on the cbb file if exchanges flows are written to the cbb. I believe the best current solution is to re-run the nested models separately with wells inplace of the exchanges , where the well flux was read from the exchange flows.

It would be great if flopy had the functionality to "clean up" an exchange C

[2021-09-30 12:19] langevin-usgs commented on #1251
Ideally, we should fix MODPATH to work correctly.  If the budget save settings are specified properly, the nested model cbb file should have the exchange flows in them (they will be labeled with FLOW_JA_FACE).  But it sounds like MODPATH is choking on them.  I've filed an issue on the MODPATH repo as that may be a better place for it (https://github.com/MODFLOW-USGS/modpath-v7/issues/26).  Coding

[2021-09-30 12:19] #1251 closed

[2021-09-30 15:40] #1127 closed

[2021-09-30 15:40] #1228 closed

[2021-10-01 12:09] #1095 closed

[2021-10-04 10:17] spartan44L commented on #1232
Hello jlarsen,

I have been using the Flopy 3.3.4.

[2021-10-05 19:01] jdhughes-usgs commented on #1232
@spartan44L have you tried the development version of flopy? If so and you still are having this problem can you confirm that 1) you are using MODFLOW 6 (this functionality only works with MODFLOW 6 models) and 2) that the size of your head file is not 0 bytes.

[2021-10-05 20:20] jlarsen-usgs commented on #1229
@javgs-bd

It looks like the modelgrid is not getting updated properly when the `modelgrid.is_complete` flag is True. I'm working on an update to fix this issue. Thanks for reporting it!

[2021-10-05 22:47] jdhughes-dev opened #1257 "generic optional import function"
Replace `try` `except` import statements with generic function. See #1238 for examples from pandas.

[2021-10-06 12:35] #1237 closed

[2021-10-06 15:14] Boorn123 opened #1259 "Cannot open subsidence.hds generated from the SUB package"
I created a model based on Modflow 2005. The SUB package has been added. I tried to open the subsidence.hds file generated from the model that shows a normal termination of simulation.
[code]
However, an error occurred as follows.
[code]
All the input and output files as well as the script have been attached. Any responses and help will be very much appreciated.
[Model.zip](https://github.com/modf

[2021-10-06 15:49] #1229 closed

[2021-10-07 01:43] mwtoews commented on #1259
The error message is not really helpful, but try `flopy.utils.HeadFile(fname, text="subsidence")` to read other data files.

[2021-10-10 00:54] #1259 closed

[2021-10-11 23:53] fahadkhan469 opened #1263 "Unable to load .NAM file using Flopy"
Hi everyone,

I am facing a problem while loading modflow input files with Flopy. I am trying to load the .NAM file and also the .SFR file, and in both cases, I am facing the following errors. All my model input files are uploaded in this Google Drive folder.

1. When I try loading the .NAM file, I get the following error

my code,

[code]

error I receive,

2. When I try loading the .SFR file, I

[2021-10-13 18:52] #1257 closed, assigned to jdhughes-dev

[2021-10-13 19:42] fahadkhan469 commented on #1263
Hi @jlarsen-usgs, do you have some time to look into this?

Fahad

[2021-10-14 06:30] fahadkhan469 commented on #1263
Hi @jlarsen-usgs, once the issue is resolved, could you please tell me what I need to do on my end? Do I need to update the flopy package?

[2021-10-14 09:00] zhangboen opened #1265 "NWT model with SUB package leads to error"
I would like to use MODFLOW-NWT to simulate land subsidence. I have created a MODFLOW-NWT model without SUB package and it works well, but it did not terminate normally if the SUB package is added. If I use the same dataset to create a MODFLOW-2005 model with SUB package, it works well. Since most settings are the same, I wonder why the MODFLOW-NWT with SUB package does not work. Attaching is my t

[2021-10-14 15:34] fahadkhan469 commented on #1263
Hi @jlarsen-usgs I modified the mffhb.py file from my local drive, based on the changes you made in the mffhb.py file from pull #1264. The model now loads fine! I am not sure if I would run into any other error with the SFR file, but for now I am good. Thanks a lot!

[2021-10-15 21:16] #1265 closed, assigned to nobody

[2021-10-15 21:24] #1263 closed, assigned to jlarsen-usgs

[2021-10-21 10:13] josht6022 opened #1271 "Module named config and Figspecs not found"
### Discussed in https://github.com/modflowpy/flopy/discussions/1270

<div type='discussions-op-text'>

<sup>Originally posted by **josht6022** October 20, 2021</sup>
I am working on example 44. Zero-Order Production in a Dual-Domain System.
[(https://modflow6-examples.readthedocs.io/en/latest/_notebooks/ex-gwt-mt3dsupp632.htm)]

It seems that the **config** and **figspecs** libraries are not work

[2021-10-21 12:22] langevin-usgs commented on #1271
I'll take a look at this and let you know in the Discussions when it's fixed.  We moved some things around and so maybe those examples need an update.  Thanks for pointing this out.  Will close this issue.

[2021-10-21 12:22] #1271 closed, assigned to nobody

[2021-10-31 08:49] haifan-upc opened #1277 "problems of compiling the sln file in msvs"
I opened the mf6.sln file in the msvs folder and tried to compile it using VS2019. However, the exe file can not be created, and "the thread 0xcc4 has exited with code 2(0x2)" and  "the thread 0x590 has exited with code 2(0x2)" are reported. How to deal with this problem. Thanks.

[2021-10-31 13:20] langevin-usgs commented on #1277
This is not a problem with flopy.  You can ask on the MODFLOW Github page, but without more information we won't be able to help.

[2021-10-31 13:20] #1277 closed

[2021-10-31 19:07] #1241 closed

[2021-11-01 01:26] jdhughes-usgs commented on #1232
@spartan44L is this still an issue? I will close this issue if I don't hear otherwise.

[2021-11-02 01:42] ougx opened #1284 "Not able to read comma separated data"
MF (free format) will read

[code]
as

[code]

Flopy currently is not able to do so as it is always assumed the line is whitespace separated.

[2021-11-02 12:58] langevin-usgs commented on #1284
Close with #1285

[2021-11-02 12:58] #1284 closed

[2021-11-02 12:58] #1232 closed

[2021-11-02 22:33] Olsthoorn opened #1286 "Modflow no longer flushes buffer to files upon ending program under MacOS Monterey"
This is a new issue beyond **flopy** on the Mac. After updating to the new **MacOs Monterey**, and running **modflow2005** via **flopy** to **normal termination**, **flopy** stumbles over reading the **binary head file**, saying it it can't convert the read data to the desired shape of the layer. Further, the **listfile** is no longer complete; it now misses a few of the last lines it normally pri

[2021-11-05 03:15] briochh opened #1289 "pathing issues with models in sub directories"
This is possibly related to #1115.

I understand that external files within packages are expected (by modflow6) to be pathed relative to the simulation directory. I think flopy is trying to handle this where models are in subdirectories (or potentially just different directories to the simulation directory). The strategy seems to be that flopy prepends the model relaitve path to the file entry wit

[2021-11-05 14:10] spaulins-usgs commented on #1111
@aleaf There have been a number of fixes they may have fixed this issue since it was created.  I just tested the example code with the latest flopy on the develop branch and it now works.  Going to close this issue unless you can still reproduce it.

[2021-11-05 14:12] #1133 closed

[2021-11-05 14:13] #1183 closed

[2021-11-05 14:29] aleaf commented on #1111
great, thanks @spaulins

On Fri, Nov 5, 2021 at 9:10 AM spaulins-usgs ***@***.***>
wrote:

[2021-11-05 14:35] jtwhite79 commented on #1183
Thanks @spaulins-usgs !

[2021-11-06 19:19] Flopynoob opened #1291 "Concentration observations in MT3DMS"
Hello, I am new to flopy and python in general.

I am looking for a way to put the concentration observations into the model ( to get some breakthrough curves using MT3DMS) but it seems there is no package to do this.
( https://flopy.readthedocs.io/en/3.3.2/code.html)

Is there any way to trace the concentration at one location ( which will represent a sampling/observation well ) so I can plot the

[2021-11-07 20:03] briochh commented on #1289
I think also related to  #1126

[2021-11-08 13:39] #1291 closed

[2021-11-10 11:45] hjia1005 opened #1295 "Problem with loading STR package for a mfusg model"
All other packages are loaded successfully except STR. The following error message was displayed:

v = [tt(vv) for tt, vv in zip(type6, t)]
ValueError: invalid literal for int() with base 10: 14347.4667 - which is supposed to be the Flow.

Then I checked the file mfstr.py, seems Flopy failed to recognize this is an unstructured grid type for this package, but it load other packages. It expects a t

[2021-11-10 14:28] langevin-usgs commented on #1295
@cnicol-gwlogic, any chance you could take a look at this?  I suspect there is a quick fix.

[2021-11-11 10:28] hjia1005 commented on #1295
It worked, thank you very much @cnicol-gwlogic!
Are TVM and adaptive timesteps in OC in your next schedule?

[2021-11-11 10:57] cnicol-gwlogic commented on #1295
No worries @hjia1005. I had no immediate plans for oc ats or tvm, but neither would be too hard for basic read/write functionality. I'll give it a shot, sure.

[2021-11-11 13:29] #1295 closed

[2021-11-15 22:08] briochh commented on #1289
I have plumbed in a simple test on my fork to catch this issue:
https://github.com/briochh/flopy/blob/437263b510c4a6f82a4fb0f41f76ef8273ae231d/autotest/t501_test.py
The issue seems to relate to the fact that we loop through the same methods when reading and writing.

When writing, we append the model relative path to the external file path (which is passed to flopy initially as relative to the mod

[2021-11-17 09:09] jonathanqv opened #1299 "Voronoi Grid"
Hi everyone, I was not able to run the VoronoiGrid class/function until I installed the last GitHub available version. I found an error in my grid that may be useful for improving this. Will show it with images. Thanks!

<img width="445" alt="img1" src="https://user-images.githubusercontent.com/28972555/142170957-b37310f9-05d8-4f00-8cc9-8e88aa56f88b.PNG">

<img width="285" alt="img2" src="https://

[2021-11-17 13:23] langevin-usgs commented on #1299
Hi @jonathanqv, we are glad you reported this.  Can you post a short script to this issue that would allow us to regenerate this strange case?  Thank you.

[2021-11-17 19:53] javgs-bd opened #1300 "Unable to load RCH package with inflow concentrations MF-USG model"
I'm trying to load a MF-USG model that has inflow concentrations on RCH Package. I can load the model by using ````forgive = True, check = False```` with flopy.modflow.Modflow.load. However the recharge package is not loaded.
When setting  ````forgive = False, check = True```` the following error log indicates that the problem lies in the third line of the RCH package, where variable INCONC is spe

[2021-11-17 21:25] jonathanqv commented on #1299
Hi @langevin-usgs , thanks for your reply. I am a big fan of your work.

I have the shapefiles here:

https://github.com/jonathanqv/VoronoiError

The script goes as follows:

`import os, sys, flopy
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import LineString, Point
from flopy.utils.triangle import Triangle as Triangle
f

[2021-11-17 22:08] langevin-usgs commented on #1299
So I took a quick look and was able to reproduce the issue using the data files and code that you sent.  I think the problem is in some of the low-level voronoi calculations that require a certain level of precision.  In your case, you have very large x and y values, so the easy solution is to just translate your gpd shapes prior to creating and working with the grid.  So for example, I modified y

[2021-11-18 14:07] #1289 closed

[2021-11-18 18:08] jonathanqv commented on #1299
Oh, that's a nice trick. Thanks! The last error I have is when I try to create the intersect object "flopy.utils.GridIntersect". I get an "list index out of range" error. I was thinking that it may be a shapely library error as I am using a windows computer with the ".whl" files for Shapely.

![image](https://user-images.githubusercontent.com/28972555/142471728-b18bb369-6f4a-4457-967a-f312e3f2e865

[2021-11-19 08:02] dbrakenhoff commented on #1299
I'll check today if I can figure out what's going wrong in GridIntersect. It seems to be tripping over an empty list of points while converting voronoi cells to shapely Polygons.

[2021-11-19 11:12] dbrakenhoff commented on #1299
There is one entry in `VertexGrid._cell2d` that is empty it seems. This means GridIntersect can't convert that cell to a Polygon which is the error you're seeing.

[code]

For me this results in:
[code]

Not sure if this is a bug in `VoronoiGrid`? This the location of the xc, yc list aboved in the grid.

![image](https://user-images.githubusercontent.com/6552225/142613001-853b5883-b449-4c0f-9a3c-2

[2021-11-19 13:27] langevin-usgs commented on #1299
@dbrakenhoff, thank you for looking into this.  This must be an error in the voronoi mesh generator.  I'll take this on.

[2021-11-20 15:41] jonathanqv commented on #1299
If it helps, I was getting the same error with this geometry from the flopy3_voronoi.ipynb example file (the last one in the examples)

![image](https://user-images.githubusercontent.com/28972555/142732362-6f7b89be-4269-43a0-a495-f7b300771021.png)

The other examples work okay.

[2021-11-22 02:57] cnicol-gwlogic commented on #1300
Hi @javgs-bd, I plan on bringing some of this capability in to Flopy. There is a bit to do first to enable autotests for usg-transport however. But keep an eye out - I'll try to get this happening over the next couple of weeks.

[2021-11-23 12:24] Hugovdberg opened #1302 "cross_section plot_pathline sorts trace by x coordinate"
I'm plotting pathlines in a simple 2D model that initially move in the positive x-direction but then turn around to end up on the other boundary. When I plot it with plain matplotlib as follows I get this, which I would expect:
[code]
![image](https://user-images.githubusercontent.com/6945503/143019458-ee2cf917-0603-4c8d-8499-3c2cb538523c.png)

However, the resultant plot looks similar to this, al

[2021-11-23 12:27] javgs-bd commented on #1300
Many thanks @cnicol-gwlogic, really appreciate it.

[2021-11-23 15:21] porterma opened #1303 "Error with flopy3_triangle example"
Hey there,
I installed a virtual anaconda environment using python 3.9 and then installed the latest release candidate of flopy. From there I ran the flopy3_triangle.ipynb and got the following error in line 75 of geospatial_utils.py:

AttributeError: 'NoneType' object has no attribute 'Shape'

I stepped into `tri.add_polygon(circle_poly)` in my script, then stepped into `geom = GeoSpatialUtil(pol

[2021-11-23 17:19] jlarsen-usgs commented on #1303
@porterma

It looks like this is a bug in the GeospatialUtils module, where we are not checking if the package has been successfully imported. I'll put together a fix for this.

[2021-11-23 17:24] jlarsen-usgs commented on #1302
@Hugovdberg I'll take a look at this.

[2021-11-23 18:11] jlarsen-usgs commented on #1302
@Hugovdberg

I've put together a fix for this. The code as it's written intersects and reprojects the particles on to the cross section. When it does this the pathline locations are stored in the cross section grid cell drawing order. This works well if the particles do not reverse direction over the course of the simulation, but as you've demonstrated if they do, the method does not draw the path

[2021-11-23 19:42] Hugovdberg commented on #1302
Thanks for the quick fix! And regarding the description, I know how frustrating it is to have an issue filed "it just doesn't work, sometimes".

[2021-11-23 21:30] jlarsen-usgs opened #1306 "A number of autotest files are being skipped with pytest"
Opening this issue, because a number of tests are being skipped over by pytest. For example, t001_test.py, t002_test.py, etc... are recognized and run properly. However, naming conventions like t004_test_utilarray.py are not being run locally or within the Github actions CI by pytest.

According to the pytest documenation:
![Clipboard](https://user-images.githubusercontent.com/19962180/143132030-6

[2021-11-23 21:44] jlarsen-usgs commented on #1306
Adding a pytest configuration file can solve this issue. [changing naming conventions](https://docs.pytest.org/en/6.2.x/example/pythoncollection.html#changing-naming-conventions)

Our naming convention would then need to be:

`python_files = *_test*.py`

I'll put together a PR for this issue.

[2021-11-24 08:33] Smith0710 opened #1308 "MF6: model.output.budget().get_ts() method error"
In attempting to extract a budget timeseries from MF6 results using the .output.budget().get_ts() method the following error notification is occurring: "AssertionError: A modelgrid instance must be provided during instantiation to get IMETH=6 timeseries data"

Thanks

[2021-11-30 16:25] #1111 closed

[2021-11-30 18:14] mrush-usgs opened #1311 "MFSimulation.load() Method Looks for DIS Package in Model Path Rather Than Path Specified in model.nam File"
When I try to load a simulation using:
sim = MFSimulation.load(sim_ws=model_pth)

flopy looks for the DIS package in model_pth, rather than the relative path that is specified in my model.nam file:
 dis6  ..\external_files\model.dis  dis

I am using the develop branch. When I install the master branch, I get a similar error, but with the TDIS package instead. For the time being, I have commented o

[2021-12-01 15:26] spaulins-usgs commented on #1308
Try giving the CellBudgetFile a modelgrid:

[code]

And then make your get_ts call:

`budget_frf = budget.get_ts((1, 1), "FLOW-JA-FACE")
`

[2021-12-03 13:42] kallejahn opened #1313 "Error loading MF6 UCN file with utils.UcnFile, but works with utils.HeadFile"
When attempting to read a UCN file generated by MF6 using `flopy.utils.UcnFile` I have been getting the following error:
[code]
I have also tested this on the MF6 UCN from the example problem **ex-gwt-mt3dms-p10**. I get a similar error:
[code]

However, I can read MF6 UCN files successfully using `flopy.utils.HeadFile(filename, text='CONCENTRATION')`.

This works fine as a workaround, but I figur

[2021-12-03 21:40] #1303 closed

[2021-12-03 21:42] #1306 closed

[2021-12-03 21:44] #1302 closed

[2021-12-06 03:27] Smith0710 commented on #1308
Thanks very much @spaulins-usgs. This method works well. I also found the `.get_data()` method can be used with appropriate array pointers and retrieves results for all model cells for the given text type (e.g. 'DRN') without the need to specify a list of cell locations.

[2021-12-06 14:43] #1028 closed

[2021-12-06 20:21] jlarsen-usgs opened #1314 "Cannot install flopy version 3.3.4 from pypi on Windows"
@jdhughes

I'm currently unable to install flopy 3.3.4 from the pypi release. There seems to be an issue with installation when using pypandoc to convert the rst file to the long_description variable. See error message below.

I can, however, install from the master branch of the github repository.

![Clipboard](https://user-images.githubusercontent.com/19962180/144916630-c4c97643-01e6-4e70-8ff3-5

[2021-12-08 17:13] MostafaGomaa93 opened #1317 "Problem with the refinement method of Gridgen"
I am creating a quadtree grid using the gridgen method. I have a problem with the level of refinement. The grid has 6 layers in which I select layer 1 only to be refined (See please line 95 of my attached code).

When I select the level of refinement = 3 or more, and although I select only layer 1 for the refinement, both layers 1 and 3 will be refined !!. I really have no idea why layer 3 is also

[2021-12-08 17:15] MostafaGomaa93 commented on #1317
Another small issue:
Is there anyway to define the projection of the generated quadtree shapefile? I see this can be done with the grid generated by the dis package, but don't how to do it with the gridgen module

[2021-12-09 22:37] #1311 closed

[2021-12-10 18:42] #1308 closed

[2021-12-14 21:25] jlarsen-usgs commented on #1317
@MostafaGomaa93

It looks like our gridgen module does not include the option to set `SMOOTHING_LEVEL_VERTICAL` or `SMOOTHING_LEVEL_HORIZONTAL`. Because the default is `SMOOTHING_LEVEL_VERTICAL=1`, the gridgen executable is smoothing layer 3 (below the layer that you've set refinement features on). I'll take a look at adding these to the `gridgen.py` module.

I can also look into the issue of defi

[2021-12-15 12:57] langevin-usgs commented on #1317
A word of caution that smoothing in the vertical direction is highly recommended.  I think we intentionally skipped adding support for shutting off vertical smoothing as the simulated flows can do very strange things.  I think it's fine to add support for this, but be wary of the simulated flow results.  Some of the challenges are described here: https://ngwa.onlinelibrary.wiley.com/doi/abs/10.111

[2021-12-16 18:31] spaulins-usgs commented on #1236
@tim-mitchell This issue should be fixed with the latest commit.

[2021-12-18 22:42] rhugman opened #1319 "MODPATH7 read pathlines: ValueError: could not convert string to float: '0.99232836-100'"
G'day,

Not sure if this should be a Flopy issue or a MODPATH7 issue.

MODPATH7 occasionally writes very small numbers in scientific notation without the E; if I understand correctly this is to maintain column widths. (Similar issue to MODFLOW-USGS/modflow6#615)

When this happens, reading pathline files with the `flopy.utils.PathlineFile.get_destination_pathline_data()` or `get_destination_endpoi

[2021-12-20 11:07] dbrakenhoff commented on #1319
Hi @rhugman,

I ran into a similar issue using Modpath7, I think: https://github.com/MODFLOW-USGS/modpath-v7/issues/27
This was fixed in the develop version of Modpath7, not sure if there has been an official release since then. Maybe that helps?

Kind regards,

Davíd

[2021-12-20 22:02] jdhughes-usgs commented on #1314
I was able to install `flopy=3.3.4` in a fresh `python=3.9` conda environment without `pypandoc`. Reopen this issue if you are still having problems with the pip installation.

[2021-12-20 22:02] #1314 closed

[2021-12-20 23:01] rhugman commented on #1319
Thanks @dbrakenhoff, that did the trick.

[2021-12-20 23:01] #1319 closed

[2021-12-21 16:48] #1236 closed

[2021-12-21 17:15] spaulins-usgs commented on #1140
@jtwhite79 I just checked in some code on my branch for the cell inspector feature.  It is still preliminary, but I wanted to get your feedback before I go back and test it on every package.  The cell inspector feature can be found on my fork here:

https://github.com/spaulins-usgs/flopy

The cell inspector feature is run at the model level and can be run by passing a list of cells to inspect alon

[2021-12-28 17:47] jlarsen-usgs commented on #1313
@kallejahn
This sounds like an issue with the precision setting (occassionally "auto" doesn't determine the precision of binary files properly). Try using the call `flopy.utils.UcnFile(filename, precision="double")` and report back.

[2021-12-28 17:51] jlarsen-usgs commented on #1317
Maybe the best way to add the vertical smoothing shutoff support is through a keyword argument. That way the support exists, for the rare instances that people want it, but isn't a standard parameter that users will commonly adjust.

[2021-12-28 19:38] kallejahn commented on #1313
@jlarsen-usgs
Thanks for taking a look! I'm getting the same UserWarning while setting "double" precision, even when just looking at the example problem **ex-gwt-mt3dms-p10**. I also tried creating a fresh conda environment, but still the same.

In addition to the UserWarning, I'm also getting this IndexError. Forgot to include that in my first post, looks like there's maybe an issue reading the h

[2021-12-28 19:55] jlarsen-usgs commented on #1313
@kallejahn

I think I see what's happening here. It looks like the binary headers from modflow-2005 compatible transport code is different than that of the modflow-6 transport code. You are correct that we do need to document this and/or update the `UcnFile()` code to let the user specify if they are working with MODFLOW6.

Also as an FYI:
If you have your modflow6 simulation loaded in flopy you c

[2021-12-29 14:38] #1317 closed

[2021-12-29 14:41] langevin-usgs commented on #1313
Sorry for the confusion.  With MODFLOW 6 transport, you have to use the HeadFile class with the text="CONCENTRATION" argument, as you've found.  @jlarsen-usgs's recommendation to use the .output method is the preferred way to access model results from MODFLOW 6.  The UcnFile class is specific to MT3D.

[2021-12-29 14:41] #1313 closed

[2021-12-29 17:38] javgs-bd commented on #1300
Hi @cnicol-gwlogic, just some notes on this topic that though might be good to pass along. I've noted that something similar is happening for my well package, but now the error is reported as a mismatch in data types.

AssertionError: MfList error: recarray dtype: (numpy.record, [('node', '<i4'), ('flux', '<f4'), ('c01', '<f4')]) doesn't match self dtype: [('node', '<i4'), ('flux', '<f4')]

Two th

[2021-12-29 20:50] cnicol-gwlogic commented on #1300
Thanks @javgs-bd - apologies, I have been too busy to get around to this yet. It is on my list, but it will take some time sorry.

[2022-01-03 22:52] #1299 closed

[2022-01-11 19:28] #1239 closed

[2022-01-11 22:17] #1140 closed

[2022-01-11 23:17] spaulins-usgs commented on #1217
@khayley, I am not able to reproduce this problem.  When I run your script as is with the export line included, the well file includes stress period data ("OPEN/CLOSE  'gwf-well_test.wel_stress_period_data_1.txt'").  I am running your script with the latest version of flopy on the develop branch.  Since this issue is over four months old it is possible that something changed in flopy that has now

[2022-01-14 17:04] #1208 closed

[2022-01-21 13:12] FabioDioguardi opened #1332 "Possible problems with Flopy processing Seawat outputs on Linux"
Dear all,

I am having problems when running the example in attachment in Linux environments using Flopy to post-process results.
I have installed MODFLOW, SEAWAT and all the related software successfully, and the simulations run fine. However, when running this example on Linux (using both the official Flopy latest release and the one in the develop branch) I get the following error:

python exam

[2022-01-21 13:55] langevin-usgs commented on #1332
Can you verify that the MT3D001.UCN file is present and is not empty?  Did you obtain the SEAWAT binary executable for linux from here (https://github.com/MODFLOW-USGS/executables)?

[2022-01-21 14:03] FabioDioguardi commented on #1332
I can confirm the file is present and not empty.
I am actually using a version of Seawat that I compiled (source code taken from here: [https://www.usgs.gov/software/seawat-computer-program-simulation-three-dimensional-variable-density-ground-water-flow]. Do you suggest using the binary executables instead? I was not aware they existed for linux.

Thanks
Fabio

[2022-01-21 14:12] langevin-usgs commented on #1332
Yes, try that binary executable instead.  I think we modify the way the unformatted files are written.  Please close this comment if the problem is fixed.

[2022-01-21 14:14] #1332 closed

[2022-01-21 14:17] langevin-usgs commented on #1332
No problem.  If you want to compile it yourself, you should use the pymake package (https://github.com/modflowpy/pymake).  We use pymake to help with the compilation and ensure that the executables work with flopy and our other tools.

[2022-01-23 18:39] nikobenho opened #1334 "Plotting BC parameter fields"
Hi,

I would like to plot parameter fields of GHB and SFR conductance. I've looked through the example notebooks and found that the function `plot_bc()` accomplishes plotting of boundary conditions using a single color. However, I would like to plot the associated parameter field with each BC but couldn't find an example of this. Is it possible to do so at the moment?

Cheers

[2022-01-24 04:49] cnicol-gwlogic opened #1335 "water mover package load"
Hi,

I'm using flopy (develop branch) to build, write and load an mf6 disu model, with water mover package. On loading mvr, I receive this error:

[code]
I have replicated the issue with a modified form of autotest t504 test_mf6disu(). See [here](https://github.com/cnicol-gwlogic/mf6_test_mvr/blob/main/t504_test_mf6_mvr_load_issue.zip).

If I change the mvr file perioddata id1 and id2 variables to

[2022-01-24 13:52] langevin-usgs commented on #1335
Any insight from here?  https://github.com/MODFLOW-USGS/modflow6/blob/4a64ea77a813036a9d86030bfd643f244f39fe0b/autotest/test_gwt_prudic2004t2fmiats.py#L387

[2022-01-24 16:43] spaulins-usgs commented on #1335
Looks like this is a bug with flopy which only occurs in the mvr package when the unstructured grid (disu) is being used.  The bug has to do with the way flopy tries to determine if a particular column of data is a cellid (flopy treats cellids differently than other data).  In this case flopy is incorrectly interpreting the mvr <id1> field as a cellid.

@langevin-usgs, I think the best solution is

[2022-01-24 17:34] langevin-usgs commented on #1335
Don't we already call fields "cellid" that are cell ids?  Do we ever have a data field with cellids, but we call the data field something else?  We can add another field to the dfns, but it would be nice to avoid that unless it's absolutely necessary.

[2022-01-24 18:08] spaulins-usgs commented on #1335
We mostly call fields "cellid" with a few exceptions.  The exceptions are:

OBS package <id> field
GNC package <cellidn>, <cellidm>, <cellidsj> fields
GWF exchange package <cellidm1>, <cellidm2> fields

The bug I am trying to solve now is that both the OBS package and the MVR package have a field that starts with "id".  With Flopy's current code it is interpreting starting with "id" as "might be a

[2022-01-24 23:55] cnicol-gwlogic commented on #1335
Thanks for the thinking on this. @spaulins-usgs - re: the obs issue, I think you're right that this is a related issue. I (briefly) noticed that for a gwf node obs, flopy was not adding 1 to the cellid on obs file write (for this same disu model).

[2022-01-25 19:00] RyanConway91 opened #1337 "flopy.mf6.MFSimulation.load fails if lake bathy file stored in different dir"
MF6 runs fine, but flopy bombs during load if lake bathy tables are stored in a different dir. For example:

BEGIN TABLES
  2 TAB6 FILEIN lake_bathy_data\lak_bathy_lak_TwU.dat
  ....
Wont work

[2022-01-25 22:11] spaulins-usgs commented on #1335
@cnicol-gwlogic, I pushed a fix to the develop branch.  This should fix the problem you are seeing with the MVR package and should also allow flopy to read/write OBS regardless of whether it is able to determine if <id> is a cellid.  However, there is still a potential problem where flopy may not always correctly determine whether an OBS <id> is a cellid (vs a boundname).  I am still working on fi

[2022-01-25 22:18] cnicol-gwlogic commented on #1335
@spaulins-usgs thanks so much, appreciate it. Will give it a crack.

[2022-01-26 15:00] RyanConway91 opened #1338 "hds.get_kstpkper() returns 0 based kstp,kper while hds.kstpkper returns one based."
hds.get_kstpkper() returns 0 based kstp,kper while hds.kstpkper returns one based.
hds = fp.utils.binaryfile.HeadFile(r"my.hds")

Is there a good reason for this? If not I would think both should be 0 based like most other stuff in flopy?

[2022-01-27 12:49] OnnoEbbens opened #1340 "`get_specific_discharge` returns discharge at the centers while position='faces'"
When I call the function `flopy.utils.postprocessing.get_specific_discharge()` with `position='faces'` I get the discharge of the cell centers instead of the cell faces. Calling the function with `position='centers'` I get exactly the same results.

I tried to use this code to get the specific discharge at the cell faces:
[code]

Looking into the `get_specific_discharge` function I can see that th

[2022-01-27 21:20] #1335 closed

[2022-01-28 12:08] mwtoews commented on #1286
Try using the [GFORTRAN_UNBUFFERED_ALL](https://gcc.gnu.org/onlinedocs/gfortran/GFORTRAN_005fUNBUFFERED_005fALL.html) environment variable.  Similarly, unbuffered I/O in Python scripts can be obtained with `python -u` ([docs](https://docs.python.org/3/using/cmdline.html#cmdoption-u)).

[2022-02-01 05:51] tdeyster opened #1342 "type error when creating MODPATH 7 particle release data"
In mp7particlegroup.py (https://flopy.readthedocs.io/en/3.3.4/_modules/flopy/modpath/mp7particlegroup.html)
the "_Modpath7ParticleGroup" class initializes "releaseinterval" incorrectly when using release option 2 (releasedata = [releasetimecount,releasetimes,releaseinterval]).
Line 77 releasedata[2] is cast to an int rather than a float.
 "releaseinterval = int(releasedata[2])"
should be
"releasei

[2022-02-02 23:46] spaulins-usgs commented on #1337
@jdhughes-usgs, in your PR "ci: convert from nosetest to pytest" you deleted (commented out) test "test045_lake1ss_table" from t504_test.py.  I would like to add that test back in since it is the only lake tabs test we have.  My PR to fix this bug (#1344) includes adding a modified version of test045_lake1ss_table back into our t504 test suite.  Just checking to see if there was a reason for its r

[2022-02-03 23:20] jdhughes-usgs opened #1346 "ci: failure of t074_test_geospatial_util.py with pyshp 2.2.0"
The latest version of pyshp (2.2.0 - released 2/2/2022) causes failure of t074_test_geospatial_util.py

@jlarsen-usgs or @mwtoews any interest in tackling this issue. I have updated the `requirements.txt` and `environment.yml` files to use the previous version as a temporary fix.

[2022-02-03 23:39] jlarsen-usgs commented on #1346
@jdhughes-usgs

I can investigate this issue.

[2022-02-04 18:26] jlarsen-usgs commented on #1346
@jdhughes-usgs
In pyshp 2.2.0 polygon vertices are sorted in the opposite direction as pyshp < 2.2.0. I'm checking through the code to make sure that this doesn't have any unintended consequences for the shapefile or plotting utilities and putting together a patch for `t074_test_geospatial_util.py`.

[2022-02-16 19:12] #1346 closed

[2022-02-16 19:22] #1337 closed

[2022-02-21 01:28] tim-mitchell opened #1358 "flopy.modflow.ModflowLpf has no anglex parameter for MODFLOW USG"
The ModflowLpf class does not support anglex (item 10 of the modflow USG LPF pakage. pg 33 of docs).
Something like this is all thats needed to remedy the situation.

[code]

[2022-02-21 02:33] cnicol-gwlogic commented on #1358
Hi Tim,

We rejigged mfusg support last year. If you use something like the following, you should be able to get anglex support:
`m = flopy.mfusg.MfUsg()
disu = flopy.mfusg.MfUsgDisU(
        model=m, nlay=1, nodes=1, iac=[1], njag=1,ja=np.array([0]), fahl=[1.0], cl12=[1.0])
lpf = flopy.mfusg.MfUsgLpf(m)
lpf.anglex = 1.0`

Hopefully that sorts it out for you.

[2022-02-21 02:50] tim-mitchell commented on #1358
Cool - looks like it's not in the latest release on pypi yet though.

[2022-02-22 22:03] kdemierres opened #1359 "Saturation in a unsaturated model MODFLOW USG"
Hi everybody!,
I'm working with a unsatured model in MODFLOW USG (using Richards equation), and I need to export saturation of unsatured cells (a parameter between 0 and 1) but I can't find how to do it. I've seen in some papers the parameter 'water content', 'water saturation', 'saturation' but I don't know how to get it... I think that there is some postprocess en FloPy to get it but I need your

[2022-02-22 22:44] cnicol-gwlogic commented on #1359
Give this a go (noting I've not tried it myself). I believe saturation is stored in the drawdown file (so you would need ot be saving drawdown via your OC/ATS file; but check the list file for where / if it is being saved).
`saturation = flopy.utils.binaryfile.HeadUFile("<your_ddn_file>", text="SATURATIONU", precision="<single or double>")`
And then something like this for layer 1 (0 in flopy):
`s

[2022-02-23 03:52] hjia1005 opened #1360 "Shapefile export issue with mfusg model"
I was trying to export the model mesh of a usg model to shapefile.

mu.disu.export('model_mesh.shp')

It was exported as a polygon shapefile but seems only gridlines were exported as polygons. Because I cannot change the face color of the cells in QGIS. It happened with all my usg models.

Looking forward to the solution. Thanks.

[2022-02-24 19:31] kdemierres commented on #1359
Thanks you @cnicol-gwlogic! I think that it can work, but I'm having an error when HeadUFile run. After ~1 hour computing (lower than HeadUFile run with .cbb or .hds), following appears :

[code]

I don't understand very well where is the problem and how to fix it ...
Do you have any idea?
Thanks in advance!

[2022-02-24 19:53] cnicol-gwlogic commented on #1359
No I don't know sorry. One hour processing time sounds very weird though. And you can't supply a CBB file to headufile (it's not made for CBB files, only hds/ddn files. Your question might be better placed on stack overflow as I don't think this is a flopy issue as such.

[2022-02-24 20:16] kdemierres commented on #1359
Yes, I'm wrong, I mean cellbudgetfile with .cbb and headufile with .hds. Maybe the problem is .ddn file. What do you mean with stack overflow?

[2022-02-24 20:30] cnicol-gwlogic commented on #1359
https://stackoverflow.com/questions/tagged/flopy or else there is a modflow Google group for general support too. See the front page of this flopy repository for details.

[2022-02-24 21:11] kdemierres commented on #1359
Thanks you very much!

[2022-02-25 01:27] hjia1005 commented on #1360
Hi just want to report that the problem is solved by using the 'Fix geometries' tool in QGIS.

[2022-02-25 01:27] #1360 closed

[2022-03-01 20:00] Atreyagaurav opened #1364 "The documentation of flopy function definitions are not beginner friendly"
Hello,

I have recently tried to use flopy to do some groundwater modeling and I'm finding it quite hard to understand what the functions are supposed to be doing, the function names are abbreviated so much that it feels like you already need to be expert or already be comfortable in using modflow to be able to use it.

Example description (Almost every function I've yet looked at has description

[2022-03-04 21:31] wkitlasten opened #1365 ""dominant" option for flopy.utils.rasters.resample_to_grid?"
I am resampling a finer resolution raster of categorical data (geologic classification) to my model grid. I use the geologic classification to assign properties, determine observations of interest, etc. It appears the resample_to_grid method is picking up the value at the center of the grid cell (or am I mistaken?), which doesn't necessarily represent the dominant category in the cell (e.g. if the

[2022-03-10 20:55] kdemierres opened #1369 "Read drawdown file MODFLOW USG with flopy"
Hi everybody,
I'm trying to read the drawdown file (.ddn) of una MODFLOW USG model. I'm using HeadUfile because it is and unstructured model, but I'm not sure if it is right, the code takes a lot of time computing. The Flopy manual doesn't specify if we have to use HeadFile or HeadUFile for MODFLOW USG drawdown file. Do you know what is right?
Thanks you in advance.

[2022-03-10 21:22] cnicol-gwlogic commented on #1369
Hi,

If your model is unstructured (i.e. your model has a disu file), use HeadUfile. Some things I can think of that could cause issues:
* Do you have CLNs in your model? If so, if ddn/saturation is being saved to the same ddn file as groundwater node heads, then you will encounter issues. You need to save CLN heads/ddn/saturation to different hds/ddn files if you want to use flopy with your model

[2022-03-11 14:36] sebmeng opened #1372 "I get the "half" of the cells when exporting a MF6 model to VTK"
Hello, community!
I created a MF6 model in GWV, and I was trying to see the results and the hydraulic conductivity distribution in 3D using floPy.  When I did this, I got the half of the cells (lower left triangle), instead of the whole cell (rectangles) as shown in the attached file:

![cells](https://user-images.githubusercontent.com/48210348/157887698-d135bb9c-bbe3-432f-9c9d-81f061536421.PNG)

[2022-03-12 03:39] kdemierres commented on #1369
Hi Chris,
I've checked all things except try with a PEST utility because I don't know how to do it. But all other things are ok. If you can take a look, I uploaded the files [here](https://drive.google.com/drive/folders/1eKpr1BYvApoRkUWv785Yoy-aiubAHU9n?usp=sharing).
Thanks you very much!

[2022-03-12 21:45] cnicol-gwlogic commented on #1369
The problem is you have no saturation data in your ddn file. I guess flopy should detect this and report an error, but it is not.

None of the below is a flopy issue.

You can confirm the contents of your ddn file has saturations in it by:
* checking the modflow list file like I suggested earlier (there is no mention of the word "saturation" (nor "richards"))
* or running usgarrdet from the pest g

[2022-03-14 12:49] langevin-usgs commented on #1372
I'm sure this is something simple and possibly a bug in the flopy export.  Can you replicate the problem with a simple test model or upload your model files to this issue?  We can take a look.

[2022-03-14 13:24] sebmeng commented on #1372
[model_MF6.zip](https://github.com/modflowpy/flopy/files/8245138/model_MF6.zip)

Thank you, Chris! I've attached the files,
I'm looking forward to your response,

Regards.

[2022-03-14 17:37] sebmeng commented on #1372
[MF6.zip](https://github.com/modflowpy/flopy/files/8247250/MF6.zip)

Hello Chris! I am sending you again the files, the previous zip had some missing files.

 I'm looking forward to your response,

Regards.

[2022-03-15 16:28] langevin-usgs commented on #1372
Hey @sebmeng, I had a chance to look into this yesterday and I think I know what the problem is. I just haven't had time to fix it.  I believe the issue is related to the list of vertices in the cell2d block of the DISU input file.  MODFLOW 6 will accept the list of vertices for each cell with the last vertex equal to the first vertex or without "closing" the cell polygon.  So for a square cell wi

[2022-03-18 14:23] MDMascini opened #1375 "How to access water content with utils.binaryfile"
Hi there!

Im trying to get the water content of the cells of my ground water flow model with the UZF package. I have specified a name for the binary output file in the UZF package as follows:

`uzf = flopy.mf6.ModflowGwfuzf(
    gwf,
    pname="UZF-1",
    nuzfcells=nuzfcells,
    packagedata=packagedata,
    perioddata=uzf_perioddata,
    save_flows=True,
    wc_filerecord = "{}.bin".format(name

[2022-03-18 15:52] MDMascini commented on #1375
This worked perfectly, thank you!

[2022-03-18 18:01] rosskush opened #1376 "disu package not loading correctly AttributeError: 'NoneType' object has no attribute 'load'"
Howdy,

So this issue seems to be part of the new release 3.3.5, when loading a modflow usg model I am receiving an error

`    mf = flopy.modflow.Modflow.load('mfusg.nam',version='mfusg',check=True,forgive=False,model_ws=model_ws,load_only=['disu'])
  File "C:\Users\rossk\miniconda3\envs\geopy38\lib\site-packages\flopy\modflow\mf.py", line 809, in load
    dis = disnamdata.package.load(
Attribute

[2022-03-18 18:13] rosskush commented on #1376
Actually I went ahead and tested it out with a USG version of freyberg if it helps.

https://github.com/rosskush/usg_freyberg

https://github.com/rosskush/usg_freyberg/blob/741cd3bddf4d6e52c4bafdce20a6610bc1b347f5/load_usg_freyberg.py#L7

[2022-03-18 18:17] cnicol-gwlogic commented on #1376
Hi,

Try this instead:
mf = flopy.mfusg.MfUsg.load('mfusg.nam',version='mfusg',check=True,forgive=False,model_ws=model_ws,load_only=['disu'])

We restructured the mfusg bits recently.

[2022-03-18 18:57] rosskush commented on #1376
This works great! Thanks.

This change explains why I had such a hard time following what was going on as I've been reading in usg models like this for several years, but it is a welcomed one!

[2022-03-18 18:57] #1376 closed

[2022-03-18 21:09] rosskush opened #1377 "mf.change_model_ws(etx_model_ws, reset_external=True) not writting external for well package"
Howdy again, I have run into an issue when using the new MfUsg object.

In the 3.3.4 release this writes out a .ref file for each stress period for the well file however with 3.3.5 the well file looks like a normal well file with the data stored internally.

`    mf.external_path = "."

    if os.path.exists(ext_model_ws):
        shutil.rmtree(ext_model_ws)

    # change dir and write
    mf.chan

[2022-03-18 21:11] cnicol-gwlogic commented on #1377
@swfwmd - any chance you could have a look at this?

[2022-03-19 00:14] #1375 closed

[2022-03-19 00:20] jlarsen-usgs commented on #1372
@sebmeng

I just submitted a pull request to fix this issue. The Vtk class was stripping off the first record in each set of vertices, because previously Stuctured and Vertex grid models supplied the cell number as the first record. This has been fixed, and now it is not necessary to have a closed polygon.

In addition, I found and fixed a couple of other vtk export errors with regard to exporting

[2022-03-19 00:51] mwtoews commented on #1365
The default for `method` is nearest, which typically represents values an the center of the grid cell.

This feature could be implemented using scipy's [mode](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mode.html#scipy.stats.mode), which is similar to GDAL's [mode](https://gdal.org/programs/gdalwarp.html#cmdoption-gdalwarp-r) resample method that "selects the value which appea

[2022-03-19 02:44] ZitongZhou commented on #1286
My Modflow and MT3DMS models are all outputing empty files now, and I have a feeling that it is the same issue as Theo ran into. I'm using the make_xxx.py to compile executables, for me mf2005.f file is automatically generated and then deleted when the make_mf2005.py is done running. How do you keep the .f files during compiling the executables?

[2022-03-19 15:09] #1372 closed

[2022-03-21 01:16] hjia1005 opened #1379 "gridgen refinement"
Hi, I am trying to use Gridgen to generate a mfusg grid.

g.add_active_domain works fine and all other features are refined as expected by using add_refinement_features.

I also want to refine the model boundary. I extracted the model boundary line and used it for refinement. It's a single closed line. However, Gridgen only did the refinement along the eastern and southern parts of the line but le

[2022-03-21 01:35] hjia1005 commented on #1379
Hi, found the issue.

The defined extent of the base model was a bit small, which exclude some boundary cells. Closed.

[2022-03-21 01:35] #1379 closed

[2022-03-22 04:59] hjia1005 opened #1380 "Suggestion: load function for Gridgen object"
Building a Gridgen object can be very slow when there are many features to be refined in the model.
I hope there is a function to load the Gridgen object later from those files.
Thanks for all the efforts!

[2022-03-24 14:50] JhonT01 opened #1384 "FloPy 3.3.5 Load model error "list index out of range""
Thanks for reading. I am currently trying to load a MODFLOW6 simulation with the FloPy library and when migrating to version 3.3.5 I receive the following error "IndexError: list index out of range".

The next code run succesfully in FloPy version 3.3.4 like i write before makes and error the version 3.3.5

CODE:

[code]

The next code is the ERROR:

[code]

[2022-03-24 16:06] jlarsen-usgs commented on #1365
@wkitlasten

I've had adding mode on my list and can implement it. I agree that it would be useful for resampling data sets like geologic data and land cover.

[2022-03-25 11:06] marcowhites opened #1385 "Allocated memory"
Hi,
I am running multiple instances of a big transient MF6 model within Flopy on a HPC and I am encountering some issue with amount of memory required by Flopy and the number of nodes I can use. I wonder if others have had the same issue. Is there a way to free up RAM after the write_simulation() command. I can run the MF6 outside Python, but I wonder if this is the only way. Does the MFSimulation

[2022-03-28 18:09] RyanConway91 opened #1387 "When coords specific in MF6 dis, why are they not applied to modelgrid object?"
It seems like when I load a model I need to manually apply the coordinates in the dis to the modelgrid. It seems like the default should be to do this automatically?

sim = flopy.mf6.MFSimulation.load(sim_name="mfsim.nam", sim_ws = r"C:\offline\tb3\cal14",version='mf6', verbosity_level=0)
mdl = sim.get_model('mf6model')
mdl.modelgrid.set_coord_info(xoff = mdl.dis.xorigin.array, yoff = mdl.dis.yori

[2022-03-30 21:41] jlarsen-usgs commented on #1387
@RyanConway91

What version of FloPy are you using. I just tested this and coordinate information is transferring from the DIS file to the modelgrid as expected in the most recent development version.

Try upgrading to the develop branch and then inspect your modelgrid coordinate information.
[code]

If this doesn't fix the problem, please reopen the issue and tag me in a comment. Closing the issu

[2022-03-30 21:41] #1387 closed

[2022-03-30 22:08] briochh opened #1389 "run_model() with local executable"
I seem to be unable to run a model using a specific executable (rather than relying on executable on system path). I think we have some conflicting actions in the run_model() method.

For example, if I have a exe version in "relpath/bin/mfexe" and I pass this to the flopy model object:
`m.exe_name = os.path.join("relpath","bin","mfexe")`
the run_model() method checks for the existence of the execu

[2022-04-01 17:25] #1365 closed

[2022-04-04 17:31] jshultzFSU opened #1392 "AttributeError: 'ModflowNwt' object has no attribute 'modelgrid'"
Hello I am a new user experiencing some trouble with postprocessing of a created model. I am trying to process results from the North Florida Model (found here https://www.srwmd.org/125/North-Florida-Model-Version-2). This model was created in MODFLOW-NWT. I have been following examples found online but for some reason I get the following error when running my code (bottom). If anyone has any insi

[2022-04-07 00:28] hjia1005 commented on #1380
This is perfectly solved by using pickle.dump( ) and pickle.load( ), issue closed.

[2022-04-07 00:28] #1380 closed

[2022-04-07 23:10] jlarsen-usgs commented on #1392
@jshultzFSU

The reason you are not seeing an modelgrid on the `flopy.modflow.ModflowNwt()` object, is becasue this object creates a newtonian solver package.

Remove the line `nwt = flopy.modflow.ModflowNwt(mf1)` unless your intention is to replace the existing solver.

To get your modelgrid object, use
[code]

[2022-04-07 23:10] #1392 closed

[2022-04-12 13:54] TIPJhonTellez commented on #1384
In my case the model was generated in ModelMuse 4.3 together with the modflow version 6.2.2. When updating to the most recent version of ModelMuse together with the version requested from modflow, the version 6.3, then i recreate the input files when loading it in FloPy it worked without problem, so I think it may be a problem with the versions that you use it your case is similar.

[2022-04-13 19:31] Atreyagaurav opened #1395 "NO GRB FILE SPECIFIED Error in ZoneBudget model obtained from gwf.output.zonebudget()"
So assuming the example in github readme with the basic model is run (you can insert contents from here at the end), a simple zonebudget model from the output of the gwf model doesn't run successfully.

Suppose this is my zonebudget model with few zones.
[code]

Gives following output:

[code]

The contents of `.zbnam` file written are like this:
[code]

But if I manually edit the content to:

[co

[2022-04-14 14:50] langevin-usgs commented on #1395
@jlarsen-usgs, can you take a look at this?  Seems like it should be something simple.  I confirmed with the example on the main flopy repo page that GRB doesn't get added to the name file.

[2022-04-14 15:28] jlarsen-usgs commented on #1395
@langevin-usgs I'll take a look at this sometime today.

[2022-04-14 16:34] cnicol-gwlogic commented on #1375
No I don't know sorry. That would be one for sorab.

[2022-04-15 00:37] jlarsen-usgs commented on #1334
@nikobenho

you can create an array of your bounday condition values from GHB and SFR using the `.to_array()` method.

Example:
[code]

[2022-04-15 00:39] #1334 closed

[2022-04-15 14:47] langevin-usgs commented on #1375
@emorway-usgs can you explain why this is the case.

[2022-04-15 15:32] emorway-usgs commented on #1375
@MDMascini, I agree, this is not the expected behavior.  There was a [pull request on the MF6 repo](https://github.com/MODFLOW-USGS/modflow6/pull/730) aimed at fixing this very thing.  I'll rework that PR and spruce up the testing using the autotest that was included with that PR.  It might be best to close this FloPy issue and reopen as a MF6 issue.

[2022-04-16 13:54] #1395 closed

[2022-04-16 13:57] langevin-usgs commented on #1395
@Atreyagaurav, thanks for pointing this out.  It should be fixed now thanks to @jlarsen-usgs.

[2022-04-16 18:05] Atreyagaurav commented on #1395
I've tried it on a new version installed directly from github with `pip install --upgrade git+https://github.com/modflowpy/flopy.git` and I can confirm it works now. Thank you.

[2022-04-17 01:43] wkitlasten opened #1397 "avoid loads of deprication warnings: structuredgrid.py"
I am using this line to get model grid i,j for various real world coordinates:

`df[['nztm_e', 'nztm_n']].apply(lambda x: gwf.modelgrid.intersect(x[0], x[1], z=None, local=False, forgive=True), axis=1)`

I am getting loads of deprication warning I am getting is:

"structuredgrid.py:777: UserWarning: The interface 'intersect(self, x, y, local=False, forgive=False)' has been deprecated. Use the inte

[2022-04-17 03:21] wkitlasten commented on #1397
My bad... had a previous version stuck in my conda env.

[2022-04-17 03:21] #1397 closed

[2022-04-19 07:53] MDMascini commented on #1375
Thanks for your response!

[2022-04-20 14:00] wzell-usgs opened #1398 "Correction to MFListBudget.get_dataframes() example snippet"
The example code at the top of https://flopy.readthedocs.io/en/3.3.5/source/flopy.utils.mflistfile.html suggests that the tuple of dataframes returned by .get_dataframes() is (inflows, outflows) rather than (incremental, cumulative) as shown later down on the docs page.

![image](https://user-images.githubusercontent.com/16402586/164246819-5c60fa91-8632-4e23-8bc8-5f791cbf9400.png)

[2022-04-22 17:11] jlarsen-usgs commented on #1398
@wzell-usgs

Thanks for pointing this out. I'll update the docstrings for this so the documentation reflects incremental and cumulative dataframes.

[2022-04-23 06:08] haugwitz commented on #1395
Will this be in 3.3.6?

I have the same issue and I am manually fixing the .zbnam file before running.

[2022-04-23 06:21] haugwitz opened #1399 "Suggestion for better errors messages with mixed data values in input packages (modflow6)"
Hi All

This is not so much an issue as it is a suggestion.

I was trying to add transport to a model recently.

After adding auxillary concentration values to my constant head package values, I started getting strange runtime errors.

I realised after a lot of experimentation, that I added values to constant head earlier in the code that still had names in the auxillary column.

It would be usefu

[2022-04-23 13:53] Atreyagaurav commented on #1395
@haugwitz  if you're doing it for your personal projects then you can install the github/dev branch from the command I wrote in my previous comment. That way you don't have to manually edit it.

[2022-04-23 15:26] langevin-usgs commented on #1395
Yes, this issue has already been fixed by @jlarsen-usgs.  As mentioned by @Atreyagaurav, the fix is available on our develop branch.

[2022-04-26 18:31] aprovost-usgs opened #1401 "Same default filename for multiple MF6 package instances"
When there is more than one of the same kind of stress package (say, two or more WEL packages) in an MF6 model, the default filename assigned by flopy is the same for all instances of the package, creating a conflict when MF6 tries to open more than one file with the same name.  This can be worked around by explicitly assigning different filenames to the packages using the filename keyword argumen

[2022-04-29 18:33] kallejahn opened #1402 "3.3.5: addition of `.\` in front of package files in NAM files"
When run on Windows, flopy 3.3.5 places a `.\` in front of package files in MF6 `gwf.nam` and `gwt.nam` files (e.g. `DIS6  .\gwf.dis  dis`). Flopy 3.3.4 does not have the `.\`, so I'm guessing the addition has something to do with fixes made to relative paths?

The added `.\` becomes an issue when running the Windows-generated models on a Linux cluster. Is there a new keyword that I've missed that

[2022-04-29 19:07] langevin-usgs commented on #1402
@spaulins-usgs were you going to look into this?

[2022-04-30 18:53] #1398 closed

[2022-05-02 15:23] spaulins-usgs commented on #1402
@kallejahn this issue was fixed a couple of weeks ago as part of PR #1394.  Please try using the latest develop branch of flopy.  Note that PR #1394 also has some interface-breaking changes for sub-packages (documented in the comments of the PR), so you may need to modify your code slightly.

[2022-05-02 18:41] kallejahn commented on #1402
@spaulins-usgs Okay thanks, I'll start using the develop branch. Appreciate it!

[2022-05-02 18:41] #1402 closed

[2022-05-04 15:17] Paszka1 opened #1405 "Gridgen "line" refinement feature issue"
I have apparently ran into an issue with Gridgen's "**add_refinement_features**" method when defining the polyline feature as a _shapefile.Shapes_ object and feature type is _'line'_. The issue doesn't occur if using a polygon shapefile and the feature type is polygon. Note that the shape looks OK, i.e., Shapes: [Shape #0: POLYLINE].

Both types of shapefiles (polyline and polygon) were created by

[2022-05-04 23:02] jknightusgs opened #1406 "UZF1 load() does not allow for VKS input, and erroneously expects EXTWC input, when when IUZFOPT=-1"
I am having an issue somewhat related to this fix:
Fix(ModflowUzf1): load succeeding datasets if NUZF1..4 >= 0 #668

I am unable to load an existing MODFLOW-NWT model containing a UZF1 package because the load() function in mfuzf1.py assumes that there is only VKS input to read  if IUZFOPT either 0 or 1:
[code]

Please correct me if I am wrong, but I thought that when using IUZFOPT = -1, one can s

[2022-05-04 23:16] jknightusgs commented on #1406
Here is a simple build, write, and load model script to produce the errors encountered:

[code]

[2022-05-05 08:03] ihsienlee opened #1407 "get_rc_from_node_coordinates module Warning information"
Dear everybody!,
I used flopy.modflow.mfdis module.
`mf.dis.get_rc_from_node_coordinates(x,y,local=False)`

I get this information.
`structuredgrid.py:777: UserWarning: The interface 'intersect(self, x, y, local=False, forgive=False)' has been deprecated. Use the intersect(self, x, y, z=None, local=False, forgive=False) interface instead.`

My flopy version is 3.3.5.

Thank you for any help you ca

[2022-05-05 16:30] jlarsen-usgs commented on #1407
@ihsienlee

This warning is just to show that the interface in `StructuredGrid` has changed. We updated the `intersect()` routine to include an optional z coordinate to allow users intersect points with grid cells in 3d. The `mf.dis.get_rc_from_node_coordinates()` method passes the information provided to it to `mf.modelgrid.intersect()`.

Alternatively you could call the `mf.modelgrid.intersect(x

[2022-05-05 18:11] #1342 closed

[2022-05-05 20:56] #1359 closed

[2022-05-05 20:58] #1286 closed

[2022-05-05 21:03] jdhughes-usgs opened #1409 "Add `from_gridspec` test"
@briochh is this something that you could add?

[2022-05-06 01:30] #1405 closed

[2022-05-06 20:12] Atreyagaurav commented on #1364
@spaulins-usgs  is there any progress on this? Any brach/fork you're working on this.

[2022-05-06 20:40] cnicol-gwlogic commented on #1364
I see what you're saying to a point. However: I hope this doesn't come across as rude, but if you're using flopy, you're ultimately using modflow. Given this, shouldn't users at least understand modflow (i.e. it's packages and what they do, including your tdis example) before using flopy? If users are not aware of what the tdis package is and does for example, I would suggest reading the modflow m

[2022-05-06 22:00] spaulins-usgs commented on #1364
@Atreyagaurav currently the flopy package documentation is automatically generated from package definition files provided by the MODFLOW-6 developers.  These package definition files currently do not contain general package description information, so flopy only provides a generic sentence describing the package.  The MODFLOW-6 developers are aware of this.  I am not sure if/when descriptions will

[2022-05-06 22:29] Atreyagaurav commented on #1364
@cnicol-gwlogic I can understand your reasoning, though flopy looks like it was made for people who are used to modflow already to automate their tasks, since the library is written in python it'd be great to have a python like documentations. Because I'd assume making a python interface to modflow was supposed to make it easier to use for people.

If I take my example: when a professor introduced

[2022-05-06 22:40] cnicol-gwlogic commented on #1364
Sure @Atreyagaurav - but there is a big difference between understanding "how to use" something and understanding what you are using actually does (i.e. the groundwater science part of it).

[2022-05-06 23:05] Atreyagaurav commented on #1364
Yes there is a difference, but someone can't go from 0 to 100 in a single day, or you can't expect one to reach 100 and then start to use the tools. The tools should be easy enough to use for beginners so they get to experience it is useful, love it and then learn it better with each use and reach a level where they are comfortable.

All I'm saying is if you can, or anyone, let's just make it a bi

[2022-05-06 23:10] spaulins-usgs commented on #1364
@Atreyagaurav the package definition files can be found here in the flopy distribution:

https://github.com/modflowpy/flopy/tree/develop/flopy/mf6/data/dfn

and here in the MODFLOW-6 distribution:

https://github.com/MODFLOW-USGS/modflow6/tree/develop/doc/mf6io/mf6ivar/dfn

The MODFLOW-6 packages are constantly being updated and new packages added, so flopy was designed to auto-create the document

[2022-05-06 23:33] Atreyagaurav commented on #1364
@spaulins-usgs  Thank you; I'll have a look at that. And how it is turned to docstrings. I really do hope there is a easy way to add package descriptions in the docstring.

[2022-05-07 02:50] scchhh3 opened #1412 "Does this package support the mf2005 Conceptual Modeling method to model groundwater?"

[2022-05-08 21:49] briochh commented on #1409
@jdhughes-usgs, I'll try and squeeze something in but anyone else beats me to it, I won't be too upset!

[2022-05-09 09:20] sannedesmet commented on #1153
Hi,

Me and my colleagues encounter the same problem as described by @hwreeves-USGS.
I tried running the notebook, however running led immediately to bad allocation errors  (memory errors) and complete shut down of my computer. I have this problem only with vertex and rtree and I think it is due to the fact that I only have a 16GB RAM. On computers with more RAM this issue did not occur.

I did so

[2022-05-09 09:46] dbrakenhoff commented on #1153
HI Sanne,

Any chance you can share the intersection you're trying to perform, i.e. the shape and the grid? I'll try to reproduce the issue and see if I can figure out what's going on. Also what version of Shapely are you using?

The fact that it happens when creating the GridIntersect object means it is related to converting the grid to a collection of shapely shapes, or the building of the rtree

[2022-05-09 11:24] sannedesmet commented on #1153
Hi,

I was trying to run your example notebook ([intersect_comparison.zip](https://github.com/modflowpy/flopy/files/6831353/intersect_comparison.zip)) .

I get a Memory Error when running line:
`t = get_ipython().run_line_magic('timeit', '-o -r 1 -n 1 GridIntersect(sgr, method="vertex", rtree=rtree_bool)')`

I tried running the methods inside of Gridinstersect separately, as you mentioned. Since t

[2022-05-09 11:56] dbrakenhoff commented on #1153
What about running `list(self._get_gridshapes())`? Does that also lead to a memory error?

[2022-05-09 12:08] sannedesmet commented on #1153
list works fine. I didn't encounter any errors.  I also just found that the MemoryError with STRtree is known: https://github.com/shapely/shapely/issues/1135

[2022-05-09 13:19] dbrakenhoff commented on #1153
Ah, that explains why I cannot reproduce the issue on Ubuntu.

Can you check if installing the latest version of Shapely=1.8.2 (with GEOS>=3.10) solves the issue?

[2022-05-09 14:27] sannedesmet commented on #1153
That solved the issue. I don't have a MemoryError anymore.

[2022-05-09 23:25] jknightusgs commented on #1406
Thanks for addressing this so quickly.

I'm not sure this line updating the load() function is right, because it only checks for all 3 of PET, EXTDP, and EXTWC if both conditions IETFLG > 0 and IUZFOPT > 0 are True:

[code]

I think this should be written so that flopy checks for PET and EXTDP data when IETFLG>0, and checks for EXTWC data when both IETFLG > 0 and IUZFOPT > 0. That would be consist

[2022-05-09 23:35] jlarsen-usgs commented on #1406
@jknightusgs, I've re-opended the issue for now and I'll take a look through the UZF Allocate and Read method in the MODFLOW source code and update FloPy accordingly. The online documentation doesn't seem to spell this out too clearly.

[2022-05-09 23:44] jknightusgs commented on #1406
I agree the online documentation is unclear. Thanks for looking in the source code. I believe the practical application running UZF with flag values of IETFLG = 1 and IUZFOPT = -1 is to emulate the behavior of ET package and remove water from the saturated zone. I think that is why PET and EXTDP inputs can exist without EXTWC.

From: Joshua Larsen ***@***.***>
Sent: Monday, May 9, 2022 4:35 PM
To:

[2022-05-13 22:55] jlarsen-usgs commented on #1412
@scchhh3
This software supports mf2005. The online documentation contains tutorials that can help get you started [https://flopy.readthedocs.io/en/3.3.5/_notebooks/tutorial01_mf.html](https://flopy.readthedocs.io/en/3.3.5/_notebooks/tutorial01_mf.html)

[2022-05-13 22:55] #1412 closed

[2022-05-26 16:15] michelob23 opened #1421 "How to provide ModflowGwfrcha() Module with Aux Variable as Dictionary?"
I am building a transport model and prescribing concentrations as an auxiliary variable with the RCH package. I can provide recharge to the ModflowGwfrcha() module as a dictionary with stress periods as keys. However, when I use the same structure with the auxiliary variable (concentration), I get an error.

This works:
rch = flopy.mf6.ModflowGwfrcha(
    gwf,
    readasarrays=True,
    recharge=r

[2022-05-26 16:29] langevin-usgs commented on #1421
Yes, this is a bit complicated.  Here is an example below, which was taken from here (https://github.com/MODFLOW-USGS/modflow6/blob/a185d95b91985e965f8a04ae353305dff19b9637/autotest/test_gwt_ssm05.py#L132).  The trick is that the aux data must be provided as a dictionary with the key equal to stress period and the value equal to a list with one entry for each aux variable.

[code]

Also, SPC shoul

[2022-05-26 16:29] #1421 closed

[2022-05-26 17:00] michelob23 commented on #1421
Excellent, thank you!

[2022-05-30 22:03] briochh opened #1422 "compressing arrays to single values breaks modflow usg"
It seems that when reading (or writing) an array of constant values, flopy compresses it down to single value. Apart from this potentially causing issues for down-stream uses of the model arrays, it also seems to break MODFLOW usg models. Example model attached. Not sure if this happens in MfUsg load:
[code]
or on writing the model back out, but the model that results from:
[code]
fails to run wit

[2022-05-31 05:08] cnicol-gwlogic commented on #1422
Sorry @briochh  - stuff-up on my last PR. #1424 should sort this. I added freyburg.usg to the flopy autotests; this should help to avoid similar issues for your pyemu tests.

[2022-05-31 05:45] briochh commented on #1422
nice one @cnicol-gwlogic, was surprised nothing we being tripped in the tests. There are always blind spots, good job removing this one.

[2022-05-31 21:40] spaulins-usgs commented on #1401
@aprovost-usgs, this should be fixed with the latest PR.

[2022-06-02 05:27] hjia1005 opened #1426 "Unable to load mf6 model with an ATS package"
Hi,
I created a model with ATS package, then I am trying to load the model but failed. It always worked without the ATS package.
What is the reason for it? I copied all the error messages below for you to check.

sim = flopy.mf6.MFSimulation.load(sim_name='mfsim',
                                      version='mf6',
                                      exe_name='../bin/mf6_3.exe',

[2022-06-02 19:13] spaulins-usgs commented on #1426
@hjia1005, please download and use the latest version of flopy from the develop branch.  Flopy had a number of compatibility problems with the new ATS package that were fixed last month.

[2022-06-02 23:34] hjia1005 commented on #1426
@spaulins-usgs thanks for your reply.
Just downloaded it using - pip install https://github.com/modflowpy/flopy/zipball/develop
Got the same error. Have to deactivate ATS for now.

[2022-06-02 23:38] cnicol-gwlogic commented on #1426
@hjia1005 - try pip install https://github.com/modflowpy/flopy/zipball/develop --upgrade --force-reinstall

[2022-06-03 00:44] hjia1005 commented on #1426
@cnicol-gwlogic
Had a permission issue, then added --user to the end of the command, finally worked. Thank you very much!

[2022-06-07 09:45] hjia1005 commented on #1426
Closed.

[2022-06-07 09:45] #1426 closed

[2022-06-08 16:16] michelob23 commented on #775
Did this ever get addressed? I'm running into the same problem trying to connect a MF6 model to a MT3D-USGS model. I'm running into a lot of numerical instability with the MF6 GWT process, which is why I'm giving MT3D-USGS a shot.

 File "/modflow/lib/python3.9/site-packages/flopy/mt3d/mtbtn.py", line 252, in __init__
    self.setmodflowvars(
  File "/modflow/lib/python3.9/site-packages/flopy/mt3d

[2022-06-08 16:43] emorway-usgs commented on #775
Hello @michelob23, this is still an issue.  Does your MF6 simulation use any of the advanced packages?  If so, then that would preclude the use of MT3D-USGS with MF6.

However, I would anticipate that the GWT process would be as stable as MT3D-USGS, unless maybe you want to use the MOC or HMOC methods?

[2022-06-08 16:58] spaulins-usgs commented on #1384
@JhonT01, this has been fixed in the latest flopy code (develop branch).

[2022-06-09 02:55] javgs-bd opened #1427 "Problem assigning array to LPF package in MFUSG"
I'm testing the following code from a notebook located in the Notebooks folder, and am getting the following error.
Basically, I'm loading the model, getting the hk array from the lpf package and then trying to assign that very same array to build the package again. If I understand well the error message, there is a problem with the shape of the array expected by the LPF package.

I got this error

[2022-06-09 04:04] cnicol-gwlogic commented on #1427
@javgs-bd - good question, it's not easy. It is caused by the .array call returning a flattened array for an unstructured model (i.e. all nodes in the model are in that array, and that array has shape [nodes] - ie it is as long as all nodes in the model, because most unstructred (mfusg) models would probably have a different number of nodes per layer, and so a jagged array by layer, which numpy /

[2022-06-09 05:54] cnicol-gwlogic commented on #1427
@javgs-bd sorry I just realised I didn't answer your question very directly. Try this approach instead:
[code]

[2022-06-09 18:40] javgs-bd commented on #1427
Ok, thanks. I'll keep an eye on the packages that could be using flattened or jagged 3d lists. I guess the disu package would go into that list too (top & botm).

[2022-06-09 19:06] spaulins-usgs commented on #1389
@briochh, while I am not 100% sure of the original intention of run_model(), I believe the initial shutil.which() method is just to catch a missing exe error and report a clear user-readable message before Popen is called (Popen will return a more cryptic error message to the end user).

model_ws is just the path argument that the modflow executable takes to find the namefile.  It has nothing to d

[2022-06-10 05:41] cnicol-gwlogic commented on #1427
@javgs-bd - this should hopefully be sorted via PR #1429

[2022-06-13 12:26] #1427 closed

[2022-06-18 02:34] javgs-bd opened #1431 "Missing get_fahl array in modelgrid object of disu models"
This might not be an issue more than a feature request.

I wonder if anybody can point me to any workaround that would accomplish what I guess ````get_connection_area_fahl()```` does for mf6 models.

Please see the discussion below.

I'd really appreciate it.

### Discussed in https://github.com/modflowpy/flopy/discussions/1430

<div type='discussions-op-text'>

<sup>Originally posted by **javgs-b

[2022-06-18 13:40] javgs-bd commented on #1431
Working on this, and closing as disscused in #1430

[2022-06-18 13:41] #1431 closed

[2022-06-21 13:15] vcantarella opened #1433 "little errors importing old MODFLOW models from visual modflow"
Hi,

I am working with a visual modflow nwt model and I encountered subtle differences in how visual modflow writes some packages that crash the import from flopy. Interestingly, these models run just fine with the standard executable. I am not sure if it is of interest to flopy to be able to read these, but they might be found in many more models out there.

First, in the UPW file, visual modflow

[2022-06-27 03:39] hjia1005 opened #1435 "ListBudget doesn't get time accurately"
Hi,

I am trying to extract the length of time step from the model list file. It has a total of 418 timesteps.
lst_file='model.lst'
mfl = flopy.utils.MfListBudget(lst_file)
times=mfl.get_times()
The extracted times are accurate for the first 303 timesteps, but from the 304th timestep, it shows integer days, which are not consistent with the list file.

However, for some other list files, the extra

[2022-06-27 23:52] hjia1005 commented on #1435
Thanks for your reply. I need to use the function mfl.get_times() to calculate the time step length since there is no existing function for that. However, because of the predefined width in the list file, 'TOTAL TIME' is rounded to an integer from  sp28 ts6 because the number of days reaches five digits. See below.

![image](https://user-images.githubusercontent.com/33449394/176054141-4ac9e22f-3c3

[2022-06-29 16:41] javgs-bd opened #1436 "Problem Masking Heads in PlotCrossSection with DISU Grid"
Hello,
I am unable to mask a head colormap to hide what lies above the phreatic surface in a cross section plot of the freyberg.usg example.
I detected this with another model and then reproduced it with freyberg.

I'm running the attached notebook ([Test.zip](https://github.com/modflowpy/flopy/files/9012441/Test.zip)) in the flopy/examples/Notebooks folder. I just added a bin folder in the flopy/

[2022-06-30 21:00] spaulins-usgs commented on #1435
@hjia1005, I added a get_tslens method to flopy.utils.MfListBudget which returns a list of time step lengths as read from the listing file.  While these time step lengths have to the same five digit output, they are smaller numbers than total time and will therefore provide more precision.  If you want to use get_tslens, the updated flopy code has been merged to the develop branch.

[2022-07-01 00:56] hjia1005 commented on #1435
@spaulins-usgs Thanks!

[2022-07-01 00:56] #1435 closed

[2022-07-01 06:43] hjia1005 commented on #1436
@javgs-bd I am also struggling with the Plot_CrossSection function for usg models. Sometimes it works, sometimes it produces weird cross-sections. Plot_MapView always works as long as the unstructured grid is specified correctly. It would be very helpful if the team can expand the gridgen example to include the Plot_CrossSection for mfusg-disu and mf6-disu models. We can follow from there. Thanks.

[2022-07-06 04:20] hjia1005 commented on #1436
A quick update. For mfusg model, hds.get_data() returns a list and use np.hstack( ) to convert it into an 1D NumPy array, then the plot_crosssection works properly, at least worked for my current model which has 13 layers and a very messy structure.

times=hds.get_times()
heads=hds.get_data(totim=times[-1])
heads=np.hstack(heads)

[2022-07-06 13:23] javgs-bd commented on #1436
Thanks @hjia1005. I tried this and indeed the masking works for the colormap when the numpy array is passed to the head argument of the plot_array or contour_array functions. It does not make a different what is passed to the array argument.
Though the resulting contours are still a bit strange, see below.

![image](https://user-images.githubusercontent.com/74055695/177560008-8b54143f-47f2-4d3b-b4

[2022-07-07 16:58] w-bonelli commented on #1436
Hi @javgs-bd and @hjia1005, thanks for the bug report. I've tried to duplicate the code you provided [here](https://github.com/w-bonelli/flopy/blob/372828b6533985de14f823735d30ad98d86bf5d9/examples/Notebooks/flopy3_mfusg_freyberg_unstructured.ipynb).

Currently I see at least 2 issues with the cross section plot functions:
- y-axis range is not set properly for unstructured grids (why `ax.set_ylim

[2022-07-08 01:54] wkitlasten opened #1441 "Accessing data in packages after loading model"
I am struggling to access and manipulate data from a gwf model. In this specific case the GHB data is stored as an external file. I  load the model in flopy:

gwf = sim.get_model(model)

But I am having difficulting figuring out how to access the data. An example of what I tried is:

[code]

Does the {internal} suggest the data is not set to external? Because the .ghb file suggests otherwise:

[co

[2022-07-08 21:06] javgs-bd commented on #1436
Hi @w-bonelli, many thanks for the great work. I'll check this out. I'd swear I got the problem with the notebook I posted.
Will update soon.

[2022-07-11 20:08] javgs-bd commented on #1436
Hi @w-bonelli I've updated to the latest develop version available and rerun the original notebook I posted. The problem is not there anymore. The head mask to show the phreatic surface works correctly. I wonder if it was a develop branch version issue.

Just in case your notebook make it to the repository (which would be great), I got two errors trying to run it. In cell  49 there is a reference

[2022-07-11 20:42] w-bonelli commented on #1436
@javgs-bd you are right, thanks! Notebooks are great but running cells independently and out of order makes it easy to forget what you change :)

I'm working on updating notebooks, this new one included. I will link you when I create the PR. I think it would also be good to accept either `LineString` or an array of points when creating a cross section, I will see if I can include that as well.

[2022-07-13 16:30] w-bonelli commented on #1436
Thanks @jlarsen-usgs, will do.

[2022-07-14 06:31] hjia1005 opened #1446 "zonebudget for usg model"
I am using bf.CellBudgetFile to read the cbb file from a usg model and do a zonebudget in python. The current zonbudusg.exe I have produces a weird result and I want to cross check.

Most of the functions in CellBudgetFile work as expected for the usg model except get_ts(). There is an index error but I don't have to use this function.

Another issue is, so far I can only get net flow from the bin

[2022-07-17 05:48] emiliakrakowska opened #1448 "Loading MNW2 - Error: list index out of range"
I was able to import an existing Modflow-NWT model ".nam" file, wrote the input files and ran the model. The simulation time was normal. After that I also imported separately the MNW2 file and it was correct, however later I cannot import for the second time where it says "list index out of range". Even the ".nam" file is not writing the input files (shutting down on MNWI). Can you suggest why?
 M

[2022-07-19 18:04] jdhughes-usgs commented on #1167
@emorway-usgs is this something that you can deal with? It is pretty stale but should make a decision. We can always decide not to support `ireaction` and close the issue.

[2022-07-19 18:07] #1384 closed

[2022-07-19 18:15] jdhughes-usgs commented on #1389
@spaulins-usgs can you follow up on this. Close if it is resolved.

[2022-07-19 18:19] jdhughes-usgs commented on #1217
@khayley Closing for now. Reopen if the issue is not resolved.

[2022-07-19 18:19] #1217 closed

[2022-07-19 18:24] #1182 closed

[2022-07-19 18:27] jdhughes-usgs commented on #1198
@mkennard-aquaveo should the issue be closed?

[2022-07-19 18:29] mkennard-aquaveo commented on #1198
I think so.

On Tue, Jul 19, 2022 at 12:27 PM jdhughes-usgs ***@***.***>
wrote:

--
Michael Kennard | Aquaveo (www.aquaveo.com)

[2022-07-19 18:32] jdhughes-usgs commented on #1364
@Atreyagaurav We will continue to improve the documentation but this is not something that will have a definite timeline for completion. Thanks for the comments and suggestions.

[2022-07-19 18:32] #1364 closed

[2022-07-19 18:36] jdhughes-usgs commented on #1399
@spaulins-usgs is there anyway to validate aux variables?

[2022-07-19 18:46] jdhughes-usgs commented on #1448
@emiliakrakowska Have you tried to load the entire model `flopy.modflow.Modflow.load()`? You can load specific package with this method but the `DIS` and `BAS` packages should always be loaded since they define the spatial and temporal discretization. Let us know if this does not resolved the issue.

[2022-07-19 18:49] #1104 closed

[2022-07-19 18:50] jdhughes-usgs commented on #1369
@cnicol-gwlogic can this issue be closed?

[2022-07-19 18:52] jdhughes-usgs commented on #1377
@cnicol-gwlogic Any thoughts on how to proceed?

[2022-07-19 18:54] jdhughes-usgs commented on #1203
closing since no offers of help. Low priority issue so will continue as is until there is a need to refactor.

[2022-07-19 18:54] #1203 closed

[2022-07-19 20:59] cnicol-gwlogic commented on #1369
@jdhughes-usgs yep go for it

[2022-07-19 21:07] #1369 closed

[2022-07-19 21:20] jdhughes-usgs commented on #1377
@cnicol-gwlogic no rush. I was just working on clearing issues today. Thanks.

[2022-07-19 22:17] jlarsen-usgs commented on #1433
@vcantarella

I'm not able to recreate with `iphdry` with modflow-nwt version 1.3.0. When I remove the `iphdry` entry from the UPW input file modflow-nwt crashes while attempting to load that line. What version of nwt are you working with?

[2022-07-19 23:20] cnicol-gwlogic commented on #1377
@jdhughes-usgs @rosskush - fyi yep this will take a bit of work. The MfusgWel load and write stuff is a bit hokey - doesn't take advantage of MFList capability really, and I can see a few other issues with AUX variables. I'll put on my list but it will be a while I'd say. Cheers.

[2022-07-20 06:15] flydream0428 opened #1456 "AttributeError: 'UnstructuredGrid' object has no attribute 'xyedges'"
When I try to get a cross-section plot using an unstructured grid, I get the error below.
It seems like that the 'UnstructuredGrid' object has no attribute 'xyedges'. However, 'xyedges' is called in the crosssection module.
[code]

[2022-07-20 08:07] dbrakenhoff commented on #1216
I'll submit a PR with these additions somewhere this week.

[2022-07-20 11:17] vcantarella commented on #1433
@jlarsen-usgs
I am running Version 1.2.0 03/01/2020. I believe that is also the latest here: [executables-repo](https://github.com/MODFLOW-USGS/executables)

[2022-07-20 17:37] jlarsen-usgs commented on #1433
@vcantarella
I just tested this with Version 1.2.0 03/01/2020 and can't reproduce a run. On windows, UPW read crashes for me when `iphdry` is omitted from the UPW file, in addition, I don't see anywhere in the source code that would allow. What operating system are you using?

[2022-07-20 20:04] #1340 closed

[2022-07-21 00:44] flydream0428 commented on #1456
Thanks, it works

[2022-07-21 00:44] #1456 closed

[2022-07-21 03:35] emiliakrakowska commented on #1448
thank you very much! MNW2 was successfully imported once DIS file was loaded first. Another issue is with writing the input files.I am trying to run an existing MF-NWT model on Flopy. Although "nam" file is imported, writing input files crashes always on MNWI. With existing models is it necessary to write input files? I can run the model normally, but list file is coming really huge. Can you sugge

[2022-07-21 21:28] #1389 closed

[2022-07-22 15:12] oscarfasanchez opened #1461 "GridIntersect.intersect error with polygons"
Hello, I updated Flopy to the develop version 3.3.6(from 3.3.4) to work with the ATS package ( due to this issue https://github.com/modflowpy/flopy/issues/1426), but now the GridIntersect.intersect() function doesn't work well.

this is my code:

import  shapefile as SF

gravoso=sf.Reader(path_sh+"/Superficies/Cont_Qbg2.shp")
gravoso1=gravoso.shapeRecords()[0]
firstkg=gravoso1.shape.__geo_interfac

[2022-07-22 15:32] dbrakenhoff commented on #1461
I'll look into this. I can't run it myself now, but does the problem also occur with `method="vertex"`?

It might also be a package version issue related to shapely? Which version of shapely are you on?

[2022-07-22 15:43] oscarfasanchez commented on #1461
Thanks, yes, it fails too with "vertex"
my shapely version is 1.7.1 (now and before when it worked with floppy 3.3.4)

[2022-07-22 21:22] porterma opened #1462 "Issues with uzf observations..."
I am seeing some odd behavior when I try to set up observations in the uzf package using flopy 3.3.5.

Here is my code for the uzf package:

[code]

When I run `sim.write_simulation()` the mf.uzf package is created with the following options:

[code]

Note that the OBS6 FILEIN is mf.uzf.obs not mf_uzf.obs as specified in the code.

Additionally, flopy creates a mf.uzf.obs file that looks like this

[2022-07-25 02:14] emiliakrakowska opened #1464 "Exporting stress period data from MNW2"
Hi,

Is it possible to export all stress period data from loaded MNW2? I am trying to modify the package by deleting some of them. I exported MNW2 node data and re-loaded an updated version. Can you suggest how I can add the stress period data? THank you.

[2022-07-25 08:24] dbrakenhoff commented on #1461
Hi @oscarfasanchez, it might be related to this issue between shapely and numpy: https://github.com/shapely/shapely/pull/1174.

Can you try upgrading Shapely and see if that solves the problem?

[2022-07-25 16:37] oscarfasanchez opened #1466 "VTU scallars are distorted"
Hello, I'm exporting a VTU file of heads
using  the following code

        vtkobj = vtk.Vtk(gwf, xml=True, pvd=True, vertical_exageration=1, point_scalars=True)
        vtkobj.add_heads(hds, kstpkper=kstpkper, masked_values=masked_values)
        vtkobj.write(os.path.join(pv_folder, "heads_output_test", "heads_scal.vtu"))

but I noticed that the data was distorted in the boundaries, I think scala

[2022-07-26 08:39] dbrakenhoff opened #1467 "bug in gridintersect when intersecting linestrings starting in vertex with method="structured""
I came across a bug in the structured GridIntersect routines, when linestrings start in a vertex (not on the model boundary) and continue towards the southeast. The initial intersect calculation to find the initial grid cell uses the starting point of the linestring. This returns the cell with the lowest cellid, which lies to the northwest of the vertex. Then its neighbors (north, south, east, wes

[2022-07-26 16:18] jlarsen-usgs commented on #1466
@oscarfasanchez

I'll take a look at this issue.

[2022-07-26 19:32] jlarsen-usgs opened #1470 "Plugin Architechture for flopy"
Hello,

Following the discussion about investigating a plugin architecture for modflowapi packages I've done a little bit of research into how python plugins work and created a simple example to dynamically search for and load plugins in an existing python package. In essence, this would allow user developed modflowapi packages to be installed seperately, but be discoverable and useable by `flopy`

[2022-07-26 20:55] #1464 closed

[2022-07-26 20:56] #1448 closed

[2022-07-26 22:57] oscarfasanchez commented on #1461
yes, it worked! thanks

[2022-07-26 22:57] #1461 closed

[2022-07-27 13:49] langevin-usgs commented on #1470
Hey @jlarsen-usgs, this looks very promising to me.  Maybe the next step is for you and @spaulins-usgs to start exploring an implementation of the AG package as a flopy plugin?

[2022-07-27 14:35] wpbonelli opened #1471 "MFSFR2 assign_layers hardcoded output path"
Currently `ModflowSfr2.assign_layers()` writes to `sfr_botm_conflicts.chk` in the current working directory rather than in the model workspace:

https://github.com/modflowpy/flopy/blob/1757470fe0dd28ed6c68c95950de877bd0b4a94b/flopy/modflow/mfsfr2.py#L1133

The `check()` method on the same class writes to the model workspace by comparison:

https://github.com/modflowpy/flopy/blob/1757470fe0dd28ed6c