[2019-10-21 23:13] John1205 commented on #675
Thanks for your work, @langevin-usgs @jlarsen-usgs I have modified the code for the HFB package. However, it is still not working on my end.

[2019-10-23 12:35] #683 closed

[2019-10-23 15:23] spaulins-usgs opened #691 "Model Load Forgive Flag"
In the process of testing a new flopy feature I discovered two tests where a package fails to load but the tests are still passing. Note that neither of these tests are expecting a package load failure or are testing for that failure. These tests illustrate a broader issue that is worth discussing here.

It looks like flopy's default behavior allowed these bugs to go undetected for so long. When l

[2019-10-23 15:26] jtwhite79 commented on #691
I think changing default forgive to False is a great idea - I’ve been burned by it enough times that I pass forgive as False when I load a model...

[2019-10-23 15:26] jtwhite79 commented on #691
I think changing default forgive to False is a great idea - I’ve been burned by it enough times that I pass forgive as False when I load a model...

[2019-10-23 15:31] langevin-usgs commented on #691
I also like changing forgive to False by default.  That makes sense to me.  Thanks for digging this out, @spaulins-usgs.

[2019-10-23 15:36] langevin-usgs commented on #687
The offending lines

https://github.com/modflowpy/flopy/blob/develop/flopy/modflow/mfdis.py#L536-L622

were retained from a much older flopy version.  Unless we hear an objection in the next day or so, I say we remove this method.  It doesn't work, so clearly nobody is using it.

[2019-10-23 19:33] TroelsNV opened #692 "laytyp is returned as "NoneType" in MP7.py for structured grids in 3.2.12"
MP7.py:
Line 331: return np.array(laytyp, dtype=np.int32)

Issue:
The laytyp returns NoneType since the laytyp is assigned to the package object and not the base modflow object.

e.g. "upw.laytyp" returns a Util2D array, but mf.laytyp returns None (here upw is the name of a ModflowUPW object and mf is a Modflow object)

[2019-10-23 21:37] aleaf opened #693 "load_only functionality for MF6 version of flopy?"
Is there any equivalent functionality to the `load_only` argument (e.g. to `flopy.modflow.Modflow.load`) in the MF6 version of flopy? This would be extremely useful for instances when only a few packages are needed, or when `flopy.mf6.MFSimulation.load` crashes trying to load an unneeded package.

[2019-10-23 21:43] aleaf opened #694 "loading mf6 packages with data for extra periods"
MODFLOW-6 appears to allow stress packages have data for periods beyond `nper` (e.g. period 97 when nper is only 60). However, trying to load one of these packages with `flopy.mf6.MFSimulation.load` results in something like `flopy.mf6.mfbase.FlopyException: FlopyException: Stress period value sp_num (<nper +1>) is greater than the number of stress periods defined in nper. ()` It's nice to have th

[2019-10-23 21:43] spaulins-usgs commented on #693
There currently is not. However it should be easy to implement.

[2019-10-25 18:01] emorway-usgs opened #697 "shapely dependence should not be a requirement"
I recently started getting the message below when trying to `import flopy`  If the user is not intending to make use of the `gridintersect.py` class, should this dependence be a requirement as it now seems to be?

![shapely](https://user-images.githubusercontent.com/3236576/67593302-c3554f80-f716-11e9-9f59-dae2cbaa4a7b.png)

[2019-10-25 18:09] jwhite-usgs commented on #697
On the `develop` branch, I think the shapely deps are wrapped in a try-except.  Are you using `develop`?

[2019-10-25 18:18] emorway-usgs commented on #697
Affirmative, on the `develop` branch

[2019-10-25 18:19] jwhite-usgs commented on #697
python 2?  Looks like there is some trapping for py2 right above the shapely imports

[2019-10-25 18:21] emorway-usgs commented on #697
python `3.5.3` (see top of screen shot in first post of thread)

[2019-10-25 18:21] jwhite-usgs commented on #697
alright, Im giving up then!

[2019-10-25 18:22] langevin-usgs commented on #697
I've seen this too.  @jwhite-usgs, remember when you added the import of gridintersect to the __init__.py file?  At that point, I think it became a requirement, because then it is imported when you import flopy.  We probably need a try and except in the gridintersect.py file.

[2019-10-25 18:24] jwhite-usgs commented on #697
there is a try-except but just before that, there is a re-def of importerror to some other form of exception if python=2.  I think that logic might be what we are seeing here

[2019-10-25 18:26] langevin-usgs commented on #697
Right, and ModuleNotFoundError isn't defined otherwise.

[2019-10-25 18:47] langevin-usgs commented on #697
Should probably put the imports into the methods of `gridintersect.GridIntersect()` that need them.

[2019-10-26 13:41] #697 closed

[2019-10-27 11:57] langevin-usgs commented on #642
The default is zero.  Not sure why I thought otherwise.

[2019-10-27 11:57] #642 closed

[2019-10-27 12:31] #687 closed

[2019-10-28 16:24] jlarsen-usgs commented on #675
Hi @John1205,

are you using the most recent version of the develop branch?

[2019-10-28 19:28] jlarsen-usgs commented on #692
@TroelsNV, I'll take a look at this issue this afternoon.

[2019-10-28 19:39] jlarsen-usgs commented on #692
@TroelsNV, can you supply more information or your script that you are working with. I'm unable to reproduce this error with my simple test case.

The `BaseModel` class (base for `Modflow` and `Modpath7`) calls the UPW file to get `laytyp` and in my case seems to be functioning appropriately.

[2019-10-28 20:15] TroelsNV commented on #692
@jlarsen-usgs , thanks for looking at this. I have made a small test model that produces the error.

[MF_nwt_MP7_test_ss.zip](https://github.com/modflowpy/flopy/files/3780483/MF_nwt_MP7_test_ss.zip)

[2019-10-28 21:00] jlarsen-usgs commented on #692
@TroelsNV

I've looked into the issue and it has been fixed with PR #601 on the develop branch. You can update to the most recent development version of flopy (3.2.13) by using

`pip install https://github.com/modflowpy/flopy/zipball/develop --upgrade`

[2019-10-28 21:01] #692 closed

[2019-10-29 09:29] nish-ant opened #701 "Maximum number of observation points in mtbtn module"
I am providing an array of length 250 to the `obs` parameter of the module `flopy.mt3d.mtbtn.Mt3dBtn`. I get the error `MAXIMUM NUMBER OF OBSERVATION POINTS IS 200. INCREASE DIMENSION OF [MXOBS] IN MAIN PROGRAM`.

I cannot find how I can change the `MXOBS` parameter in the FloPy or MT3DMS documentation. How can I change it?

[2019-10-29 11:01] rabbl commented on #662
If the headfile does not exist it is very probable that your modflow-executable is not working properly.

Possible reasons are:

* no executable with the name mf2005 or mf2005.exe (for Windows) exists
* the executable exits but your PATH-variable is not properly adapted
* you have a not working executable

I have created a notebook to check this issue, and it's working properly.
Please try to run

[2019-10-29 11:13] rabbl commented on #453
We're using for modflow-webservice a ready to use docker-container, where all binaries are build with pymake on a debian-linux. For local development it could be useful too.

If there is some interest in this solution a can provide a actual and refactored version of the container.
The source you can find here:

https://github.com/inowas/flopy-calculation-service/tree/master/worker

[2019-10-29 15:37] emorway-usgs commented on #701
@nish-ant Can you provide an example set of input files or the script you are using?  This will help us resolve the issue that is affecting your setup.

[2019-10-29 16:29] nish-ant commented on #701
You can find the script attached. It is slightly modified version of the tutorial code [MT3DMS Example 2](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_MT3DMS_examples.ipynb).

[main_p02.py.txt](https://github.com/modflowpy/flopy/files/3784667/main_p02.py.txt)

When the variable `ncol` is set to more than 200, the `Mt3dBtn` module raises the error that I have mentioned

[2019-10-29 18:04] emorway-usgs commented on #701
@nish-ant In your script, when I changed the following (line 20)

`exe_name_mt = 'mt3dms'`

to

`exe_name_mt = 'mt3d-usgs'`

the model ran to completion.  MT3D-USGS is intended to be a backward compatible update to MT3DMS.  If you have MT3D-USGS on your path, then I think this will get you on your way the quickest.  If you're OK with this fix, would you mind closing the issue?

[2019-10-29 20:43] JFullerton-intera opened #703 "Can't access CBB (CBC) binary using flopy binary reader class"
I am unable to read any portion of the CBB file using the binaryfile class. See below:
`import flopy.utils.binaryfile as bf`
`cbb = bf.CellBudgetFile(r"P2Rv8.2_1000yr.cbb")`

This results in the following error:

Is there a specific way that we need to export our CBB file (e.g. "COMPACT")?

I have verified that I can use the Windows executable of the zone budget tool supported/created by USGS. In

[2019-10-29 20:44] #483 closed

[2019-10-29 22:44] spaulins-usgs commented on #693
This feature is now implemented.

[2019-10-29 22:44] #693 closed

[2019-10-29 22:46] spaulins-usgs commented on #691
Forgive default changed to False and test cases fixed.

[2019-10-29 22:46] #691 closed

[2019-10-30 08:57] nish-ant commented on #701
@emorway-usgs Thanks. Using MT3D-USGS works.

[2019-10-30 08:57] #701 closed

[2019-10-30 16:45] JFullerton-intera commented on #703
This file is larger than 2 GB, is there a link to how this problem was resolved (if it has been)? Otherwise I can provide the CBB file and we can work through that for this issue. How do we proceed?

From: langevin-usgs <notifications@github.com>
Sent: Wednesday, October 30, 2019 9:42 AM
To: modflowpy/flopy <flopy@noreply.github.com>
Cc: Jacob Fullerton <JFullerton@intera.com>; Author <author@nore

[2019-10-30 16:57] langevin-usgs commented on #703
Are you using a 32-bit computer or a 32-bit version of Python?  I believe that was the cause of previous problems with large budget files.

[2019-10-30 17:09] JFullerton-intera commented on #703
I’m on a 64-bit system and interpreter (see console startup message):

“Python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)] on win32”

From: langevin-usgs <notifications@github.com>
Sent: Wednesday, October 30, 2019 9:57 AM
To: modflowpy/flopy <flopy@noreply.github.com>
Cc: Jacob Fullerton <JFullerton@intera.com>; Author <author@noreply.github.com>
Subject: R

[2019-10-30 17:23] langevin-usgs commented on #703
Try setting verbose=True in the budget file constructor and see if that provides any hints.

[2019-10-30 17:51] jdhughes-usgs opened #704 "MF6 - add ability to specify simulation name file options from simulation __init__"
@spaulins-usgs it looks like the simulation name file options (`continue`, `nocheck`, `memory_print_option`, and `maxerrors`) can only be specified after the simulation is initialized. It would be nice if these could be specified when initializing a simulation.

[2019-10-30 18:32] JFullerton-intera commented on #703
Ha! I found the problem. The ‘verbose=True’ didn’t end up giving me the answer (returned the same error). I was digging deeper and I realized that the flopy.utils.zonbud.ZoneBudget() class applies the default options as used in the flopy.utils.binaryfile.CellBudgetFile() class. My CBB is in double precision, so, to fix this workflow for me, I used the following sequence:

import flopy
import flopy

[2019-10-30 18:43] #703 closed

[2019-10-30 19:58] spaulins-usgs commented on #704
@jdhughes-usgs the name file options "continue", "nocheck", and "memory_print_option" I can easily implement. It looks like maxerrors is a new option that is not yet part of the official MODFLOW release. Is the upcoming flopy release going to occur at the same time as the MODFLOW release? If not would you like maxerrors implemented in flopy for the upcoming flopy release or would you prefer to wai

[2019-10-30 21:27] jdhughes-usgs commented on #704
@spaulins-usgs  I think the MODFLOW release will be later than the next flopy release so we should wait until the next release to include `maxerrors`

[2019-10-31 13:49] MostafaGomaa93 opened #706 "Mf6 disv error"
I am trying to build a modflow 6 model using disv package
I got this error and I don't understand why :
ERROR. VERTEX NUMBER NOT CONSECUTIVE.  LOOKING FOR 1 BUT FOUND 2

Another issue is that I have a cell2d text file (attached below) which should be ready to be read by the disv package, however, I don't why every time when the disv package read the cell2d file, it adds a number of  NonType object

[2019-10-31 14:02] jbellino-usgs commented on #703
@langevin-usgs Do you think it would be useful/possible to try to catch that `OSError` in a way that `CellBudgetFile._build_index()` could try to infer precision without introducing the possibility for returning erroneous output?

[2019-10-31 15:58] spaulins-usgs commented on #706
It looks like the brackets [] in your vor_cell2d.txt and vor_vertices.txt files are confusing MODFLOW. Since Flopy is able to read these files I recommend reading in the files into a flopy disv object, something like this:

    disv = ModflowGwfdisv(model, ncpl=65, nlay=1, nvert=238, top=0.0,
                          botm=-100.0, idomain=1,
                          vertices={'filename': 'vor_ver

[2019-10-31 20:27] aleaf-usgs opened #707 "performance of loading tabular mf6 datasets"
consider this model, which has a well package with 1M fluxes:
[code]
if you profile loading the model back in, you can see that almost the entire time (50 sec on my machine) is spent on the `_load_list_line` (1M calls) and `_append_data_list` (2M calls) methods in mffileaccess.py. (the load actually errors out, but the time is similar to what I got for a real-life example, suggesting that it was a

[2019-10-31 21:46] spaulins-usgs commented on #707
I did some limited optimization of this code about a year or two ago. I ran into several bottlenecks when optimizing the code. The main problem was variable amounts of data and types of data on each line. While the well package is one of the simpler cases, it can still have 1, 2, or 3 integers for the cellid and possible optional information on the end of each line (aux variables and/or boundname)

[2019-11-01 09:07] MostafaGomaa93 commented on #706
thanks for the suggestions
I did them but still doesn't work. however, when I change the starting of the vertices list to 0 instead of 1, it works
I just wonder why the model didn't accept it although it is mentioned in the disv description that the vertices list starts from 1 to NVRT

Another question please, now I got this error and I don't understand it

forrtl: error (65): floating invalid
Ima

[2019-11-01 12:48] langevin-usgs commented on #706
Without datafiles there is no way for us to determine the cause of the problem.  Vertices must be listed in clockwise order.  Cells must be convex.  Vertices along edges must be shared with adjacent cells so that connectivity can be determined.  This all needs to be done correctly or MODFLOW won't be able to run properly.  The problems you are having here are not a bug in Flopy so I'm closing this

[2019-11-01 12:48] #706 closed

[2019-11-01 14:18] aleaf commented on #707
With the Well package at least, we should know how many items to expect on each line from the options block (where aux variables and the boundnames option are specified), and from the type of DIS package (determining the number of ints for cellid). With that information, we should be able to do something like this:
[code]
Quite a bit slower than `read_csv`, but still more than an order of magnitud

[2019-11-01 15:34] langevin-usgs commented on #707
@aleaf-usgs, I think it's great that you are always making sure that the code works well for real models!  Having slow loads is really a bummer, and I agree that we want to be efficient.  One of our biggest issues is that MODFLOW will read and run fine with certain files that cannot be loaded with flopy unless we do extra processing line by line.  For example, the following wel package is perfectl

[2019-11-01 15:47] jwhite-usgs commented on #707
This will probably get me in trouble, but maybe the MODFLOW 6 input format could be modified to be more amenable to using industry-standard ASCII parsing tools like pandas?  Im not at all familiar with MAW but if MF6 could use the same number of entries for each row in list-directed input, that would make things a lot easier for everyone...

[2019-11-01 15:53] aleaf commented on #707
@langevin-usgs @spaulins-usgs I suspect some of the special cases like the comment and blank lines above could be handled with at speed about as good as the one above. In lieu of what @jwhite-usgs mentioned, I would suggest dispatching to optimized parsers first based on the expected input, and then falling back to the "god" parser for the most difficult situations. I think this would cover the ma

[2019-11-01 16:01] spaulins-usgs commented on #707
@aleaf-usgs I have already written a simpler optimized version of code but it apparently is not getting called any more. The code is not as simple as your code since it needs to still be somewhat robust as @langevin-usgs mentioned and it also needs to do things like decrement cellid integers to make them zero based (by flopy's convention), but from what I remember it is still faster than the more

[2019-11-04 17:12] porterma opened #709 "Merging multiple .ccb files into one .cbb file..."
Is there a function in flopy that would facilitate merging multiple .cbb files into one .cbb file that also works with zonbud.exe? The model results correspond to different time periods where physical properties of the site change considerably, so we decided it was best to create several models for this particular situation. I have used util2d.write_bin() to get the heads into one binary .hds file

[2019-11-04 17:24] langevin-usgs commented on #709
@porterma, the following might not work directly for you, but it might give you some ideas.  The budget part is for MODFLOW 6, which uses a method code 6, but you might be able to adapt this for your needs.  Note that the key to getting this to work is to develop the correct numpy dtypes and then just use the numpy save routines to write the files.

[code]

Here is a code snippet for how the budge

[2019-11-04 21:18] porterma commented on #709
Thanks for the info. It is greatly appreciated. I'll let you know if I get it too work out.

[2019-11-05 00:19] John1205 commented on #675
solved!

[2019-11-05 00:19] #675 closed

[2019-11-05 15:16] spaulins-usgs commented on #694
Stress periods beyond nper now permitted in flopy.

[2019-11-05 15:16] #694 closed

[2019-11-05 15:18] spaulins-usgs commented on #704
Flopy now allows you to set "continue", "nocheck", and "memory_print_option" during initialization.

[2019-11-05 15:18] #704 closed

[2019-11-05 16:34] fahadkhan469 commented on #671
Hi @John1205

I am trying the same thing. Could you please share with me the earlier lines of your script defining the variable 'f' and 'ml'? My idea is to load the .sfr file and then modify some parameters.

Thanks!

Fahad

[2019-11-05 17:33] fahadkhan469 commented on #671
Hi @John1205

Thanks for replying quick. I may have mistranslated my intentions, actually I am running the modflow-nwt model in a field site at Ethiopia, which is part of my PhD research. I have all the files I need. I just needed to know in your script ("sfr = flopy.modflow.ModflowSfr2.load(f, model = ml)") what is "f" and "ml".

Is "f" the .sfr filename? And what about "ml"? How did you load the

[2019-11-05 17:40] mustafaucr opened #712 "Modify recharge package and update package input file"
Actually creating a package, input files, then modifying values and saving it again is very important for me. I can create a modflow model but I can not add a package or updating existing package and saving it with new values. Here is my script for that:

[code]

I have already [asked ](https://stackoverflow.com/questions/58716481/how-to-write-new-input-file-after-modify-flopy-package)it in stacko

[2019-11-05 17:41] John1205 commented on #671
hi @fahadkhan469 . I am using the model built by USGS, which I mentioned earlier.  "f " is the .sfr name. ml is the loaded MODFLOW by using . NAM file.  Please see below.

ml = flopy.modflow.Modflow.load('SRPgsf_newHfb_0530132.nam',
                                verbose=True, check= False,
                                exe_name=path2mf, version = 'mfnwt')

[2019-11-05 17:55] spaulins-usgs commented on #707
@aleaf-usgs I modified the optimized version of the code to work with an expanded set of cases including your well example above. Additionally I added a verify_data flag you can set when calling the MFSimulation.load method. With verify_data off flopy will not do any verification checks on the data which further speeds up the load. On my computer your example loaded over three times faster when us

[2019-11-05 17:58] fahadkhan469 commented on #671
Thank you very much!

Fahad

On Tue, Nov 5, 2019 at 12:44 PM John1205 <notifications@github.com> wrote:

--
Regards

Fahad Khan Khadim
Graduate Research Assistant,
Department of CEE, UConn

*More on my portfolio at Researchgate
<https://www.researchgate.net/profile/Fahad_Khan_Khadim>; Google-scholar
<https://scholar.google.com/citations?user=hTKHgKMAAAAJ&hl=en&oi=ao>; LinkedIn
<https://www.linkedi

[2019-11-05 18:35] aleaf commented on #707
thanks @spaulins-usgs. When I run the example above with these changes (assuming they are all incorporated in 06343a79f), it takes about 20 sec with `verify_data=True` and 14 sec with `verify_data=False`. Certainly an improvement over 50 sec., but to be honest still a little unsatisfying considering the speed of the basic python example above. I realize though, that there is probably only so much

[2019-11-06 11:33] mustafaucr commented on #712
I found my error. modflowModel.write_input() works very well. Problem occures while loading model object Modflow.load(...). Now I load model whereever I need. Because if I load it another py etc., there might me model_ws confusion.

[2019-11-06 11:33] #712 closed

[2019-11-06 22:58] jtwhite79 opened #715 "adding to irch?"
https://github.com/modflowpy/flopy/blob/7cbc48929051e03ce193b3fbf375f8c9c4a38d8c/flopy/modflow/mfrch.py#L144

Does anyone know why we are adding 1 to the `irch` variable?  It doesnt work for me on a model with `nrchopt = 2` because `Transient2d` doesnt define the `__add__` operator. I can add/hack if needed but just wanted to make sure we should be adding 1 to `irch`

[2019-11-06 23:22] langevin-usgs commented on #715
Well irch is the layer number, so it would make sense to add 1 to it.  Ironically, I noticed today that we do not add 1 to the mf6 version of irch, which I am intending to fix.

[2019-11-06 23:25] jtwhite79 commented on #715
ok, fair enough, but we dont subtract 1 from `irch` in the load.  So should `irch` be zero-based?  If, we probably shouldnt add 1 except at during write, agree?

[2019-11-06 23:40] langevin-usgs commented on #715
Ahh, yes.  We shouldn't add 1 in `__init__`.  That does look screwy.  I wonder why we did it that way.  Must be a residual from the old days.  Should subtract 1 on load, and add 1 on write.

[2019-11-11 04:07] flydream0428 opened #718 "layer input for the plot_discharge() function?"
It seems like the function `plot_discharge(frf=None, fff=None, flf=None, head=None, istep=1, jstep=1, normalize=False, **kwargs)` is only able to return the discharge for the top model layer? I tried to pass `mflay` to it, but it doesn't support it. Am I right here or I am doing something wrong?

I also noticed that the example script for plotting discharge doesn't work for me in the notebook http

[2019-11-11 20:50] mhannonj opened #719 "Mismatch on tutorial02.py"
This is not really a pressing issue, but I noticed a mix-up on how a couple of variables are defined in the Tutorial 2 Python script.  They have to do with following lines (11 to 14):
[code]
The denominators in the `delr` and `delc` definitions should be switched:
[code]
Since `nrow` and `ncol` are both set to the same value, it has no bearing on the output of this file as-written, but should some

[2019-11-11 22:22] mwtoews commented on #719
See https://github.com/modflowpy/flopy/issues/476#issuecomment-470912210

[2019-11-12 09:33] mustafaucr opened #720 "Error when exporting shape file"
If you try to export any package of flopy as shapefile pyshp (shapefile) whose version is 2.1.0; shapefile is created but it is broken. I install pyshp 1.2.1 it works but `shp2recarray `function does not work.

[2019-11-12 19:29] jlarsen-usgs commented on #720
@mustafaucr, can you give me more information about the issue, so I can look into it. What is broken in the shapefile with version 2.1.0? What error message are you getting with pyshp 1.2.1? Thanks!

[2019-11-12 19:39] jlarsen-usgs commented on #718
@flydream0428
Instead of passing mflay to `plot_discharge()`, pass the `layer=` parameter when instantiating the `PlotMapView` class. Example.

[code]

I'll check out the notebook and see if I can recreate the issue.

[2019-11-12 20:34] flydream0428 commented on #718
Gosh, a silly ignorance. Thanks a lot!

On Tue, Nov 12, 2019 at 1:39 PM Joshua Larsen <notifications@github.com>
wrote:

[2019-11-12 20:47] mhannonj commented on #719
Oops... looks like I got confused by the same thing. Thanks for your help!

[2019-11-12 20:50] mustafaucr commented on #720
Okey, here is my code to produce a shape file:

[code]
When I run this code with shapefile 2.1.0. It creates a *.shp file. I can add it to GIS software (I use QGIS) and open it on canvas. But when I try to get information from the layer, it produces wrong values. Moreover, if I try to zoom to layer more and more; layer disappears suddenly. It also shows that layer is broken.

On the other hand, if

[2019-11-12 20:50] #719 closed

[2019-11-12 23:27] jlarsen-usgs commented on #718
@flydream0428.

I wasn't able to reproduce the error you noted in the PlotMapView_demo notebook. What version of flopy are you working with?

[2019-11-13 00:51] jlarsen-usgs commented on #720
@mustafaucr

Hi, I can't recreate the error you're describing with pyshp 2.1.0, but I've dug into the pyshp 1.2.1 error and think they may be related. In the "new" shapefile exporting code, integers were being stored as floating point values. I'll submit a PR for this issue later today.

[2019-11-13 01:21] #718 closed

[2019-11-13 03:11] mustafaucr commented on #720
Yes there is no error actually. It seems that shapefile is created without no error but there is something wrong with shapefile. I can not explain that with giving error message, but if I can explain it clearly, I will share it with you.

[2019-11-13 17:16] jtwhite79 commented on #720
I also noticed recently that the grid-based shapefiles aren’t drawing the polygons as closed.  I think This is because the shapefile spec says the vertices should “close the loop” so to speak.  That’s why sr adds the coordinates of the first corner again, so there are 5 verts for each square.  The order of the verts matters too.  Maybe this is part of the problem?

[2019-11-13 19:29] jlarsen-usgs commented on #720
@jtwhite79

Can you supply an example problem where grid based shapefiles aren't drawing the polygons as closed?

I've checked the shapefile exporting code and:
1) the exterior vertices are ordered in the clockwise direction and interior vertices are ordered counterclockwise according to the shapefile spec.
2) I've tested with pyshp 2.1.0 and pyshp 1.2.1 and none of our example problems have shown

[2019-11-13 19:38] jtwhite79 commented on #720
<img width="369" alt="image" src="https://user-images.githubusercontent.com/1770912/68797643-38c78800-0612-11ea-8d91-e806a9ce6206.png">
 That is a screen shot from qgis showing the un-closed polygons in the first column (the others arent closed either, but are masked by their neighbors).  Here is the script that makes it:

[code]

[2019-11-13 20:42] jlarsen-usgs commented on #720
@jtwhite79

After digging into the code, It looks like pyshp v. 2.1.0 doesn't automatically close polygons like pyshp v. 1.2.1. This issue doesn't seem to affect polygon rendering ArcGIS. However, it is apparent that un-closed polygons are not displayed the same way in qgis.

[2019-11-14 00:58] jlarsen-usgs commented on #720
Pull Request #721 should take care of this issue

[2019-11-14 16:16] #720 closed

[2019-11-15 21:21] langevin-usgs commented on #715
Close with https://github.com/modflowpy/flopy/commit/7cbc48929051e03ce193b3fbf375f8c9c4a38d8c

[2019-11-15 21:21] #715 closed

[2019-11-18 14:49] langevin-usgs opened #727 "Update flopy author list in the software citation"
This software citation in readme.md should probably be updated based on the information in setup.py:

Bakker, M., Post, V., Langevin, C.D., Hughes, J.D., White, J.T., Starn, J.J., and Fienen, M.N., 2019, FloPy v3.3.0 — release candidate: U.S. Geological Survey Software Release, 18 November 2019, http://dx.doi.org/10.5066/F7BK19FH

[2019-11-19 16:58] hwreeves-USGS opened #730 "stoptime and timepointdata in MODPATH7"
I think there is an error in the timepointdata default for the Modpath7Sim class.

For the default timepointoption = 1, the class sets
[code]

But it looks like self.parent.time_end is inherited from MODFLOW and its not using the stoptime that gets passed to the class.  I think this line should be

[code]

Thanks for checking

[2019-11-20 07:50] mustafaucr opened #732 "None type error while loading Mt3dms"
I try to load created mt3dms file whose extension is *.mtnam. However I can not load it.

here is my nam file for modflow and mt3dms respectively:

[code]

I try to load like that:

[code]

There is no problem while loading model but it does not load mt3dms file. How can I load that?

Content of the `hidrojeoloji.mtnam` below:
![image](https://user-images.githubusercontent.com/36263724/69219160-4e

[2019-11-20 23:02] porterma opened #733 "flopy.modflow.ModflowDis() xul and yul weirdness..."
I am having issues with flopy.modflow.ModflowDis() when adding grid spatial refernece. When I add xul, yul and rotation, the results spatial reference data is not consistent with what I added. The following code demonstrates the issue.

[code]

The output I get is:
dis.sr: xul:2784432.239; yul:1158182.178; rotation:-39; proj4_str:+init=epsg:2243; units:feet; lenuni:1; length_multiplier:1.0
dis.sr.

[2019-11-21 20:47] jlarsen-usgs commented on #733
@porterma
I'll take a look at the issue this afternoon.

[2019-11-22 19:15] jlarsen-usgs commented on #733
@porterma

I just submitted a PR to address the issue. The weirdness came from not applying the grid rotation prior to calculating the xll and yll locations for the `Grid` class.

[2019-11-22 20:46] jdhughes-usgs opened #738 "flopy checking of MODFLOW 6 input data"
Need comparable error checking to MODFLOW-2005 based models

[2019-11-25 13:21] Hugovdberg opened #740 "Setting a relative model path fails when creating the first model"
When I run the following snippet I get a `TypeError`:

[code]
<details>

[code]

</details>

[code]

It appears to fail because I set a relative path immediately for the first model, when the simulation does not contain any models with a path yet. The workaround to use `model_rel_path='.'` and call `set_model_relative_path` manually aftewards also fails:

[code]

<details>

[code]

</details>

[co

[2019-11-25 16:27] #733 closed

[2019-11-25 17:50] langevin-usgs commented on #732
Not sure what you mean by "mt3dms" file.

[2019-11-25 17:59] emorway-usgs commented on #732
@mustafaucr In addition to the previous question, are the input files small enough to attach to this issue?

[2019-11-25 20:09] jlarsen-usgs opened #741 "Remove redundancy and consolidate plotting notebooks"
I started looking at the plotting notebooks for the planned FloPy version 3.3.0 release and there is quite a bit of redundancy that could be removed or consolidated. Right now there are 7 notebooks that display plotting functionality:

_flopy3_PlotArrayExample_ (shows how to use the built in .plot() methods)

_flopy3_mf6_plotting_freyberg_ (shows basic plotting using `PlotMapView` using the Freybe

[2019-11-27 05:54] flydream0428 opened #743 "bugs in flopy.mt3d.mt.Mt3dms.load()"
The attached file is a SSM file for MT3D. MT3D-USGS is OK with it. However, flopy cannot load it correctly. In the file, the loading starts at stress period 60. The flopy will see it starting from stress period 120.
[tran_v1.zip](https://github.com/modflowpy/flopy/files/3895333/tran_v1.zip)

[2019-11-27 18:40] emorway-usgs commented on #743
@flydream0428 Notice that in the file you attached:
[code]
Was the attached SSM file created with flopy?  All the 0's are on dedicated lines and are being picked up as item `NSS`.  The fact that the input varies starting at stress period 60, but you're seeing it as stress period 120, confirms that the 0's are being read as `NSS`.  If you remove the lines containing only 0's, it should load for you

[2019-11-28 08:55] mustafaucr commented on #732
Thanks for response. I found my solution:

[code]

I think there is problem with my directories. Additon I had a problem with loading package. It is solved also by using `ext_unit_dict ` parameter.

[2019-11-28 08:55] #732 closed

[2019-11-28 09:00] mustafaucr opened #744 "flopy3_MT3DMS_examples model run result problem"
I control if mt3d model runs correctly by using return values of `run_model` function:

`success, mfoutput = mt.run_model(silent=False, pause=False, report=True)`

However `success` value gives me `False `every time. In flopy example documentaion, as well.

https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_MT3DMS_examples.ipynb

I try **Example 6. Concentration at an Inject

[2019-11-28 14:20] langevin-usgs commented on #744
For mt3d, you have to set normal_msg correctly as a run_model argument.  I forget what it is offhand, but it should be the string that mt3d reports to the screen at the end of a successful run.

[2019-11-28 14:20] #744 closed

[2019-12-01 22:45] flydream0428 commented on #743
@emorway-usgs I have tried to remove the 0s. If I removed 0s, MT3D-USGS will not load the mass rightly, although it works of flopy. I also tried to replace 0s with an empty line. This works for MT3D, however, it doesn't work for flopy.

[2019-12-02 12:31] emorway-usgs commented on #743
Does is crash near stress period 60?  Could you upload your problem?  To help keep file size down, would you mind making a copy of your model that only includes the first 10 (or so) stress periods?  Or, alternatively, if the input is relatively small and you prefer to upload the whole thing, I'm happy to use that too.

[2019-12-02 23:49] emorway-usgs commented on #743
@flydream0428 Please see my previous post [here](https://github.com/modflowpy/flopy/issues/743) if you haven't seen it already.  Because I forgot to reference you directly, I'm not sure you would have received my request for the model input.

[2019-12-03 02:28] flydream0428 commented on #743
@emorway-usgs
Hi Eric,
Below is the input files. I have added two SSM files in the attached folder. The default one is the one with 0s removed. To reduce the file size, I have deleted the flow modelling results. So you need to run the flow model first. It takes about 30 minutes. The transport model takes about 10 minutes. The crash indeed happens around 31, It takes one of the -1 as NSS.

[tran_v1

[2019-12-03 03:10] flydream0428 commented on #743
@emorway-usgs I think I should also mention another issue I have found. I have tried to use the stress_period_data dictionary to generate the SSM object. It seems like Flopy can generate the object; however, it doesn't write a write SSM file.
[code]

[2019-12-03 19:00] emorway-usgs commented on #743
@flydream0428 OK, I think I see what the issue is.  In your flow model, you use the RCH package.  When MF-NWT writes the linker file (.ftl in your case), the header information will inform MT3D-USGS that the concentration of recharge will specified in the SSM input file.  However, your SSM file doesn't have entries for INCRCH (and CRCH as necessary).  For example, you will need something like the

[2019-12-03 23:04] flydream0428 commented on #743
@emorway-usgs Thanks for pointing out the inconsistency of the TSMULT between the flow and the transport model. I have fixed this. Below is the right one.
[tran_v1_btn.zip](https://github.com/modflowpy/flopy/files/3919100/tran_v1_btn.zip)

Meanwhile, even with this fix, the loading function still doesn't work as I expected.
Let's load the model,

`# path to the MODFLOW compiled executable
exe_name

[2019-12-04 23:09] emorway-usgs commented on #743
@flydream0428 When I remove the 0's from the ssm file you sent, everything seems to be as expected.  Here's what the corrected SSM file looks like:

![sp61](https://user-images.githubusercontent.com/3236576/70189226-9a29c680-16a7-11ea-9d90-059a0d2f7066.png)

and here's what I have when I run `ssm.stress_period_data.data`:

![flopy_vals](https://user-images.githubusercontent.com/3236576/70189242-a4

[2019-12-05 02:20] flydream0428 commented on #743
@emorway-usgs It's so strange. There are two issues if I removed all the 0s.
1. It should start from SP 60 rather than 61. From sp 60, I expect to see continuous loading. However, SP62 becomes empty.
![image](https://user-images.githubusercontent.com/15154177/70197557-e689fc00-16d1-11ea-88c3-8d036e336c44.png)
![image](https://user-images.githubusercontent.com/15154177/70197519-c8240080-16d1-11ea-9

[2019-12-05 10:07] hLiu006 opened #747 "Same script cannot run on Mac (installed OS-version flopy and seawat executable file)"
Hi, recently I'm trying to run a given script which applies seawat package. However, the same code which runs well on the Windows computer does not work on my Macbook.  And I was announced that '_**Program received signal SIGFPE: Floating-point exception - erroneous arithmetic operation.**_'. Besides , according to the list file, it seems that the model doesn't work successfully since it stops bef

[2019-12-05 16:48] spaulins-usgs commented on #740
I checked in a fix that should solve the problem. Please try checking out the latest flopy code on the develop branch and let me know if it fixes the problem for you.

[2019-12-05 18:14] emorway-usgs commented on #743
@flydream0428 When I went back and looked at the original SSM file you sent along, the transient data starts at stress period 61, not 60.  Here is what you sent (I added the comment highlighted by blue):

![orig_tao](https://user-images.githubusercontent.com/3236576/70259911-0954f880-1744-11ea-8ab1-bdd638ec9525.png)

If instead you want the stress period to start at stress period 60, you would mod

[2019-12-05 18:42] flydream0428 commented on #743
@emorway-usgs Thanks for your effort. However, I still think it's not right here. MT3D requires at least two input in my case. The first one is INCRCH (I used -1 here to let it be 0 concentration). The second one is the NSS. This is why I kept a 0 after INCRCH (-1)  untile sp 60 when the contaminant loading begins. For stress period 60, it should be,
-1     #INCRCH for sp 60
506  #NSS for sp 60
..

[2019-12-05 18:50] emorway-usgs commented on #743
@flydream0428 Please see [this PR](https://github.com/modflowpy/flopy/pull/748) which will hopefully fix the -1 issue.

Could you resend/reattach just the SSM file you are now using.  As long as you set frch (on the first line of the ssm input file) correctly, it seems like everything should work.  I must be out of sync with what you are using.

[2019-12-05 20:15] flydream0428 commented on #743
@emorway-usgs There are two files in the zip. tran_v1.ssm is the one without 0s as you suggested.
The other one is the one I used wiht 0s.
[tran_v1_0112.zip](https://github.com/modflowpy/flopy/files/3928761/tran_v1_0112.zip)

Finally, I think I figured out what is the issue here. Flopy relies on the flag on the first line to determine the loading data structure. However, after 5.0, MT3D (also MT3D

[2019-12-07 03:31] geouke opened #749 "Origin/Rotation in DIS Package is Unintuitive"
I tried to use FloPy (again) and ran into what seems like strange default behavior. I defined an origin at the upper left of my model grid in real world coordinates, per the documentation. I then tried to apply a rotation and realized that my grid was not where I expected. Come to find out, the axis of rotation is a different point (the lower left).

It seems to make more sense to define the lower

[2019-12-07 04:49] jentjr commented on #727
This is something I think I can help with if you would like some assistance. I was thinking to import and convert the `__author__` string from `flopy/__init__.py` to a citation string in `make-release.py` at lines 240-241, and also at 296-308 for the USGS and PyPi release notes.

[2019-12-07 14:57] langevin-usgs commented on #727
Hey @jentjr, thanks for offering to do this, but this might not be as straightforward you might think.  With our different branches, our protocols for building documentation, and the way we make releases, this could get tricky.  You are of course welcome to submit a PR based on what you're suggesting and we'll take a look, but we may end up having to do something more comprehensive.

[2019-12-07 15:25] langevin-usgs commented on #749
We've gone round and round on this for years, and most of it is my fault.  The approach that you suggest is the default for the MODFLOW 6 model, but not for MODFLOW-2005.  It is also the default for the new underlying grid object.  We probably won't change this again for mf2005/nwt models at this point, but we recognize the issue.  Fortunately, the mfdis docstrings do indicate that the rotation is

[2019-12-07 15:25] #749 closed

[2019-12-08 02:47] geouke commented on #749
Thanks for the reply. It's an easy enough transformation to make.

[2019-12-09 23:24] emorway-usgs commented on #743
@flydream0428 This is what I was pointing out in one of my earlier responses ([here](https://github.com/modflowpy/flopy/issues/743#issuecomment-562248931)).

@langevin-usgs When all stress periods use INCRCH = -1, for example the "tran_v1_b1.ssm" file included in the zip file provided with the previous post on [this](https://github.com/modflowpy/flopy/issues/743) thread, flopy doesn't seem to know

[2019-12-10 00:41] jlarsen-usgs commented on #741
I put together a draft set of notebooks for the plotting libraries and folded in many of the examples that were presented in the seven notebooks that were listed in my previous comment.

The ipython notebooks for `PlotMapView` and `PlotCrossSection` can be viewed at:
[flopy3.3_PlotMapView](https://github.com/jlarsen-usgs/flopy/blob/develop/examples/Notebooks/flopy3.3_PlotMapView.ipynb)
[flopy3.3_P

[2019-12-10 13:36] langevin-usgs commented on #743
@emorway-usgs, I'm not sure that is entirely correct.  In looking at the MT3D input instructions, a -1 value for INCEVT might cause behavior that is different from specifying a value of 1 and then setting CEVT to zero.   If you specify CEVT to zero, then pure water is pulled out and the solute is left behind.  If you specify a -1 value, then solute is also pulled out at the aquifer concentration.

[2019-12-10 13:57] langevin-usgs commented on #741
Hey @jlarsen-usgs, I took a quick look and think it looks great.  There is always more to add, but I think what you've done here is a nice synthesis.  Looks good to me.

[2019-12-10 20:30] jtwhite79 opened #753 "MF6 HeadFile.plot() not masking inactive cells"
If you pass the model instance to `HeadFile` with the MF2005/MFNWT instances, `HeadFile.plot()` will mask `ibound==0` so you can see the simulated values in the colormap.  The same call for an MF6 model does show the idomain inactive areas as black, but the array isnt being masked before plotting, so you get extreme values:
![image](https://user-images.githubusercontent.com/1770912/70566255-f336a6

[2019-12-10 21:03] emorway-usgs opened #754 "Should SSM require data be specified in the first stress period?"
Discovered this issue while trying to get to the bottom of #743.

To demonstrate this issue, I took the 'flopy3_multi-component_SSM.ipynb' notebook and made two scripts out of it.  The first script ('test_script_works.txt') is the same as the aforementioned notebook - all appears to work OK.  The second script ('test_script_breaks.txt'), which is the same as the first but with some minor edits (se

[2019-12-10 21:11] jtwhite79 commented on #743
https://github.com/modflowpy/flopy/blob/677c1d42edcc692939a2eceaca730b1337aba708/flopy/utils/util_array.py#L1504

I think that line means it will return a `-1` for the first stress period, but I havent tested that...

[2019-12-10 21:31] jlarsen-usgs commented on #753
@jtwhite79
The reason that mf2005 and mfnwt models are automatically masked is because the `_plot_array_helper` function queries hnoflo and hdry which are defined in the BAS and LPF/UPW files. MODFLOW-6 doesn't have this information natively. I'll add a small subroutine to extract these values based on the location(s) of inactive cells and add it to the `_plot_array_helper` function, provided that

[2019-12-10 21:40] jwhite-usgs commented on #753
Sweet as @jlarsen-usgs .  I saw those conditionals but wasn’t sure why the idomain was plotting but the masking wasn’t happening.  Maybe it’s a better approach to mask with ibound/idomain instead of relying on those specific values?

[2019-12-10 21:41] langevin-usgs commented on #753
MODFLOW 6 doesn't allow those values to be specified.  They are set to nodata-like values.  From the mf6 IO document:

"In the present MODFLOW 6 version, the TEXT value is specified as “HEAD”. Cells that have been assigned an IDOMAIN value of zero or less are assigned a head value of 1.0 x 1030. Cells that have converted to dry are assigned a dry value of −1.0 x 1030. The large negative value allo

[2019-12-10 21:57] jlarsen-usgs commented on #753
Yes, we can definitely filter on those values, and it'll be much more efficient than filtering based on the ibound array. Thanks for the clarification @langevin-usgs!

[2019-12-12 13:24] #647 closed

[2019-12-12 15:58] #740 closed

[2019-12-12 16:50] #753 closed

[2019-12-12 16:51] #741 closed

[2019-12-12 17:00] emorway-usgs commented on #754
fixed with PR #756

[2019-12-12 17:00] #754 closed

[2019-12-12 17:20] emorway-usgs commented on #674
@flydream0428 The issue with changing `ssm_dat[0]` to `ssm_dat[n]` should be resolved with #756.

Regarding your other question, is the input that you showed (quoted below) from flopy?  Was MT3DMS (or MT3D-USGS) complaining about this input?  Without the rest of your input, it's hard to tell what could be going on, it could be that the first 0 would indicate that a constant value is going to be us

[2019-12-12 17:24] #674 closed

[2019-12-12 18:35] Hugovdberg commented on #740
Sorry for the late reply, it appears this did fix the problem, thanks a lot!

[2019-12-12 22:31] emorway-usgs commented on #743
@langevin-usgs Per our offline discussion, I attempted to compare the construction of a Rch package in MODFLOW with the construction of SSM's crch (concentration of recharge).  However, the ModflowRch() class crashed with the small example given next, so I was unable to compare.

The small reproducible example is:

[code]

The call stack is something like:
[code]
I'm to elevate this issue to a hig

[2019-12-16 05:55] tomvansteijn opened #764 "aggregation method in util_list.py"
Duplicated list entries are aggregated using `dfg.sum()` in flopy\utils\util_list.py, get_dataframe, line 473. Summing is appropriate for conductances but not for stages / head levels / river bottoms. For example, when having two drain boundary conditions in the same node, flopy will create a single entry in the stress period data of the DRN package, containing the sum of conductance (correct) and

[2019-12-16 07:45] mbakker7 commented on #764
For the DRN package, I don’t think anything should be aggregated. Or it
should be a weighted sum of the drain levels. But that would make it a
weird military-level drain. That doesn’t work either I think.

On Mon, 16 Dec 2019 at 06:55, Tom van Steijn <notifications@github.com>
wrote:

[2019-12-16 13:46] langevin-usgs commented on #764
I agree that there should be no aggregation, or it should be aggregated with a keyword, but not used as the default.  I imagine part of this was so that data frames could be used to operate with grids.  I know that this has been problematic for creating NetCDF files from MODFLOW input and output, because the underlying foundation is a grid.  @jwhite-usgs, do you have any thoughts on this?  I suspe

[2019-12-16 21:17] #743 closed

[2019-12-17 11:06] jtwhite79 opened #767 "MF6 multiple calls to the same package"
This is really just an issue in the notebook env, but if you make the same package constructor call more than once, then flopy seems fine with it, but its getting the unit numbers tripped up and MF6 doesn't like it. Attached is an example that produces the behavior - two calls to `mf6.ModflowGwfoc`
[test.py.zip](https://github.com/modflowpy/flopy/files/3972902/test.py.zip)

[2019-12-18 08:50] jtwhite79 commented on #767
Thanks @spaulins-usgs !

[2019-12-18 12:33] #767 closed

[2020-01-02 18:52] mnfienen opened #772 "Proposal to consolidate geospatial inputs"
## Proposal for consolidating geospatial object input handling

There are a handful of methods and functions that take various geospatial geometries as input (e.g. points, lines, or polygons). Currently, these are handled in various ways, typically not taking advantage of the `shapely.geometry` types of `Point`, `Line`, or `Polygon`. Most functions take a list of points that describe a line or a p

[2020-01-07 15:05] hLiu006 opened #773 "Empty hds file"
Hi everyone,
I'm trying to modelling aquifer thermal energy storage by flopy. But it turns out that the generated head file is empty which confused me for a long time and I couldn't find a solution for this. The related files are posted below. Hope you could give me some ideas why it happens and how to solve this.
[ControlOutput.zip](https://github.com/modflowpy/flopy/files/4031152/ControlOutput.z

[2020-01-09 09:22] rabbl commented on #773
Hi @hLiu006, could you provide the python script for your model?

[2020-01-09 09:28] rabbl commented on #747
Can you please provide the script?

[2020-01-09 09:36] mbakker7 commented on #773
This problems needs further investigation before it is posted here. I will work with hLiu006 (who is my student) and he will come back with a clear question if we can not solve it ourselves.

[2020-01-09 09:36] #773 closed

[2020-01-09 09:37] mbakker7 commented on #747
This problems needs further investigation before it is posted here. I will work with hLiu006 (who is my student) and he will come back with a clear question if we can not solve it ourselves.

[2020-01-09 09:37] #747 closed

[2020-01-10 19:40] tdeyster opened #774 "SMS solver module fails to print OPTIONS parameter in *.sms file"
FloPy version: 3.3.0

Script to reporduce issue:
[code]
Inspecting `modflowtest.sms` shows that the options parameter has been ignored.
[code]

Proposed change to flopy/modflow/mfsms.py:
add  `if self.options:   f.write('{0}\n'.format(self.options))` at line 322 in write_file()
[code]
Re running `sms.write_file()` now produces the expected *.sms file
[code]

[2020-01-10 20:23] langevin-usgs commented on #774
I don't think the options line is required, so there really is no need to put SIMPLE on the first line.  Are you finding that is not the case?

[2020-01-10 20:47] tdeyster commented on #774
While not required, the options line does allow the user to update all parameter defaults without specifying each individually.
For example, by specifying the "COMPLEX" option mfUSG updates values for THETA AKAPPA GAMMA AMOMENTUM NUMTRACK BTOL BREDUC RESLIM. Otherwise the flopy defaults will be used for all parameters unless these keys are specifically set with flopy.modflow.ModflowSms()

[2020-01-10 22:34] mattijn opened #775 "Linking MT3D-USGS to MODFLOW6 model"
Hi all, new MODFLOW user here!
According to the [documentation](https://water.usgs.gov/water-resources/software/MODFLOW-6/mf6io_6.1.0.pdf#page=25) of MF6 it is possible to link a MF6-model to a MT3D-USGS model as long as it is a regular grid:

Which is confirmed in the [documentation](https://github.com/mattijn/datasets/blob/master/Input_Instructions.pdf#page=4) of MT3D-USGS:

But when I try to co

[2020-01-11 01:07] langevin-usgs commented on #775
Sorry, and thanks for pointing this out @mattijn.  Doesn't look like flopy is set up yet to link MODFLOW 6 with MT3D-USGS.  We'll leave this open so it's on the list of things to implement.  Maybe @emorway-usgs can look into this.

[2020-01-11 14:46] emorway-usgs commented on #775
@mattijn @langevin-usgs I'll have a look at this one.  Please do leave it open

[2020-01-11 17:47] aleaf opened #776 "AttributeError: model_name with MFModel.remove_package()"
The docstring for `MFModel.remove_package()` states that it can accept a package name, package type, or package object as an argument. However, if I try running this test function (in `autotest/t502_test.py`, for example), I get an `AttributeError: model_name` in all three cases.

[code]

[2020-01-13 07:11] flydream0428 opened #777 "Update bottom elevation data in the DIS object"
I am trying to update some layers' elevation based on some conditions. It seems like the elevation values will stay the same even an assignment is conducted. What is the right way to do this?

`mf_new.dis.botm.array[k]=new_botm`

[2020-01-13 13:44] langevin-usgs commented on #777
Great question.  The .array property return a copy of the botm array.  What you want is this:

[code]

You can set dis.botm by layer or for the whole thing.  The other MODFLOW-2005/NWT arrays in flopy will work this way too.  Under they hood they are Util3d arrays.  MODFLOW 6 works a little differently I think.  For those, I think they have a "set_data" method.

Hope this helps.  Closing...

[2020-01-13 13:44] #777 closed

[2020-01-13 13:54] mbakker7 commented on #777
This would have been a great question for the stacksoverflow page. You want
to re-post it there so we can answer again and people can find it back?

On Mon, Jan 13, 2020 at 2:44 PM langevin-usgs <notifications@github.com>
wrote:

[2020-01-16 17:01] spaulins-usgs commented on #738
Error checking for mf2005 was refactored to support both mf2005 and mf6.  MF6 is now using a subclass of the check class mf2005 uses.

[2020-01-16 21:22] porterma opened #782 "Possible bug in get_center() in the Gridgen class"
I came across some discrepancies in my (x, y) center locations returned by the get_center() function and those returned by the centroid method of shapely. The flopy code for get_center() is below.

[code]
In my quadtree grid that I am working with, the combination of xmin and xmax does not return the center point of my polygon. It returns the center of an edge. In my case the grid is rotated by -3

[2020-01-16 22:01] langevin-usgs commented on #782
@porterma, you're right.  It looks like the logic under the hood does not work for a rotated grid.  Thanks so much for pointing this out.  I'll work on a fix.

[2020-01-17 00:44] #782 closed

[2020-01-17 00:45] langevin-usgs commented on #782
This was an easy fix, @porterma.  Glad you mentioned the problem.  Thanks!

[2020-01-17 04:07] emorway-usgs commented on #743
@flydream0428 With PR #780, this issue should finally be resolved.  I didn't read your last post close enough, where you wrote:

The Transient2d object was removed from ssm's initialization, so you shouldn't see this error message anymore.

[2020-01-17 17:22] #776 closed

[2020-01-17 17:36] #738 closed

[2020-01-19 03:55] RyanConway91 opened #785 "applying spatial reference to mf6 model"
Hello, are there any examples of applying a spatial reference to an existing mf6 model?

Particularly, I want to create a sr class from my mf6 model to pass to another code (sfrmaker).

[2020-01-20 06:07] flydream0428 commented on #743
@emorway-usgs Thanks for the update!

[2020-01-20 09:06] gojos13 opened #786 "Plotting cross section data"
Hello,

I'm trying to make a 2D cross section of hk as is suggested in this notebook: https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3.3_PlotCrossSection.ipynb.

Plotting using the code below does produce a proper cross section of the layers and colorbar, but all hk values are displayed as zero. The array that is displayed is however not just zeros. Does anyone know how to

[2020-01-20 09:31] #786 closed

[2020-01-21 11:04] flydream0428 opened #787 "error when flopy.utils.utils_def.totim_to_datetime(ts1[:,0], start='1-1-1970', timeunit='D') is called"
When the following utility function was called,
`flopy.utils.utils_def.totim_to_datetime(ts1[:,0], start='1-1-1970', timeunit='D')`
An error was encounted,

~\AppData\Local\Continuum\miniconda3\lib\site-packages\flopy\utils\utils_def.py in totim_to_datetime(totim, start, timeunit)
    103         kwargs[key] = to * fact
    104         t = timedelta(**kwargs)
--> 105         out.append(start + t)

[2020-01-21 11:18] flydream0428 commented on #787
I figured this out. I have to pass a datetime object to start par.

[2020-01-21 11:56] oscarfasanchez commented on #142
but nothing has changed in the tutorial, right?

[2020-01-21 15:10] langevin-usgs commented on #142
Yes, the tutorial was changed April 2017 so that ztop is 10, which means the aquifer is unconfined.

[2020-01-22 15:31] spaulins-usgs commented on #785
The SpatialReference class has been deprecated and has been replaced with the grid classes. All models, including mf6 models have a modelgrid attribute to get the model's grid. The grid classes have a set_coord_info method to set coordinate (spatial reference) information. You can find examples of this in the flopy3.3PlotMapView.ipynb python notebook.

To set your new model grid's spatial referenc

[2020-01-22 23:35] flydream0428 opened #788 "IRDFLG parameter of the STR package"
Can we add the IRDFLG control in the future?

[2020-01-23 09:03] vijay-vimal commented on #286
how can i solve this problem.
Django Version: | 2.2.7

AttributeError
'str' object has no attribute 'items'
C:\ProgramData\Anaconda3\lib\site-packages\requests\models.py in prepare_headers, line 446

[2020-01-23 16:34] jlarsen-usgs commented on #286
@person0712

You will have to point pyinstaller to the `longnames.json` file in your spec file. This process is covered in the pyinstaller documentation [pyinstaller](https://pyinstaller.readthedocs.io/en/stable/spec-files.html).

Here is the example they provide:
[code]

[2020-01-24 23:05] hwreeves-USGS opened #789 "problem with shapefile export and xul, yul"
I am working in the 'develop' branch, flopy-3.2.13-py3.7

When trying to export a shapefile from the RIV package, the grid is sent to xul, yul = (0,0)
and not the values set in the spatialreference.  I printed the spatial reference and it is OK.

If I make a little array of river cells, then I can use write_grid_shapefile.

These give a shapefile with the right attributes table, but the corner at

[2020-01-24 23:43] jlarsen-usgs commented on #789
@hwreeves-USGS

Hi, the issue that you're experiencing is due to the `SpatialReference` class being deprecated in flopy. Instead of setting spatial reference information in the `SpatialReference` class, you should set it in the `Grid` class for your model. You can access the modelgrid by:

[code]
and can set coordinate information using the offsets and rotation from the lower left corner of the mo

[2020-01-25 02:03] oscarfasanchez opened #791 "Tutorial 2 well flow"
The tutorial shows code with a flow of -100, but the graphics were made with -500

[2020-01-25 17:00] oscarfasanchez opened #792 "Tutorial 2 with NWT"
hi! when I tried to run the tutorial  with Modflow nwt it says Exception: MODFLOW did not terminate normally.
I did the same thing with tutorial 1 and it works perfectly
please help, is this a bug? or what am I doing wrong?

here is the code!, thanks in advance!

import flopy
import numpy as np

#""" CREATE MODEFLOW MODEL , DEFINE MODEL EXTENT GRID RESOLUTION AND CHARACHTERISTICS"""
#creating the

[2020-01-26 22:05] mattijn opened #793 "Heat transport using MODFLOW and MT3DMS / MT3D-USGS"
I'm trying to comprehend the following heat transport tutorial based on MODFLOW-2005 and MT3DMS: http://gmstutorials-10.1.aquaveo.com/MT3DMS-HeatTransport.pdf ¹
Which also is available on [YouTube](https://www.youtube.com/watch?v=-nsY-vKv4FQ).

The tutorial and video are created for GMS but I like to use Flopy (I don't have GMS).

The model is adapted from example 9 of the 1999 MT3DMS report (see

[2020-01-27 09:37] dbrakenhoff commented on #793
There is some documentation on doing heat transport calculations using MT3DMS in the [SEAWAT doumentation](https://pubs.usgs.gov/tm/tm6a22/pdf/tm6A22.pdf). It's not specifically written for flopy, but it does provide some extra information that might be useful...?

[2020-01-27 13:26] langevin-usgs commented on #793
From your results, it's clear that the correct temperature is not being assigned to injected well water.  This suggests a problem with SSM.  Your lines below are incorrect.  ssm_data is a dictionary in your case, which means the keys should be stress period, and the values should be lists of ssm entries.  Your key appears to be the column number.  Looking in the files themselves and comparing with

[2020-01-27 13:26] #793 closed

[2020-01-27 18:30] mattijn commented on #793
Much appreciated for the responses. Setting `ssm_data[I]`, `ssm_data[i+ncol]` and `ssm_data[ncol+ncol]` to `ssm_data[0]` did indeed provide much better results.

Thanks for the pointers to the SEAWAT documentation and how to debug hurdles like these within Flopy. Thumbs up!

[2020-01-27 20:33] hwreeves-USGS commented on #789
Thanks -

[2020-01-27 20:33] #789 closed

[2020-01-28 06:47] mustafaucr opened #794 "How to learn why model does not run properly?"
I want to learn why my model does not run successfully. Because I can not know which package must be rearranged. I use code below:

`success, mfoutput = model.run_model(silent=False, pause=False, report=True)`

However it gives me only this message from `mfoutput ` parameter:

**' FAILED TO MEET SOLVER CONVERGENCE CRITERIA            1  TIME(S)'**

[2020-01-28 13:17] langevin-usgs commented on #794
This is not a flopy bug.

[2020-01-28 13:17] #794 closed

[2020-01-28 14:15] #785 closed

[2020-01-31 20:23] hwreeves-USGS opened #797 "error in write_gridlines_shapefile"
I am getting an error in write_gridlines_shapefile()

'''
flopy.export.shapefile_utils.write_gridlines_shapefile(os.path.join(home,
                                                                    'postproc',
                                                                    'shps',
                                                                    'badger_inset_14LL.shp'),

[2020-02-03 09:13] flydream0428 opened #798 "SFR2 package: "isfropt" the format control keyword is ignored by flopy"
Below is my script, alhtough I have set isfropt as 1. The output file ignored this set-up. As the results, I cannot find other information that depends on this option. I have included "KRCH IRCH JRCH ISEG IREACH RCHLEN {STRTOP} {SLOPE} {STRTHICK}" in the reach_data. However, I can only see "KRCH IRCH JRCH ISEG IREACH RCHLEN" in the output. It ignored STRTOP, SLOPE and STRTHICK.

fr2 = flopy.modflo

[2020-02-03 13:05] flydream0428 commented on #798
Sorry, I missed the reachinput argument. It works now.

[2020-02-03 13:05] #798 closed

[2020-02-03 21:31] grajh opened #800 "Problem loading existing model"
Hi!

I am having problem loading existing model files, which were generated with GMS software package (https://www.aquaveo.com/software/gms-modflow). What am I doing wrong? Any help would be very much appreciated.

My input files are located here: [model_29012020.zip](https://github.com/modflowpy/flopy/files/4150288/model_29012020.zip)

Bests, Gregor

Python 3.8.1 | packaged by conda-forge | (defa

[2020-02-03 23:21] jlarsen-usgs commented on #800
Hi the issue here is really with how GMS is storing your array data. USGS MODFLOW products do not accept HDF5 as a file location (locat variable). I'd suggest 1st using h5py to access the hdf5 file that GMS has stored your array data in. Write out each of the arrays as an ASCII file in a folder called Arrays. And then manually change your input files to use an OPEN/CLOSE statement for external arr

[2020-02-03 23:21] #800 closed

[2020-02-04 01:36] grajh commented on #800
I understand now. Thanks a lot.

[2020-02-04 17:29] johnrobertcraven opened #801 "ValueError reading head file"
Not sure if this is an error or a question for Stack Overflow. Please advise if SO is the better place and I'll remove this issue.

I'm getting the following error while trying to extract records from a head file.

flopy is installed in C:\Anaconda\lib\site-packages\flopy
Traceback (most recent call last):
  File "read_mdl.py", line 20, in <module>
    recs   = hdobj.get_alldata()
  File "C:\Anaco

[2020-02-04 17:40] jdhughes-usgs commented on #801
What program wrote the head file? Only MODFLOW 6 is double precision by default. Also you need to use a version of MODFLOW that creates true binary files (no fortran headers). MODFLOW 6 and windows versions of MODFLOW from the USGS website are correctly configured. You can also get versions with the correct binary file format from:

https://github.com/MODFLOW-USGS/executables/releases

Also, it pr

[2020-02-04 18:30] johnrobertcraven commented on #801
I'm using the mflgr_double.exe that originated here (in the bin.zip)

https://water.usgs.gov/GIS/metadata/usgswrd/XML/sir2019-5052.xml
https://pubs.er.usgs.gov/publication/sir20195052

I'm running the 2050y_lgr model using the batch file that was provided. In the parent model I modified the output control to save specific sp/ts.

Are you familiar with this model/exe?

Thanks for the note re: get_a

[2020-02-04 18:48] jdhughes-usgs commented on #801
I am not familiar with that specific executable but I suspect the problem is a result of the binary file header format type. Currently there isn't a double-precision version of mflgr in the windows executables zipfile on github. There are double-precision linux and osx versions of mflgr on github.

If you need that particular version of mflgr you will have to compile it for yourself if you want it

[2020-02-04 19:41] johnrobertcraven commented on #801
Thanks for taking a look.

I stopped the model so that the hds file would be smaller to test whether or not the file size was the issue.  The partial run hds file is less than half a gig.

It looks like the nrow/ncol are correct however a huge number is being read for nlay.

See below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Anaconda\lib\site-packages\f

[2020-02-04 21:02] jdhughes-usgs commented on #801
Probably. Please try the executable in the attached zip file.
[mflgrdbl.zip](https://github.com/modflowpy/flopy/files/4156015/mflgrdbl.zip)

[2020-02-04 21:21] johnrobertcraven commented on #801
The exe you provided results in the following:

MODFLOW-LGR2
    U.S. GEOLOGICAL SURVEY MODULAR FINITE-DIFFERENCE GROUND-WATER FLOW MODEL
                             Version 2.0.0  06/25/2013

  RUNNING MODFLOW WITH LGR
 NGRIDS =            2
 Using NAME file: ../2050y_parent_hydros/tran_projmedDmedS.nam
 Run start date and time (yyyy/mm/dd hh:mm:ss): 2020/02/04 14:14:49

Using NAME file: ../2050

[2020-02-04 23:33] drewbost opened #802 "AttributeError when loading model"
I am getting an error when trying to load an external model. I am using flopy v 3.3.0 and python 3.6.7 (64-bit) from an Anaconda environment on Windows 10.
Error message:

  File "modelrun.py", line 16, in <module>
    ml = flopy.modflow.Modflow.load(nam_file, exe_name = mf2000, model_ws = model_ws, check= False)
  File "c:\Users\dbost\AppData\Local\Continuum\anaconda3\envs\flopy330\lib\site-packa

[2020-02-05 04:13] etiennebresciani opened #803 "Default budget file unit number (ipakcb)"
I have a few remarks and a proposition regarding packages that require an ipakcb parameter.

### Remarks
1. The default behavior seems to be always ipakcb=0, but the documentation is sometimes inconsistent with this. For example, ModflowLpf and ModflowBcf doc strings indicate that the default is ipakcb=53, which is actually not true.
2. The documentation is also incomplete: it only says that ipakc

[2020-02-05 04:26] flydream0428 opened #804 "OC package warnings"
I always get the warning below when I load a model.
What does this mean? Or is this a bug?

OC package: action(s) defined in OC stress_period_data ignored as they are not part the stress periods defined by DIS

[2020-02-05 14:26] jdhughes-usgs commented on #801
Not sure why the executable I provided is not working.

Since you can compile the source code on your end, replace openspec.inc in your source directory with the attached file. This modified file will create the correct header information in binary output files. I would delete your existing head and binary budget file before running your recompiled executable.

[openspec.inc.zip](https://github.co

[2020-02-05 15:37] johnrobertcraven commented on #801
Thanks for sending that over.

Using that file makes the exe very slow.
The model crashes with a segmentation fault:

Program received signal SIGSEGV: Segmentation
 fault - invalid memory reference.

Backtrace for this error:
#0  0x6510d3
#1  0x6480cb
#2  0x6390ee
#3  0x755fa88f

[2020-02-05 16:36] jdhughes-usgs commented on #801
That file should not have any effect on run times since it just changes the output header information. It could be an issue with the optimization you are using with your compiler.

I don't have any idea why there a segfault in your compiled version of the code. Could be a difference between the compiler used to compile the original version of the executable and your compiler (`intel`, `gfortran/gc

[2020-02-05 17:02] jlarsen-usgs commented on #802
Hi @drewbost

It looks like one of your packages is not loading into FloPy. Previously the default behavior of FloPy was to keep running instead of crashing when a package didn't load. This behavior has been changed. Try loading your model using the `forgive` flag

[code]
and then print out the list of loaded packages and compare this to the packages in your nam file to see what hasn't loaded:
[co

[2020-02-05 17:25] drewbost commented on #802
Thanks for your reply @jlarsen-usgs

Unfortunately I am getting the same error. There is a portion of the error code I did not include originally that was written at the top:

<class 'AttributeError'>
glo

Is it possible the GLO package is being misread?

Here are all the packages listed in my .nam file:
GLOBAL 6 WS5914.glo
LIST 7 WS5914.lst
BAS6  1 WS5914.bas
DIS  10 WS5914.dis
LPF 11 WS5914.lpf

[2020-02-05 17:36] jlarsen-usgs commented on #802
@drewbost

I think I've tracked down the issue. Can you try using `version='mf2k'` in your model load statement. There is an issue that you've found, but this may serve as a work around until it is fixed.

[code]

[2020-02-05 17:38] johnrobertcraven commented on #801
Thank you for all of your help. The exe you provided runs, but ends before the first stress period finishes with
"pause
Press any key to continue . . ."

I've reached out to the authors of the model. I'll close this issue.
If I'm able to get it worked out and the solution seems relevant I'll update this thread with the solution and move it over to the Stack Overflow page.

Thanks!

[2020-02-05 17:38] #801 closed

[2020-02-05 17:54] drewbost commented on #802
Looks like that worked @jlarsen-usgs , thanks for your help. Should I keep this open?

[2020-02-05 18:00] jlarsen-usgs commented on #802
Keep this open for now. There is still an issue that needs to be fixed.

[2020-02-06 14:50] robinthibaut opened #806 "Inconsistency in get_lrc()"
**Summary:**
Given a well with _layer, row, column, node_:
`[k, i, j, n]`
`get_lrc(n)` returns `[(k+1, i+1, j]` instead of the expected `[(k, i, j)]`.

**My issue:**
Given a Modflow model generated by:
 `modflow_model = flopy.modflow.Modflow(args)`:

`modflow_model.wel.stress_period_data.df.values`
Returns for example, for one pumping well and one stress period:
`array([[0, 56, 137, 10945, -1000]]

[2020-02-06 17:49] drewbost commented on #802
Hi @jlarsen-usgs , it seems I am getting a new error msg now. Let me know if I should open in a new ticket:

<class 'ValueError'>
sum of dataset 4 proportions must equal 1.0 - sum of dataset 4 proportions = 1.008 for observation name CypLwn_2.
  File "X:\UserAssistance\Data_Infrastructure_Projects\ModelInputConverter\scripts\WestsideBasinmodel.py", line 16, in <module>
    ml = flopy.modflow.Modfl

[2020-02-06 18:12] jlarsen-usgs commented on #802
@drewbost

I'd start by looking in your HOB file to double check that the sum of the PR values for observation CypLwn_2 equals exactly 1.0. If they don't FloPy will purposely raise an error. Please check these values. Here is a link to the online documentation of [HOBS](https://water.usgs.gov/ogw/modflow-nwt/MODFLOW-NWT-Guide/index.html?hob.htm)

[2020-02-06 18:24] drewbost commented on #802
@jlarsen-usgs

I checked and they add up to 1.008. I don't understand why this does not raise an error in my flopy v=3.2.9.

[2020-02-06 18:41] jdhughes-usgs commented on #802
I remember that we reworked the hobs package at some point (after 3.2.9) to make sure the total is 1.0.

[2020-02-10 17:51] drewbost opened #807 "Issue exporting HDS file to shapefile using output_helper"
I am getting an error when using the export.utils.output_helper function to export my model's .hds file as a shapefile. I'm using flopy 3.3.0, Python 3.6 (64 bit) on Windows 10.

<class 'NotImplementedError'>
unrecognized export argument:X:\filepath\freyberg_hds.shp
  File "c:\Users\dbost\AppData\Local\Continuum\anaconda3\envs\flopy_hds\lib\site-packages\flopy\export\utils.py", line 343, in output

[2020-02-10 18:12] jlarsen-usgs commented on #807
@drewbost

You can pass in the modelgrid to `flopy.utils.binarfile.HeadFile` before exporting using `.to_shapefile()`. You will then be able to export the .hds file with modelgrid properties and projection.

Here's a code snippet:
[code]
The output_helper class does need to be updated for shapefile exporting. I can take care of this.

[2020-02-10 18:45] drewbost commented on #807
Thank you @jlarsen-usgs, works great on freyberg as well as my own model.

[2020-02-12 20:58] #802 closed

[2020-02-12 20:58] #807 closed

[2020-02-13 05:06] etiennebresciani opened #810 "Issues with build_exes.py"
I am running into a number of problems when executing `nosetests -v build_exes.py` (as suggested in CONTRIBUTING.md).
1.	Bug when trying to copy executables when the folder ~/.local/bin does not exist.
2.	Bug due to inconsistent removing of vs2dt from targets.
3.	Bug when `os.system(cmd)` is run in the function `list_json()`. The output here is:

I am able to resolve bugs 1 and 2 (and could potent

[2020-02-13 05:10] etiennebresciani opened #811 "Bug in get_empty() of class MfList in util_list.py"
The line `d[:] = -1.0E+10` (called as part of test_mflist_add_record() in t021_test.py) is throwing me the error:

I can correct this by writing instead: `d[:] = -1.0E+9`. With this correction, all the tests pass successfully. Let me know if you want that I submit a PR with this. I wanted to open an issue because I find it weird that it happens to me if it does not happen to others.
Configuration:

[2020-02-13 13:57] langevin-usgs commented on #810
Hi @etiennebresciani, thanks for wanting to help us out with flopy.  We certainly need the help!  Part of the problem is certainly that most of us are using Macs, and so we probably haven't done enough testing on Windows to make sure that everything is working right.  While it would be good to get the build_exes() working for you, the autotests should all still run even if the executables are not

[2020-02-13 14:22] langevin-usgs commented on #811
I confirm that I get this same error when running t021_test.py on Windows.  Because d has layer, row, and column in it, which are integers, these can't be set to that value.  Not sure how it worked before.
 I guess the goal here is to fill d with a marker to show a user that the value is bad and that it needs to be set.  But I think maybe we can just leave all the values at zero (an alternative mi

[2020-02-13 18:02] #811 closed

[2020-02-14 05:15] etiennebresciani commented on #810
Thanks for the welcoming message @langevin-usgs!

The fact that most of you are using Mac can indeed explain some of the errors I've been running into. I have solved most issues in a way that should (hopefully) work regardless of the platform.

However, I am still having doubts regarding the json file. I am realizing that this file may or may not be downloaded as part of the executables. In my cas

[2020-02-14 13:47] langevin-usgs commented on #810
I'm looking at that build_exes script and it seems overly complicated for what you need.  All you really need to do is make sure you have those executables somewhere they are accessible through the PATH variable.  If you want to try and fix build_exes() to work for you then that's okay, but I personally don't ever use it.  I think it is mainly used for Travis testing.  I agree that it would be goo

[2020-02-17 02:57] etiennebresciani commented on #810
Well, I might have been overly disciplined by closely following the contribution guidelines, where the command `nosetests -v build_exes.py` is indicated...

Anyways, I fixed the bugs and created a PR. However, please make sure that it still does what it needs to do on Mac/Linux, as I did not test it on these platforms.

[2020-02-17 12:12] rubencalje commented on #656
I think I am dealing with the same problem when plotting cross-sections with quasi-3d confining beds. I think I can do a PR on this.

Can you (or anybode else) explain why you chose to set the nlay-property of the modelgrid to nlay+np.sum(laycbd)?

This causes the nlay-property in the modelgrid object to differ from the nlay-property of the model object (for models with quasi-3d confining beds). I

[2020-02-18 15:14] spaulins-usgs commented on #656
Yes it is a little confusing.  Modelgrid was set up to represent the entire model grid including the layers defined as confining layers. The idea was to make sure that nlay corresponded to the number of layers in botm, which defines the number of layers in the model grid. I agree that it would be less confusing to have nlay mean the same thing everywhere. If you implement solution #1 you will need

[2020-02-18 18:12] #810 closed

[2020-02-26 21:34] andyrich opened #816 "SFR exports shapefile incorrectly"
When trying to export sfr, the locations of the cells do not overlap model grid. The dis grid retains the modelgrid coordinates but the sfr grid does not.

`
from flopy.utils.reference import SpatialReference
from flopy.discretization.structuredgrid import StructuredGrid
import flopy
from platform import python_version
print(f'python version: {python_version()}')

print(f'flopy version: {flopy.__v

[2020-02-28 07:03] giovannifi opened #818 "Issue with the Water Mover Package (WMR)"
It is a long time I have not used flopy. I wrote a simple script last year that I run with flopy 3.2.10 and it was working OK. The script was using the water mover package: the provider was a single drain cell whilst the receiver was an injection well defined with the MAW package. Below I report a portion of the script that it was working before:

[code]

when I run the above with the new version

[2020-02-28 14:29] rubencalje commented on #656
Thanks for your explanation. I made the pull request #819 , where I set nlay of the modelgrid to nlay of the model. In the end I did not alter the StructuredGrid class’s xyzcellcenters method, as these centers were not used by the cross section method.

I also added a test-script. Please let me know if I need to change anything.

[2020-02-28 14:59] spaulins-usgs commented on #818
Try changing:

packages=['drn', 'maw']

to:

packages=[('drn',), ('maw',)]

Flopy is storing the packages information in a numpy recarray, which in this case is a single column recarray (column "pname").  While flopy's preprocessing will do some cleanup on your data, it is not very good at figuring out the intended dimensions of user defined recarray data.  It is therefore best to build the flopy

[2020-02-28 19:43] jlarsen-usgs commented on #816
@andyrich

I can take a look at this. It looks like modelgrid information is not getting passed properly to the export routine for sfr.

[2020-02-28 20:58] jlarsen-usgs commented on #816
@andyrich

Just submitted a PR to fix this issue.

If you'd like to avoid building a SpatialReference and then StructuredModelGrid object from scratch you could use this code snippet instead to set the coordinate info of the modelgrid that is automatically built when you load in your DIS and BAS file:

[code]

[2020-02-28 21:44] andyrich commented on #816
Thanks josh!
@jlarsen-usgs

[2020-02-28 21:44] #816 closed

[2020-03-02 11:47] MostafaGomaa93 opened #821 "UZF MF6 Error"
I am building a transient mf6 model with the use of UZF package. I have 23302 cells using Disv package. when I try to run the model, I got this error:

forrtl: severe (41): insufficient virtual memory

I notice that this error only exists when activating the UZF package. I also notice if I decrease the number of the UZF cells to for ex only 100 cells, the model will run but will not converge.

I a

[2020-03-02 19:10] spaulins-usgs commented on #821
This issue belongs in the MODFLOW 6 project.  You can add the issue here:

https://github.com/MODFLOW-USGS/modflow6/issues

Though first make sure you have the latest version of MODFLOW 6, there was a UZF memory leak problem fixed back in April of 2019:

https://github.com/MODFLOW-USGS/modflow6/issues/107

[2020-03-02 19:10] #821 closed

[2020-03-03 01:42] giovannifi commented on #818
It worked.  thanks a lot !

On Fri, 28 Feb 2020 at 22:59, spaulins-usgs <notifications@github.com>
wrote:

[2020-03-04 08:01] giovannifi opened #822 "Issue with sim.simulation_data.mfdata()"
I slightly modified the code available here:

https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_mf6_tutorial.ipynb

I have just added at the end of the code the following line:

`flux = sim.simulation_data.mfdata['example_model', 'CBC', 'WEL']`

When I run the script I get the following error:

`Traceback (most recent call last):
  File "H:/scripts/python3.6/testing/testing

[2020-03-04 15:32] spaulins-usgs commented on #822
@giovannifi The budget file is being stored as double precision.  Try the following...

import flopy.utils.binaryfile as bf
cbb = bf.CellBudgetFile(sim_path + '\\' + 'example_model.cbc', precision='double')
data = np.array(cbb.get_data(text='WEL', full3D=False))

I have confirmed that flopy is not working correctly when executing:

flux = sim.simulation_data.mfdata['example_model', 'CBC', 'WEL']

[2020-03-04 16:44] #818 closed

[2020-03-05 02:56] giovannifi commented on #822
Thanks a lot for your prompt reply with this. The precision option for the
traditional method to read the budget file worked fine. The command
np.array(cbb.get_data(text='WEL', full3D=False)) worked also without the
full3D option. Even though I can get the full time series from get_data and
I am happy with that, I tried to use the get_ts as follows:

flux = cbb.get_ts(idx=(0,1,2), text='WEL')

but

[2020-03-05 17:53] jlarsen-usgs commented on #822
@giovannifi

thanks for pointing out that the `get_ts()` method also does not work with data stored using IMETH=6. I'm currently working on a fix for the issue and will be submitting a PR soon.

[2020-03-07 16:28] MalekiB opened #824 "Problem with the installation of flopy"

[2020-03-07 17:18] #824 closed

[2020-03-10 07:59] giovannifi opened #825 "issue with vertexgrid.py"
I am trying to plot the voronoi grid of a model and I am using the command:

`sim.plot(filename_base=workspace + '\\' + name, file_extension='png')`

Please note that sim was defined just with the grid of one layer only and I have not assigned any material property.

The command above returns an error with the module vertexgrid.py:
`Traceback (most recent call last):
  File "H:/scripts/python3.6/m

[2020-03-11 21:25] RyanConway91 opened #826 "Error loading .dis file"
I am using flopy version 3.3.0 in python 3 and I am having issues loading models. This is happening in scripts that used to work.

I am getting the following error.

![image](https://user-images.githubusercontent.com/25184697/76465933-a020f900-63b4-11ea-9749-e645f6fd74e0.png)

I am using:

[code]
I have attached model files

[run_0.zip](https://github.com/modflowpy/flopy/files/4320987/run_0.zip)

[2020-03-11 22:36] emorway-usgs commented on #826
@RyanConway91 Your model loaded just fine with flopy version '3.3.1'.  You might try upgrading and seeing if that clears up the issue.

[2020-03-11 22:40] emorway-usgs commented on #826
@RyanConway91  ![snippet](https://user-images.githubusercontent.com/3236576/76470941-a14f2780-63ae-11ea-9f4c-5a4c502a916e.png)

[2020-03-12 14:45] jonathanqv opened #827 ".cbc budget file with Modflow NWT"
Hello! I´ve trying to create a .cbc file with UPW as the same way I do with LPF but instead of creating a unique .cbc file it creates me a .UPW.cbc file, is that a bug or am I doing something wrong? I am trying to create pathlines with modpath6, I´ve tried in Modelmuse and it works like a charm, but I am having this problems with Flopy.
kind regards.

[2020-03-16 02:59] giovannifi opened #828 "inconsistent behaviour of sim.write_simulation() and sim.plot() (MF6)"
I am creating a DISV package (MF6) using flopy and I noticed an inconsistent behaviour between the methods:

sim.write_simulation()
sim.plot()

In order to make write_simulation() work, cell2d has to be defined as follow:

cell2d = [[icell2d, xc, yc, ncvert, idver1, idver2, ...], .... ]

in order to make sim.plot() work DISV, cell2d() has to be defined as follows:

cell2d = [[icell2d, xc, yc, ncve

[2020-03-16 14:26] sharon92 commented on #806
from the flopy documentation:

[code]

as you can see the input is indeed Modflow based node numbers and these are not 0 based.
so the output is correct.

and if you are expecting a 0 based output, you will need to substract 1 from the tuples,
you should expect (0,56,136)

What however IS inconsistent is the get_node() function. Here the expected input is Modflow layer,row,column but the output is

[2020-03-16 16:09] jlarsen-usgs commented on #806
@robinthibaut and @sharon92

I'll take a look at this issue.

[2020-03-17 15:22] SaeedTorkzaban opened #829 "Concatenate binary heads files"
I have a few binary head files for a series of stress periods that I want to concatenate them in one binary file. Can you please help me with this problem?
Thanks

[2020-03-18 00:54] giovannifi commented on #826
How do I upgrade to 3.3.1? I tried

`pip install flopy --upgrade`

but it says that 3.3.0 is the latest version.

Thanks

[2020-03-18 12:30] langevin-usgs commented on #826
3.3.1 is the development version.  Follow the instructions for installing the development version.

[2020-03-19 17:32] aleaf opened #830 "handling of 'None' reaches mf6 SFR package"
tl;dr: flopy won't load or (correctly) write an SFR package like this one (can provide full working example if needed):
[code]

In the MODFLOW-6 SFR package input, 'NONE' must be specified for SFR reaches that don't have a connection to the groundwater system (for example, those located in cells with IDOMAIN < 1). If I make this model:

[code]
it writes ok, but the SFR package looks like this:
[co

[2020-03-19 17:37] aleaf opened #831 "Flopy will write incomplete input to MF6 SFR package"
In putting together #830, I also discovered that flopy will write package data that is incomplete. For example, if you change the sfr package creation step in #830 to

[code]
(where the last value for reach 1 is missing), the simulation writes OK, but presumably the input is invalid (and flopy can't load it back in).

[2020-03-19 21:54] spaulins-usgs commented on #828
Cell2d should be defined without the extra [] around idver.  I am not sure how it is working at all with the [] around idver. When I try your example with the extra [] it does not work, even for plotting.  Concerning the plotting, I verified that if I add an npf package to your example and then do a sim.plot(), it plots the k from the npf package fine.  While "sim.plot()" does not plot anything bu

[2020-03-19 22:08] jlarsen-usgs commented on #828
I agree that Cell2d should be defined without the extra [] around idver. I tested your script and sim.plot() would not work with the extra [] around idver. sim.plot() only plots arrays and does not plot the modelgrid by design. Because the layer elevations are defined as a constant value, this returns a solid color.

If you want more control over plotting use the `flopy.plot.PlotMapView` class. Th

[2020-03-20 00:39] giovannifi commented on #828
All good this can be closed. I reinstalled flopy and everything works OK and consistently. It is possible that I corrupted some files. Sorry for the time waste with this.

[2020-03-20 00:40] giovannifi commented on #825
I would like to remove this as it is not an issue.

[2020-03-20 00:40] #825 closed

[2020-03-20 00:40] giovannifi commented on #828
Closing the issue

[2020-03-20 00:40] #828 closed

[2020-03-20 21:46] spaulins-usgs commented on #830
@aleaf, confirmed that this is a problem.  You can find a quick fix that is working for me on this fork:

https://github.com/spaulins-usgs/flopy

I will revisit this problem next week and see if I can come up with a more elegant solution.

[2020-03-23 01:55] OnurSahin20 opened #832 "Problem with the str package const parameter"
I'm working with the time unit as days in the str package so I have to take the const = 1.486*86400 but than some problem arise like in the list

 FILE UNIT  118 : ERROR CONVERTING "1128390.000" TO AN INTEGER IN LINE:
      40         3         2         0         1128390.000  (enter icalc and const together in here)      -1         0

if I take the constant less than 100,000 than no problem has o

[2020-03-23 10:49] etiennebresciani opened #833 "vtk export: adding new functionalities"
I have been developing a few new functionalities for exporting data in vtk format. Namely:
* Exporting the data in vtk ImageData (.vti) or RectilinearGrid (.vtr) formats when possible, instead of always UnstructuredGrid (.vtu), since this will tremendously reduce file volume and will speed up subsequent operations (e.g. in Paraview)
* Exporting vectors (e.g., specific discharge)
* Improved interpo

[2020-03-23 12:53] langevin-usgs commented on #832
do this instead:

`const = int(1.486 * 86400)`

[2020-03-23 13:17] langevin-usgs commented on #833
In flopy version 3.2.13 we revised much of the VTK export functionality.  I don't think we have any other ongoing efforts so whatever you can contribute would be greatly appreciated.  You did a nice job with your last PR, which included comprehensive testing, so it would be great if you could do that again; feel free to improve the existing vtk tests.

Couple of things to keep in mind:  (1) if you

[2020-03-23 14:42] OnurSahin20 commented on #832
I tried before the post it is not working.

[2020-03-23 14:48] langevin-usgs commented on #832
Sorry.  My answer doesn't make sense.  That number should be a floating point, not an integer.  Which model and package is this for?

[2020-03-23 14:51] langevin-usgs commented on #832
For the stream package, the variables must be formatted correctly according to this.

![image](https://user-images.githubusercontent.com/3372403/77329297-ce270700-6ceb-11ea-8997-6b4955c90362.png)

[2020-03-23 15:06] OnurSahin20 commented on #832
if I take the const less than 100,000 than the model runs successfully but after the 6 digits arise error mention before. I'm thinking to format is correct.
icalc=0   then  FILE UNIT  118 : ERROR CONVERTING "0128390.400" TO AN INTEGER IN LINE:
icalc =1 then   FILE UNIT  118 : ERROR CONVERTING "1128390.400" TO AN INTEGER IN LINE:

i think program handle icalc and const together not separate those t

[2020-03-23 15:14] langevin-usgs commented on #832
What version of MODFLOW are you using? And can you copy and paste the line from the STR Package?  The line from your first post does not seem to be valid at all, because it is not formatted with 10 characters per entry.

[code]

The flopy STR class uses this format to write that line:

[code]

[2020-03-23 15:23] OnurSahin20 commented on #832
# STR package for  MODFLOW-2005, generated by Flopy.
40         3         2         0         1128390.400        -1         0  -----  str package format for const =128390

 40         3         2         0         1 86400.000        -1         0------   str package format for const =86400

[2020-03-23 15:26] langevin-usgs commented on #832
and what version of flopy?

[2020-03-23 15:26] OnurSahin20 commented on #832
3.3 last version I uploaded yesterday

[2020-03-23 15:31] langevin-usgs commented on #832
Can you post your script that creates this STR Package?  I don't see how flopy.modflow.ModflowStr can create that line you are showing, but maybe I'm missing something.

[2020-03-23 15:34] OnurSahin20 commented on #832
# transient 3 years confined hypothetical confined aquifer
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
import flopy
import flopy.utils.binaryfile as bf

flopypth = os.path.join('..', '..', 'flopy')
if flopypth not in sys.path:
    sys.path.append(flopypth)

lx = 6000
ly = 5000
ztop = 0
zbot = -1
nlay = 1
nrow = 25
ncol = 30
delr = lx / ncol
delc = ly / nrow
dev = (ztop

[2020-03-23 15:42] OnurSahin20 commented on #832
[documents.zip](https://github.com/modflowpy/flopy/files/4370388/documents.zip)

[2020-03-23 15:47] langevin-usgs commented on #832
Let's not communicate on this thread here anymore.  I don't think there is a bug.  This is what flopy creates for me, which looks to be valid.   If you are still having problems, then contact me through email.

[code]

[2020-03-23 19:39] langevin-usgs commented on #832
@OnurSahin20, we looked deeper and there is an issue that you've discovered.  The USGS online guide for SFR (the image shown above) is incorrect and so is flopy regarding what to do when the FREE flag is set in the Basic Package.  MF2005 will read the stream package input using free format as shown by the mf2005 code below:

[code]

We need to fix the flopy STR class to handle this correctly, so I

[2020-03-23 21:26] OnurSahin20 commented on #832
Thanks a lot for your attention

[2020-03-24 07:14] etiennebresciani commented on #833
Thanks for the quick reply.

(1) I won't implement a vtk reader (at least for now). However, I came up with an idea to better validate the tests: we can open the files and assert that the total number of bytes is unchanged. The total number of bytes is a fairly good indicator of the file content. For formatted data, I think it is even somewhat sensitive to the actual values, because randomly-occur

[2020-03-24 23:35] aleaf commented on #830
thanks @spaulins-usgs

[2020-03-25 19:56] martindjm commented on #833
I think exporting the data in (.vti) or .(vtr) formats when possible is a great idea.  I was going to implement this but have not got around to it.

[2020-03-26 01:08] etiennebresciani commented on #833
Ok, I will submit a PR when I am finished.

Question: would you make it a default, or rather leave .vtu as the default export format?

[2020-03-26 01:12] langevin-usgs commented on #833
I think the default should be the one that gives the most logical output format, which will not be .vtu for rectilinear grids.  I'm excited to see what you come up with.  Thanks for taking this on.

[2020-03-26 01:25] etiennebresciani commented on #833
Sounds good. I should be done soon.

[2020-03-26 18:20] aleaf commented on #830
@spaulins-usgs, thanks, I can supply None now for sfr reaches without connections, but flopy is still writing these reaches as empty lines in packagedata (except for the reach number). For example, if I add a reach 3 at the end of the package data input in the above example with the same values as reach 2, except with `None` for the cellid, I get this:
[code]
[code]

[2020-03-26 18:35] aleaf opened #835 "Handling of inactive cells in mf6 package list-type datasets"
Currently, it looks like flopy doesn't check cellids in list-type input against the idomain array. For example, the line below would be written to the sfr file packagedata block as-is if cellid 1, 13, 24 were inactive. So it is on the user to identify cellids that are inactive and either remove them or convert to None. This applies to at least the sfr packagedata and GWF exchangedata, but presumab

[2020-03-26 19:57] spaulins-usgs commented on #830
@aleaf-usgs Sorry I forgot to mention that in addition to the problem I fixed with the flopy code there is also a problem with your example.  Your example passes in the python value None for a cellid.  Flopy is expecting the text 'none', not the python value none ('none' is just text that happens to be the same name as the python value).

When I address your next issue (#835) I will add some addit

[2020-03-29 14:36] langevin-usgs commented on #833
Closing this.  Thanks!

[2020-03-29 14:36] #833 closed

[2020-03-31 12:24] #832 closed

[2020-03-31 12:28] jdhughes-usgs commented on #832
You should change the model to free format using `m.set_ifrefm()`. Let me know if #838 does not fix your issue and I will reopen this issue.

[2020-03-31 12:49] jdhughes-usgs commented on #829
This is not an issue and should be posted on stack overflow to the [flopy tag](https://stackoverflow.com/search?q=flopy).

You should create a loop to read all of the head data and refer to the [binary file notebook](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_save_binary_data_file.ipynb) for code to create a new binary file. You should open the binary file (`pth`) pr

[2020-03-31 12:49] #829 closed

[2020-04-02 12:39] AvDKWR opened #843 "gridgen module, function intersect: donuts in shape Modflow6"
Hi,
Maybe this problem has already been discussed, I do not know, we just started with Modflow6 in Flopy.

We have a polygon shape file of locations with drainage. But this shapefile contains donuts, sometimes the donut has a value and sometimes the donut has no value (in GIS at this location there is no shape).

When we use the command: gridgen module, function intersect.. we receive the rec.arra

[2020-04-02 13:10] langevin-usgs commented on #843
While I believe that gridgen can process shapefiles with donuts, I'm not sure that the flopy gridgen module is set up to do so.  The flopy gridgen module is creating gridgen input files and running the gridgen program in the background.  You might look in these gridgen input and output modules to see if the information is correct in there.  Holes in shapes must be listed correctly (and with the co

[2020-04-02 14:57] AvDKWR commented on #843
thanks for your reply!

We use the same polygonenshape for several functions. For example the fucntion: add_refinement_features  to refine the grid, the same shape works fine. so we assumed it is a problem in the intersect comment.

i understand we can change the shape, but since it is the source data (which is updated once a while), it would be much nicer if we can use it without adjustments or m

[2020-04-02 15:57] langevin-usgs commented on #843
I see.  If there is any way you could create a simple and relatively small example that demonstrates the problem, then you could post the files here and I could take a look.  It might be something simple, and I agree that it would be nice if the intersect worked the same way as the other functions.  I'll close this issue for now, but if you do post an example, then we can reopen this issue.

[2020-04-03 08:37] AvDKWR commented on #843
thanks for your comment. I have uploaded a zip. it contains a notebook and two small shapefiles. You will need to adjust the path to the map with the shapefiles.

if you run the script you see, that the refinement is not done in the holes. But that the hole is incl
[river_intersect_issue.zip](https://github.com/modflowpy/flopy/files/4425892/river_intersect_issue.zip)
uded in the river package. If

[2020-04-03 08:40] AvDKWR commented on #843
Hi, I have uploaded a small example in the closed topic. I am only not sure if this still works since it is closed.

TEXT

thanks for your comment. I have uploaded a zip. it contains a notebook and two small shapefiles. You will need to adjust the path to the map with the shapefiles.

if you run the script you see, that the refinement is not done in the holes. But that the hole is included in the

[2020-04-06 13:54] langevin-usgs commented on #843
I verified that something seems wrong here, but after a quick look, I couldn't tell if the problem is in gridgen, the shapefiles, or the gridgen flopy wrapper.  Reopening...

[2020-04-06 14:19] dbrakenhoff commented on #843
For what it's worth, the shapefiles work fine when intersecting with a regular grid using GridIntersect...
I was curious, so I tried that out.

[2020-04-06 14:26] langevin-usgs commented on #843
Thanks, @dbrakenhoff.  I like the idea of just using GridIntersect for this.  The challenge here is that someone would need to convert their shapefile into something that GridIntersect can process (including making sure holes are represented correctly).  Is there a simple way to do this, or would someone need to read through the shapefile processing each polygon one by one?

[2020-04-06 14:48] dbrakenhoff commented on #843
You need to get the shapes as Shapely geometries. I just used geopandas to load the shapefile. That is probably the easiest method. Otherwise fiona/shapely could be used I think (which is what geopandas does behind the scenes).
I'm not sure which dependencies flopy is using for shapefiles at the moment? If it's pyshp, the __geo_interface__ attribute can probably be used to convert to shapely.

My

[2020-04-06 15:19] langevin-usgs commented on #843
Hey @dbrakenhoff, I can get it close with this:

[code]

but then it fails with this:

![image](https://user-images.githubusercontent.com/3372403/78574700-ffc1c700-77ef-11ea-9395-636aa7739575.png)

Any ideas?  I think we're close.

[2020-04-06 15:33] dbrakenhoff commented on #843
The gridcell it's trying to intersect isn't valid. It's sort of a line...

![image](https://user-images.githubusercontent.com/6552225/78576124-8b594900-782c-11ea-8b7e-15df3d7b9b9a.png)

[2020-04-06 15:45] dbrakenhoff commented on #843
I'm guessing I didn't implement the cell2d to polygon conversion correctly for locally refined grids in `_vtx_grid_to_shape_list`. There's a bunch of these invalid gridcells in there. Maybe because I focused on a triangular mesh when writing this vertex grid code...

I only use ivert 0 to 2 ...
[code]
I can fix that if you want, unless you already have a solution?

[2020-04-06 15:52] langevin-usgs commented on #843
That looks like a bug in the gridgen wrapper. These points should define a valid cell.  Let me look.

[2020-04-06 16:01] langevin-usgs commented on #843
I see now.  Yes, we need to use all the vertices to create the cell.  @dbrakenhoff, would you mind submitting a fix for this?

[2020-04-06 16:07] dbrakenhoff commented on #843
I think I've fixed it. I'll submit a fix. This is the result when I use all the vertices:

![image](https://user-images.githubusercontent.com/6552225/78579547-65827300-7831-11ea-8344-590c107fccea.png)

[2020-04-06 16:23] langevin-usgs commented on #843
Awesome!  Thank you.

[2020-04-06 18:42] AvDKWR commented on #843
I think you fixed it? wow that is very great, thank you so much :)

[2020-04-06 18:45] langevin-usgs commented on #843
Well, not exactly.  @dbrakenhoff fixed the flopy intersect capabilities so that they work with the gridgen module, so you will have to use those instead of the intersect that comes with gridgen.  So we should leave this issue open.  Hopefully you can figure out how to adapt your script using the few pieces of code that we added above.

[2020-04-10 13:20] robinthibaut commented on #806
@sharon92
The column remains inconsistent. As stated in my issue, from (k, i, j), you obtain (k+1, i+1,  **j**). If it was truly "1-based" then you would expect (k+1, i+1, **j+1**).

@jlarsen-usgs
Thanks !

Kind regards,

Robin

[2020-04-10 15:33] jdlarsen-UA commented on #806
@sharon92, @robinthibaut, @langevin-usgs .

I looked into it this morning and the issue is that `get_lrc()` expects a 1 based node number and returns a one based (layer, row, column) and that the `get_node()` method expects a zero based (layer, row, column) and returns a zero based node number.  It makes more sense to me to have both methods expect and return zero based values for consistency.

[2020-04-10 18:18] jlarsen-usgs commented on #822
@giovannifi

Pull request fixing this issue was merged into develop.

[2020-04-10 18:18] #822 closed

[2020-04-10 21:32] jlarsen-usgs commented on #806
@sharon92, @robinthibaut

Closing this issue. I updated both methods to 1) be parameterized with zero based inputs, and 2) return zero based outputs.

[2020-04-10 21:32] #806 closed

[2020-04-13 13:53] AvDKWR commented on #843
Thanks a lot for your help the past week!! It is working fine now with your suggestions, and our modelscript is running :)

[2020-04-14 08:37] jhpark16 opened #850 "Contour plot error"
This is similar to "PlotMapView.contour_array() is broken #587" but it looks like a different issue. The current flopy sometimes fail to use masked floating point values. For example, the following contour plot produces a colour map with a range from -1e+20 to 0.
h = flopy.utils.formattedfile.FormattedHeadFile(os.path.join(os.getcwd(),"Run/ModeloDrenajeInfraestructura.fhd"),model=ml)
h.plot(totim=

[2020-04-14 19:23] jlarsen-usgs commented on #850
@jhpark16

Thanks for pointing out this issue. It seems that we can change

`np.ma.masked_equal(plotarray, mval)`
to
`np.ma.masked_values(plotarray, mval)`

without any conditional statements. The documentation for masked_values states that it behaves like masked_equal when integers are passed to the method.

Submitting a PR today to fix this issue.

[2020-04-15 10:57] dbrakenhoff opened #852 "current docs are for 3.2.13"
The [documentation](http://modflowpy.github.io/flopydoc/) is for 3.2.13 (that's the documentation page says), while 3.3.0 was released in December 2019.

[2020-04-15 18:56] #850 closed

[2020-04-20 14:35] dbrakenhoff opened #855 "interpolating z-data along line to grid"
I was wondering whether interpolating z-data along a line to a modelgrid is something that could be included in flopy (gridintersect) utils? I saw there was also a [stackoverflow post](https://stackoverflow.com/questions/55315434/how-to-interpolate-elevation-for-grid-point-for-river-cells-while-importing-in-m) asking a similar question.

I've written a bit of code that takes a linestring and an ar

[2020-04-20 14:46] aleaf opened #856 "MF6 Well package (and possibly other transient list types) doesn't write any period data if there are None entries"
Just logging this issue in case anyone else encounters it:

At some point previously, when creating input for `flopy.mf6.ModflowGwfwel.stress_period_data`, one had to specify the NoneType for periods with no input. Now entering `None` results in no period data blocks being written to the well package file (including blocks that have valid data). Obviously with dictionary-based input, there shouldn

[2020-04-20 15:07] langevin-usgs commented on #855
@dbrakenhoff, this is clearly a useful contribution and something that would be great to have in flopy.  I have a couple of quick questions for discussion in order to think about how this fits into a general capability.

1.  I suppose there are a couple of different ways this could be done.  Is the line broken up into individual line segments, where the individual line segments fall completely wit

[2020-04-20 15:17] langevin-usgs commented on #855
One other thing:

5.  What happens if the line goes through the cell, out of the cell, and then back into the cell?  I'm guessing they are listed in the output as separate individual line segments with different interpolated values?  Or maybe there is a flag to aggregate?

[2020-04-20 16:07] dbrakenhoff commented on #855
Good questions! There's quite a few cases to consider here.

The current implementation I wrote works like this:
1. Get the x- and y-cellcenters of the gridcells that intersect with the linestring.
2. Calculate the distance along the linestring for each cellcenter by projecting the cell centers onto the linestring (i.e. get the point on the linestring nearest to the cell center).
3. Do the same fo

[2020-04-22 16:17] spaulins-usgs commented on #856
This is now fixed.  Specifying period data with value none now only removes data from that period.

[2020-04-22 16:31] aleaf commented on #856
cool, thanks

[2020-04-22 16:31] #856 closed

[2020-04-23 00:52] giovannifi opened #858 "Model name: upper case letters converted to lower case letter (MF6)"
In one of my code I defined a model name as follows: RH_modflow_model with the command:

`modelname = 'RH_modflow_model'`
`sim = flopy.mf6.MFSimulation(sim_name=modelname, version='mf6', exe_name=path_exe, sim_ws=workspace)`

when I run the command:

`print(sim.name)`

I get: 'rh_model_name'

in other words the capital letters are not respected. This could be a problem when post-processing the res

[2020-04-23 01:09] giovannifi opened #859 "Contours for horizontal unstructured models: problem with grid definition for PlotMapView"
I run a steady state unstructured model and I would like to plot the head contours of a layer. I use the following commands:

`# load the model`
`name = 'my_model'`
`workspace = 'my_path'`
`sim = flopy.mf6.MFSimulation.load(sim_name=name, exe_name=path_exe, sim_ws=workspace)`
`gwf = sim.get_model(name)`
`disv = gwf.get_package('DISV')`
`# load the HDS file`
`headfile = name + '.hds'`
`hds = bf.Hea

[2020-04-23 04:12] giovannifi commented on #859
I managed to get it working with the command:

`modelmap = flopy.plot.PlotMapView(model=gwf, ax=ax)`

[2020-04-23 04:13] #859 closed

[2020-04-27 13:33] jdhughes-usgs opened #860 "Add zonebudget support for MODFLOW 6"
Based on question by @LudovicSchorpp

Need to add options MODFLOW version. Maybe just passing in the GRB file name would be enough. Also need to make sure CellBudgetFile is set to `double` and use `flow-ja-face` for cell flows.

[2020-04-29 21:25] ccooledge opened #861 "Error reading SFR Budget File with sfroutputfile Module of flopy"
Hi Folks,

I am using the sfroutputfile module in flopy to read the SFR budget output file to a pandas dataframe. The code shown below worked under a previous build of flopy (v3.2.12) executed with python27. Trying to execute the code again with Python3 and flopy v3.3.0 produces an error when calling the get_dataframe() function.

`import os
import numpy as np
import pandas as pd
import flopy as f

[2020-04-29 21:49] jlarsen-usgs commented on #861
@ccooledge

Hi Craig,

I'll take a look at the issue. Will you zip or 7zip a copy of your SFR output file and share it here.

Thanks!

[2020-04-29 21:58] ccooledge commented on #861
See attached. Thanks for taking a look!
[SPV_TR_V001.zip](https://github.com/modflowpy/flopy/files/4554850/SPV_TR_V001.zip)

[2020-04-30 06:27] giovannifi opened #862 "error in translating ivertcon for flopy.mf6.modflow.mfgwfuzf.ModflowGwfuzf"
I have a problem with the UZF package. When I use the function "flopy.mf6.modflow.mfgwfuzf.ModflowGwfuzf" and If I assign ivertcon = 1 (under the block packagedata) in my python script, the uzf package reports 2 instead of 1. To get the package with ivertcon = 1 I have to assing ivertcon = 0 in the python script.

[2020-04-30 08:19] giovannifi opened #863 "npf package plotting issue"
I have a plotting issue with the npf package. I am loading an existing model with the command below:

`sim = flopy.mf6.MFSimulation.load(sim_name=name, exe_name=path_exe, sim_ws=workspace)`
`gwf = sim.get_model(name)`

Then I try to create the a picture for each layer of the K distribution with the following command:

`gwf.npf.k.plot(filename_base=workspace + '\\' + name + '_k')`

I get the follow

[2020-04-30 12:26] emorway-usgs commented on #862
@giovannifi This behavior is what is expected with 0-based indexing, which is what the UZF package uses.  So for example, in a 1D model with 3 layers (3 cells total), the iuzno for the upper most cell would be 0, followed by 1 for the middle layer, and 2 for the bottom layer.  In this example, one would assign ivertcon values of 1, 2, and -1 to layers 1, 2, and 3, respectively.  When flopy writes

[2020-05-01 00:09] giovannifi commented on #862
@emorway-usgs
thanks for your kind reply.
According to the documentation available ivertcon should not be 0-indexed. This is what I read from the manual ("mf6io.pdf"):

It is my understanding from the definition above that ivertcon can have only two values 0 or any positive number.

This is the definition I car read from the flopy documentation (https://modflowpy.github.io/flopydoc/mfgwfuzf.html?h

[2020-05-01 00:58] emorway-usgs commented on #862
@giovannifi I don't disagree with the citations. For MF6 input, which is what the mf6io.pdf document aligns with, values need to be 1-based as the definitions state.  However, when working in python, and more specifically, flopy, UZF-related values like iuzno will be 0-based.  At some point in your flopy script, you'll do something akin to `sim.write_simulation()`, and when you do, flopy will adju

[2020-05-01 01:12] giovannifi commented on #862
@emorway-usgs never mind, I got the rule now and it is fine. However I believe that the available documentation is confusing.

Just a final question: in a full 3D model ivertcon should be the layer number of the cell receiving the flow. Is this right?

[2020-05-01 03:10] emorway-usgs commented on #862
@giovannifi By way of example, consider a 2 x 2 x 2 model (8 cells total).  For layer 1, you could set:

lay 1 row 1 col 1: iuzno = 1 & ivertcon = 5
lay 1 row 1 col 2: iuzno = 2 & ivertcon = 6
lay 1 row 2 col 1: iuzno = 3 & ivertcon = 7
lay 1 row 2 col 2: iuzno = 4 & ivertcon = 8

and for layer 2 you could set:

lay 2 row 1 col 1: iuzno = 5 & ivertcon = 0
lay 2 row 1 col 2: iuzno = 6 & ivertcon =

[2020-05-01 03:16] giovannifi commented on #862
thanks a lot. it makes sense now.

[2020-05-01 03:16] #862 closed

[2020-05-01 12:56] langevin-usgs commented on #862
@spaulins-usgs, because we know from the definition files which MODFLOW 6 variables are "index" variables, can we supplement the flopy docstrings with a statement that says: "This argument is an index variable, which means that it should be treated as zero-based when working with FloPy and Python.  Flopy will automatically subtract one when loading index variables and add one when writing index va

[2020-05-01 15:42] spaulins-usgs commented on #862
@langevin-usgs, no problem, this is done.  I added the change to the PR #864 since it has not been committed yet.

[2020-05-04 16:15] #861 closed

[2020-05-06 02:15] aleaf opened #867 "length of records in tables argument to mf6.ModflowGwflak"
This is a new issue within the last week or two. According to the docstring, the records in tables should be `[lakeno, tab6_filename]`, but when just two items are entered, I get this error:
[code]
When I change the records in tables to `(lakeno, tab6_filename, 'junk', 'junk')`, everything works as expected (no error, and the output file is written correctly).

[2020-05-06 05:55] briochh opened #868 "Errors loading simulation written with `set_all_data_external()`"
Sorry this is a long one, let me know if people would rather I broke it down into multiple issues - but I have a feeling that all the might have a related root cause.

Hitting multiple errors when trying to load (and write) simulations previously written with external data (i.e. after using `set_all_data_external()`)

The simplest way to expose this is adding to `test027_timeseriestest()` in t504_

[2020-05-06 13:57] langevin-usgs commented on #867
I'm seeing this too.  It's related to some of the checking that was implemented recently.  I think @spaulins-usgs is out this week, but will get it taken care of soon.

[2020-05-06 21:16] oscarfasanchez opened #870 "create a new ims package from a loaded mf6 model"
Hello I hope you can help me with this, I am loading a modflow 6 model created in modelmuse, the problem is that i want to change the ims package(create a new one) , but I get two ims package and I cant delete the first one, I get two files when I use "presa_sim.write_simulation()", and the mfsim.nam has 2 im6 files too, it is shown below.

(BEGIN SOLUTIONGROUP  1
  MXITER  1
  ims6  Modelo_Presa_

[2020-05-06 21:57] jlarsen-usgs commented on #870
@oscarfasanchez
Have you tried the built in method `remove_package()`.

[code]

[2020-05-07 01:29] aleaf commented on #867
Thanks @langevin-usgs, sounds good. Great that more checking is getting implemented.

[2020-05-07 02:12] oscarfasanchez commented on #870
but now show up a new problem  when I used:

#a try to erase the existent ims package
presa_sim.remove_package('ims')

#building a new ims package
ims=fp.mf6.modflow.mfims.ModflowIms(presa_sim,pname='ims', print_option='SUMMARY',complexity='COMPLEX')
presa_sim.register_ims_package(ims,['MODFLOW'])

**MODFLOW SAYS:**

ERROR REPORT:

    ****ERROR. ILUT ERROR:  7
![Modflow_error](https://user-images

[2020-05-07 02:19] jlarsen-usgs commented on #870
@oscarfasanchez

can you attach your model files to this issue, for debugging purposes?

[2020-05-07 07:22] mnfienen-usgs opened #871 "Output format for external MODFLOW6 files using `set_all_data_external`"
I've invoked `set_all_data_external` which is doing a good job of making all array and list-directed data pushed out to external files. Super helpful for PEST!

However, the files are only writing 20 values per line resulting in old-school file formats that can't be correctly read back into Python using tools like `np.loadtxt` unless you happen to have a multiple of 20 columns in the model. It wou

[2020-05-07 14:37] oscarfasanchez commented on #870
Sure.

https://correouisedu-my.sharepoint.com/:u:/g/personal/oscar_sanchez2_correo_uis_edu_co/EX7POjFFPwlPlC1Ryrt2XM8Bhes-oEXUJ2m2FvCXR7nhrA?e=Sdowsj

also I have to say that I modified mfsim file manually from modelmuse because it had absolute paths in names, but flopy run modflow without problems after this modification(before change the ims package), I did it because flopy write almost all the

[2020-05-08 13:53] emorway-usgs commented on #871
@mnfienen-usgs you've undoubtedly come up with a sophisticated work around for the 2nd part of your post, but for those that need a quick work around that unfortunately requires a small amount of manual labor, I'm posting a script I've used in the past.  It requires that the user extract the block-style array and paste it in a dedicated file - `rcha_1.txt` in the example below:

[code]

[2020-05-08 20:26] emorway-usgs opened #872 "UZF budget file (binary output) not being successfully read"
Using the attached MF6 model (~20 sec runtime, 2 stress periods), I try to load the UZF binary output file with:

[code]

But the cmd line has been spinning on that last command for nearly 20 minutes, and the total file size of the uzf binary budget file is 5Mb.  Not sure if the issue is with flopy, or with MF6's writing of the UZF budget file?  I have not included the mf6 executable in the attach

[2020-05-08 21:01] emorway-usgs commented on #872
@jlarsen-usgs This seemed to fix my problem:

`uzfobj = bf.CellBudgetFile(uzf_bud_file, precision='double')`

However, @langevin-usgs suggested that one of your recent fixes (#823) should have trapped for this.  Thus, it may be worth double-checking your fix with the model attached to this issue?  I tried `...,precision='auto')`, but that bombed as well.

[2020-05-08 21:01] #872 closed

[2020-05-08 21:39] jlarsen-usgs commented on #872
@emorway-usgs

I definitely take a look at this. The CellBudgetFile code should trap for precision, but it's possible that I missed something when I pushed that update.

[2020-05-11 03:59] giovannifi opened #873 "export method for the disu, disv, npf etc. does not create .nc files"
I defined a model grid using voronoi cells. I built the model using the DISV package in MF6.
When I try to use the following commands in python:

`gwf.disv.export(workspace + '\\' + 'disv_mf6.nc')`
`gwf.npf.export(workspace + '\\' + 'npf_mf6.nc')`

I get the following error

`Traceback (most recent call last):`
[code]
[code]
`  File "C:\Program Files\Python36\lib\site-packages\flopy\export\utils.p

[2020-05-11 12:12] langevin-usgs commented on #873
The last we checked there wasn't a stable standard for writing netcdf files for unstructured grids.  Maybe this has changed by now, but it has been low on our priority list.  Is there a reason you need netcdf files for your model?

[2020-05-11 12:43] giovannifi commented on #873
No worries. I have no urgencies. Just wanted to notify the bug if it is a
bug.
It would be nice to have the option. I wanted to load the model with
paraview and create some nice 3d pictures for reporting purposes. I also
wanted to produce some cross sections. I managed to write a script code for
the last one but it is not really efficient.

[2020-05-11 12:46] langevin-usgs commented on #873
If you want to make plots with Paraview, then VTK is probably a better option.  You should be able to export a DISV model to VTK output files.

[2020-05-11 12:51] giovannifi commented on #873
I had the impression that the vtk commands/methods work only for the
structured grids. I have not figured out how to use them for an
unstructured grid with voronoi cells. If you say that it is possible, I
will investigate more. Thanks a lot for that.

[2020-05-11 12:56] langevin-usgs commented on #873
Sorry, you're right.  I don't think we have VTK support yet for unstructured grids.

[2020-05-11 15:58] dbrakenhoff opened #874 "Cannot get data from Mf6Obs object with 1 row"
As I was testing the observations options for Modflow6, I came across the following error when attempting to get the data from an obs file using `flopy.utils.Mf6Obs`.

[code]

My obs file has a single time at which there is data. This somehow results in a numpy rec-array with no shape (shape is an empty tuple). This causes all the methods that use the shape attribute to crash.

The `riv_flows.csv`

[2020-05-11 17:13] spaulins-usgs commented on #871
@mnfienen-usgs the maximum number of values per line is being controlled by the "max_columns_of_data" property.  This can be set by:

sim.simulation_data.max_columns_of_data = <positive integer value>

where sim is you MFSimulation object and <integer value> is a positive integer value.  When max_columns_of_data  >= to the number of columns in your model, flopy should write these files out as nrow

[2020-05-12 02:49] langevin-usgs commented on #874
![image](https://user-images.githubusercontent.com/3372403/81632870-eb658100-93d0-11ea-8a51-b78fc5e0c4e4.png)

Not sure what's going on there.  I wonder if we need a skiprows=1 in the numpy loadtxt?  Of course a pandas read_csv might be much easier for reading the ascii version of the mf6 obs output.

[2020-05-12 03:01] langevin-usgs commented on #874
Scratch that last comment.  Looks like when there is only one record the numpy loadtxt returns a shape as an empty tuple, as you said in your post.  We should fix this.  Thanks for pointing it out.

[2020-05-12 09:47] dbrakenhoff opened #877 "Support for boundnames with spaces"
Having a space in the boundname doesn't seem to work for Obs files. In the example notebook [flopy3_mf6_obs_ts_tas.ipynb](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_mf6_obs_ts_tas.ipynb), if I put a space in the boundname of the GHB package (i.e. 'Estuary L2') and adjust the Obs file accordingly, the resulting `ghb_flows.csv` file has nodata values for that boundname

[2020-05-12 14:47] spaulins-usgs commented on #867
@aleaf The length checking has been fixed.  Please try the latest develop code.

[2020-05-12 15:43] spaulins-usgs commented on #874
@langevin-usgs this can be fixed by setting ndmin equal to 1 in np.loadtxt:

            self.data = np.loadtxt(self.file, dtype=self.dtype, delimiter=',', ndmin=1)

I will add this fix to the fork I am currently working on and include it in my next PR.

[2020-05-12 19:24] spaulins-usgs commented on #877
@langevin-usgs This appears to be a MF6 bug.  Flopy is writing out boundnames that contain spaces using single quotes as it should.  When single quotes are used MF6 does not use the boundname in the observation correctly.  When I manually replace the single quotes with double quotes MF6 works fine.  See the files below with boundnames in double quotes.

[child_pkgs.ghb.txt](https://github.com/modf

[2020-05-12 20:49] tomvansteijn opened #878 "y-origin in transform using export.utils.export_array for geotiff"
the function export_array in export.utils uses rasterio when the destination file does not have the ".asc" extension. Modelgrid X and Y offsets from the DIS package are used to build an Affine transform for the destination file. However the lower Y coordinate is given for the transform, while the transform expects the uppper Y coordinate. The resulting raster shows up right below the expected posi

[2020-05-13 14:17] aleaf opened #879 "flopy.mf6: Issue getting MFList data in open/close format"
When external filepaths are supplied to the package constructors instead of in-memory data, `package.write()` writes the expected input and modflow-6 runs, but when `package.stress_period_data.data` or `package.stress_period_data.array` are called, the following results:

Well package stress period data:
argument: `stress_period_data={0: {'filename': './external/wel_000.dat'},

[2020-05-13 15:16] spaulins-usgs commented on #879
@aleaf I just tested this with a basic one line wel_001.dat file and package.stress_period_data.array returned the expected data.  Can you provide me with .dat file(s) and a python script to reproduce the problem?

[2020-05-13 16:44] aleaf commented on #879
[code]
[code]
[code]
[code]
[code]
[code]

[2020-05-14 01:56] hansonmcoombs opened #882 "Flopy.utils.zoneBudget does not match USGS zone buget when there are zone zero sections"
I have found that the flopy implementation does not appropriately replicate the outputs of USGS zone budget when there are zone zero areas which have a ibound==1.

I believe the problems are in lines 708 and 724 (line numbers relate to version 3.3.0 which was the most up to date version of zonebud.py at time of writing).  My understanding of the point of this line is to remove the values that woul

[2020-05-14 13:49] #868 closed

[2020-05-14 16:00] spaulins-usgs commented on #879
@aleaf this should be fixed now.  Please try the latest flopy code.

[2020-05-14 16:02] spaulins-usgs commented on #874
@dbrakenhoff this should be fixed now.  Please try again with the latest flopy code.

[2020-05-14 16:11] spaulins-usgs commented on #858
@giovannifi I was not able to reproduce this.  When I run:

print(sim.name)

I get "RH_modflow_model".  However, you do bring up a good point that sim.get_model should do a case insensitive search for the model name should the case sensitive search fail.  I have added a case-insensitive search to sim.get_model so it will return your model even if the case is incorrect.

[2020-05-14 16:11] #858 closed

[2020-05-14 16:13] dbrakenhoff commented on #874
Yep, it works now! Thanks! I took the liberty to close the issue.

[2020-05-14 16:13] #874 closed

[2020-05-15 13:56] hwreeves-USGS opened #883 "potential SFR numbering issue"
I exported a modelgrid to a shapefile using mf.modelgrid.write_shapefile(), later I read the grid into a dataframe so I have 'node, row, column'.  I selected a subset of model cells and then joined the resulting table to a dataframe of SFR reach_data using 'node' as the index.  The problem is that the (row, column) and (i,j) numbering is inconsistent:  i is one less than row making me think that r

[2020-05-16 20:00] manupy-hub opened #884 "flopy+MF6+quadtree+rewetting NPF writing package error"
Hi, I am building a model in flopy+MF6+quadtree+rewetting. My problem is when I create the npf package I have an error and I don't understand the reason. this error appears when I write the package. it is like it does not create the rewet option in the npf package. Do you have any idea how to resolve it?
wetfct=1
iwetit=1
ihdwet=0
 npf = flopy.mf6.ModflowGwfnpf(gwf, pname='npf', save_flows=True, i

[2020-05-16 20:51] langevin-usgs commented on #884
How about something like this:

[code]

[2020-05-17 09:12] manupy-hub commented on #884
Great! thanks! it works :)

[2020-05-17 09:12] #884 closed

[2020-05-18 16:00] jbellino-usgs commented on #882
@hansonmcoombs, I can't seem to replicate the budget discrepancies based on the attached files. I reran the Zonbudget analysis using the "CSV 2" output option to make comparison easier. Here is what I came up with:

![2020-05-18_11-59-00](https://user-images.githubusercontent.com/8257727/82234147-079c7d00-98ff-11ea-9d2f-768400edb7f7.png)

![2020-05-18_11-47-00](https://user-images.githubuserconten

[2020-05-18 17:35] jbellino-usgs commented on #882
I misunderstood the situation, please disregard. I see that there are discrepancies in zones 2–5 and will look into the issue.

[2020-05-19 12:17] hwreeves-USGS opened #885 "origin_loc attribute in flopy.discretization.grid.Grid"
I am using discretization.structuredgrid() to set a modelgrid object and then reading the
usgs.model.reference file.

mf.modelgrid = flopy.discretization.structuredgrid.StructuredGrid(mf.dis.delc, mf.dis.delr)
mf.modelgrid.read_usgs_model_reference_file(os.path.join(source_dir, 'usgs.model.reference'))

I tried putting origin_loc='ul' in the call when the object was made; but flopy didn't recogniz

[2020-05-19 16:15] emorway-usgs opened #886 "rcha.write() crashes when auxiliary arrays present"
The attached script demonstrates the issue (change .txt extension to .py).
[rcha_bug_report.txt](https://github.com/modflowpy/flopy/files/4651739/rcha_bug_report.txt)

[2020-05-19 19:43] ebake310 opened #888 "Modflow 6 flopy Ss and Sy"
I am trying to specify different Ss and Sy values for each layer in a 3 layer model. I found some code in one of the tutorials but cannot seem to get it to work even before I try to modify it (it throws an error when I try to run the simulation). Wondering how to get it to work/if this code does not actually do what I think it does? How would I modify it to specify a different Sy value for each la

[2020-05-19 19:55] emorway-usgs commented on #888
@ebake310 what about trying something like this:
[code]
Then, in the constructor, just pass the sy list above to the sy argument, just as you showed it:
[code]

[2020-05-19 20:01] emorway-usgs commented on #886
Fixed with #887

[2020-05-19 20:01] #886 closed

[2020-05-19 21:17] ebake310 commented on #888
Thank you so much, that worked!

[2020-05-19 21:17] #888 closed

[2020-05-20 16:06] jlarsen-usgs commented on #885
@hwreeves-USGS

I put in a pull request to address this issue. As you had stated, the model wasn't being rotated prior to calculating xll and yll from xul and yul, which was causing the modelgrid vertices to be projected in the wrong location. The `read_usgs_model_reference_file()` method now rotates the modelgrid, before calculating xll and yll when xul and yul are read in.

[2020-05-20 16:06] #885 closed

[2020-05-20 19:57] oscarfasanchez commented on #870
i've  succesfully  installed flopy 3.3.1 by pip install https://github.com/modflowpy/flopy/zipball/develop
but I get the same mistake shown above
What am I doing wrong?

[2020-05-20 20:03] jlarsen-usgs commented on #870
@oscarfasanchez

try running the pip install command again like this:

[code]

Also try

[code]

[2020-05-20 20:34] oscarfasanchez commented on #870
I did it, but doesn't work
Modflow says the same thing,
if I use Complexity "SIMPLE"
![SimpleError](https://user-images.githubusercontent.com/39230212/82494516-55f07e00-9aaf-11ea-95c0-9a03c3107b4a.PNG)
the error changes to this:

[2020-05-20 20:53] jlarsen-usgs commented on #883
@hwreeves-USGS

It looks like the issue you're running into is that the "node" field in `sfr.reach_data` is zero based. If you use `reach_df.node += 1` before performing your join with the shapefile record you will have a one based row, column field and a zero based k, i, and j field as expected.

[2020-05-20 21:29] jlarsen-usgs commented on #870
@oscarfasanchez

I found the issue (actually two issues).

1)  The `register_ims_package()` method is case sensitive. I'll put in another PR to fix this issue. Until then use lowercase:

[code]

2) You are using the UZF package in your model, which is non-linear, so you'll need to specify MODERATE complexity instead of SIMPLE in your IMS file.

[2020-05-20 21:40] jlarsen-usgs commented on #870
@oscarfasanchez

Here is the code snippet I'm using to run your model.

[code]

[2020-05-20 22:03] oscarfasanchez commented on #870
it worked, thanks!!!

[2020-05-20 23:57] giovannifi commented on #873
I manged to create a function to create the VTK for unstructured grids using the module vtk that has to be installed in python with the command:

`pip install vtk`

The code can be found here: https://www.dropbox.com/s/n2p9b0w7lef038f/vtk_grid.zip?dl=0

My script generates the VTK file for a horizontal unstructured grid built for MF6 with the DISV package. It also add the hydraulic conductivity to

[2020-05-21 00:13] #870 closed

[2020-05-24 13:05] hjia1005 opened #891 "Model works properly with NWT but failed with mf6 in flopy"
Good day,

I am working on a big catchment area (150 rows and 141 columns,  cell size of 1000m). My plan was to take this opportunity to try mf6 with all the discretization packages in the same area and see the differences. At the beginning I had some converge issues and after consulting with Dr Richard Winston I changed some parameters in the ims package which helped the model to converge. Howeve

[2020-05-24 16:00] hjia1005 commented on #891
Just got this with mf6-dis, the previous one was because I forgot to mask the 1e+30 values. Still working on disv to make it right.

![6_mf6dis](https://user-images.githubusercontent.com/33449394/82758682-45f6d800-9de8-11ea-9950-e8364b892d36.png)

[2020-05-25 13:25] langevin-usgs commented on #891
@hjia1005, sorry to hear you are having problems.  Based on the information here, there is no way we can tell what is going on or if there is a bug.  If you can identify a bug and more precisely show the problem, then we can open this issue again.

[2020-05-25 13:25] #891 closed

[2020-05-26 11:13] hjia1005 commented on #891
Hi Chris,

Thanks for the reply. No. 4 in the above figures had no problem. It's only I forgot to mask the 1e+30 values in the plot.

Also I finally figured out the problem was actually with stress packages. Though values were applied properly from the technical aspect but the model cannot reach a good solution with those values. However what puzzeles me was, every model run had a normal terminati

[2020-05-26 12:04] ritchie46 opened #892 "install fails if numpy is not yet installed."
See the following example in a clean docker image:

[code]

[2020-05-26 13:24] #867 closed

[2020-05-26 13:42] langevin-usgs commented on #892
This is stated in the installation instructions: FloPy requires NumPy 1.9 (or higher).

[2020-05-26 14:01] #879 closed

[2020-05-26 15:38] ritchie46 commented on #892
But is it required for the installation process? If so couldn't it be added as a build requirement in `pyproject.toml`. If it isn't required a simple

[code]

could solve this. Numpy is added in the `setup.py` under `install_requires` so will be installed if it is not.

[2020-05-26 17:41] spaulins-usgs commented on #871
@mnfienen-usgs Assuming that setting max_columns_of_data solved the problem.  If it didn't message me and I will look into it.

[2020-05-26 17:41] #871 closed

[2020-05-26 21:54] #892 closed

[2020-05-27 20:37] #883 closed

[2020-05-31 18:08] a0wunsch opened #896 "Loading an existing mfusg with voronoi crashes"
When an existing mfusg model with voronoi mesh (created outside of flopy) is loaded to flopy, results in error. If I read this correctly, then associated with the recharge package:

e.g.:
`m1=flopy.modflow.Modflow.load(model_name+".nam",model_ws=model_dir,verbose=True,check=False,exe_name="mfusg.exe",version='mfusg')`

verbose indicates that everything is read correctly ("...success" feedback on D

[2020-06-01 17:11] #863 closed

[2020-06-01 17:11] #878 closed

[2020-06-01 17:34] igotchalk opened #898 "modelgrid does not inherit lenuni from ModflowDis for Seawat models"
Hi All,

I am setting a spatial reference for a Seawat model object and am finding that the lenuni attribute defined in the ModflowDis class is not carried over to the modelgrid. It appears that all other attributes inherited from the ModflowDis class are preserved, although I haven't checked carefully. My current workaround is to create an empty Modflow model object and do all of my referencing f

[2020-06-02 00:55] langevin-usgs opened #899 "Mf6ListBudget does not properly handle multiple packages of the same type"
Am working on a fix to tack on a 2 to the second entry, and 3 for the third, and so forth.  So for this budget table with three RCH entries:

[code]

The returned names will be:

[code]

[2020-06-02 21:18] #899 closed

[2020-06-02 21:42] #898 closed

[2020-06-05 09:28] dbrakenhoff opened #902 "GridIntersect improvements"
While I was putting together the Notebook for showcasing interpolation along shapes on grids (https://github.com/modflowpy/flopy/issues/855#issuecomment-617259534), I made some changes to the GridIntersect class on my fork to test the performance of intersection operations using different methods.

The notebook showing the results is [available here](https://github.com/dbrakenhoff/flopy/blob/inter

[2020-06-05 11:19] langevin-usgs commented on #902
Hi @dbrakenhoff, this sounds reasonable to me.  I like the intersects() method.  The additional intersection method sounds good.  My opinion is to go ahead and submit as a PR.  Sorry there was no more feedback about issue #855.  This does some like something we want.

[2020-06-05 16:35] dbrakenhoff commented on #855
I think this still needs some more thought, so any feedback is welcome! And otherwise, I'll think about it some more and submit a PR (after the next flopy release probably).

[2020-06-08 05:56] wkitlasten opened #904 "No thickness available for flopy.mt3d.Mt3dBtn with flopy.mf6"
I am using the develop version of flopy (3.3.1) with the latest release of mt3d-usgs and mf6. I am getting errors with flopy.mt3d.Mt3dBtn. It appears the mf6 vars need to be loaded differently in setmodflowvars().

Getting the vars with mf.nper, mf.dis.ncol.get_data(), etc works. But is there is no "thickness" variable (as there is in modflow.mfdis). Is there another way?

[2020-06-08 13:53] emorway-usgs commented on #904
@wkitlasten to clarify, are you attempting to set some of the BTN variables using the flow model object, something similar to the last argument in the following example, and it isn't working when the `mf` object is MODFLOW6?:
[code]

[2020-06-08 15:18] wkitlasten commented on #904
Yes, I am not trying to set the variables themselves, but I am trying to
have them inherited from the modflowmodel object, which is mf6.

I suppose I can set them manually... or maybe make an "old modflow" object
from the mf6 object? Or is there an mf6 object similar to the modflowmodel
object?

Sent from my phone without spell checker. Please excuse my fat thumbs and
bad eyes.

On Mon, Jun 8, 202

[2020-06-08 15:44] emorway-usgs commented on #904
@wkitlasten The most expedient means forward would be either of the two options you mention.  In the tests I was running, I was comparing MT3D-USGS solutions using (1) mf2k5 and (2) mf6.  In having a 2nd look at what I did, it looks like I set the `dz` variable through the command I mentioned previously, namely:
[code]
and I could do it that way because the two flow models on which the mt3d model

[2020-06-08 15:59] wkitlasten commented on #904
Thanks for responding. I thought about digging deeper into a flopy solution
last night, but bailed. I'm sure I can do an external work around when I
get some time.

Sent from my phone without spell checker. Please excuse my fat thumbs and
bad eyes.

On Mon, Jun 8, 2020, 8:44 AM Eric Morway <notifications@github.com> wrote:

[2020-06-09 13:51] #826 closed

[2020-06-09 13:54] jdhughes-usgs commented on #804
You must have OC data for periods that exceed `NPER` defined in the `DIS` package. If you were to rewrite the input files, OC data would be truncated to data within `NPER`.

[2020-06-09 13:54] #804 closed

[2020-06-09 13:55] jdhughes-usgs commented on #831
@spaulins-usgs Is this resolved yet?

[2020-06-09 13:57] jdhughes-usgs commented on #764
@langevin-usgs @jwhite-usgs is this resolved?

[2020-06-09 15:24] spaulins-usgs commented on #831
@jdhughes-usgs yes sorry I forgot to close this one

[2020-06-09 15:24] #831 closed

[2020-06-09 15:55] jdhughes-usgs commented on #882
@jbellino-usgs is this something you can address this week (week of 6/8/2020)?

[2020-06-09 15:58] jdhughes-usgs commented on #852
@langevin-usgs is this something you can fix for the upcoming release?

[2020-06-09 16:00] jbellino-usgs commented on #882
@jdhughes-usgs It's on my radar, I will do my best to get it done before the next release. The use of zone 0 as a zone of interest was not something I had anticipated so some of the work will be in finding the hard-coded bits to release the constraint.

[2020-06-09 16:02] jdhughes-usgs commented on #835
@spaulins-usgs can we close this issue?

[2020-06-09 16:03] jdhughes-usgs commented on #830
@spaulins-usgs can we close this?

[2020-06-09 16:08] jdhughes-usgs commented on #827
The `UPW` unit number for `IPAKCB` has to be the same as the existing unit number for the CBC file you want to use. A default name is specified if `IPAKCB` is a positive integer and there isn't file with that unit number in the list of output files.

Does this apply to your problem? You can look at the `UPW`, `OC`, and `name` files to determine this.

[2020-06-09 16:11] jonathanqv commented on #827
Yes! It solved it! Thank you very much!

[2020-06-09 16:11] #827 closed

[2020-06-09 16:13] jdhughes-usgs commented on #803
The default condition is probably to not save CBC data and force the user to turn it on. So I would say the default condition would be `ipakcb=None` which would set it to zero. The user could also specify `ipakcb='default'` which would do what you indicated.

Would you be interested in implementing you proposed approach with this change? It would be great if you cleaned up the inconsistencies in t

[2020-06-09 16:20] #787 closed

[2020-06-09 16:23] #788 closed

[2020-06-09 16:30] jdhughes-usgs commented on #797
@jlarsen-usgs and ideas?

[2020-06-09 16:34] langevin-usgs commented on #852
I'll update the documentation concurrent with the next release.

[2020-06-09 16:34] jdhughes-usgs commented on #682
@langevin-usgs do you know where we are with this one?

[2020-06-09 16:35] #662 closed

[2020-06-09 16:37] jdhughes-usgs commented on #681
@langevin-usgs any ideas?

[2020-06-09 16:38] jlarsen-usgs commented on #797
This issue was fixed with PR #799. Closing issue.

[2020-06-09 16:38] #797 closed

[2020-06-09 16:39] jdhughes-usgs commented on #633
@langevin-usgs can we close this?

[2020-06-09 16:40] jdhughes-usgs commented on #607
@jwhite-usgs this seems closed. Will close but let me know if it needs to be reopened.

[2020-06-09 16:40] #607 closed

[2020-06-09 16:45] jdhughes-usgs commented on #682
duplicate of #593

[2020-06-09 16:45] #791 closed

[2020-06-09 16:48] jdhughes-usgs commented on #591
@spaulins-usgs can we close this issue?

[2020-06-09 16:49] #561 closed

[2020-06-09 16:49] #774 closed

[2020-06-09 16:50] #578 closed

[2020-06-09 16:51] jdhughes-usgs commented on #453
@langevin-usgs should we close this one?

[2020-06-09 16:52] jdhughes-usgs commented on #439
@jwhite-usgs Do you have any idea if this has been addressed sometime in the last 2 years?

[2020-06-09 16:53] langevin-usgs commented on #453
MODFLOW and related executables can be found here: https://github.com/MODFLOW-USGS/executables, so will close this issue for now.

[2020-06-09 16:53] #453 closed

[2020-06-09 16:53] #426 closed

[2020-06-09 16:54] #383 closed

[2020-06-09 16:54] jdhughes-usgs commented on #485
@langevin-usgs can this issue be closed?

[2020-06-09 16:55] jdhughes-usgs commented on #366
@spaulins-usgs can this issue be closed?

[2020-06-09 16:57] langevin-usgs commented on #485
Not sure what the status on this request is.  Feel free to reopen if there is interest.

[2020-06-09 16:57] #485 closed

[2020-06-09 17:02] jdhughes-usgs commented on #363
Implemented in `mf.py` in a manner similar to proposed solution. Not sure when this was implemented.

[2020-06-09 17:02] #363 closed

[2020-06-09 17:03] #351 closed

[2020-06-09 17:05] spaulins-usgs commented on #830
@jdhughes-usgs yes closing this issue.

[2020-06-09 17:05] #830 closed

[2020-06-09 17:07] #342 closed

[2020-06-09 17:07] #303 closed

[2020-06-09 17:07] #262 closed

[2020-06-09 17:08] spaulins-usgs commented on #877
@jdhughes-usgs this is a potential MF6 bug. Can you or Chris determine if this is "as designed" and if not move it to the MF6 issues?

[2020-06-09 17:08] jdhughes-usgs commented on #265
closing will reopen if necessary

[2020-06-09 17:08] #265 closed

[2020-06-09 17:08] jdhughes-usgs commented on #268
@langevin-usgs I suspect this one can be closed

[2020-06-09 17:09] jdhughes-usgs commented on #269
@aleaf-usgs did you ever see this issue? It is pretty stale but may be valid.

[2020-06-09 17:10] #282 closed

[2020-06-09 17:10] #242 closed

[2020-06-09 17:11] #250 closed

[2020-06-09 17:11] jdhughes-usgs commented on #241
Have several MODPATH examples now.

[2020-06-09 17:11] #241 closed

[2020-06-09 17:11] #236 closed

[2020-06-09 17:14] #226 closed

[2020-06-09 17:15] #285 closed

[2020-06-09 17:17] #286 closed

[2020-06-09 17:17] jdhughes-usgs commented on #507
@emorway-usgs Do you know the status of this issue?

[2020-06-09 17:19] #37 closed

[2020-06-09 17:19] #7 closed

[2020-06-09 17:20] #212 closed

[2020-06-09 17:21] jdhughes-usgs commented on #166
Stack Overflow is a better venue for this question. Let me know if this needs to be reopened.

[2020-06-09 17:21] #166 closed

[2020-06-09 17:22] #168 closed

[2020-06-09 17:22] #157 closed

[2020-06-09 17:23] jdhughes-usgs commented on #134
@langevin-usgs Is this still an issue?

[2020-06-09 17:23] #134 closed

[2020-06-09 17:23] #203 closed

[2020-06-09 17:25] jdhughes-usgs commented on #124
This is not a flopy issue but a compiler issue.

[2020-06-09 17:25] #124 closed

[2020-06-09 17:25] #130 closed

[2020-06-09 17:25] #128 closed

[2020-06-09 17:26] #108 closed

[2020-06-09 17:26] #26 closed

[2020-06-09 17:27] #2 closed

[2020-06-09 17:27] #33 closed

[2020-06-09 17:27] #5 closed

[2020-06-09 17:28] #132 closed

[2020-06-09 17:28] #104 closed

[2020-06-09 17:28] #6 closed

[2020-06-09 17:29] jdhughes-usgs commented on #31
Support for MODFLOW-2000 is a low priority. Closing issue will reopen if necessary.

[2020-06-09 17:29] #31 closed

[2020-06-09 17:30] #211 closed

[2020-06-09 17:30] jdhughes-usgs commented on #38
Added Steffen Mehl's code.

[2020-06-09 17:30] #38 closed

[2020-06-09 17:30] #45 closed

[2020-06-09 17:31] jdhughes-usgs commented on #39
Use Cell-By-Cell Readers. Stack Overflow is a more appropriate venue for this question.

[2020-06-09 17:31] #39 closed

[2020-06-09 17:31] #87 closed

[2020-06-09 17:32] #107 closed

[2020-06-09 17:32] #136 closed

[2020-06-09 17:32] #151 closed

[2020-06-09 17:33] #656 closed

[2020-06-09 17:34] #624 closed

[2020-06-09 17:34] jdhughes-usgs commented on #707
@spaulins-usgs I think this can be closed

[2020-06-09 17:34] #707 closed

[2020-06-09 17:36] jdhughes-usgs commented on #709
Stack Overflow would be a great venue for this question. Closing for now but will reopen if necessary.

[2020-06-09 17:36] #709 closed

[2020-06-09 17:40] jdhughes-usgs commented on #594
Are you using MODFLOW 6 or earlier versions (MODFLOW-2005, MODFLOW-NWT). Unclear what lake output you are creating. Stack Overflow is probably a better venue for this question does not seem to be a flopy issue since we routinely read binary output with the readers.

[2020-06-09 17:43] jdhughes-usgs commented on #792
@langevin-usgs is this example ok

[2020-06-09 17:45] jdhughes-usgs commented on #860
@jbellino-usgs maybe you would be interested in being involved in this.

[2020-06-09 17:46] jdhughes-usgs commented on #873
@langevin-usgs is this something DJ could work on?

[2020-06-09 17:47] #843 closed

[2020-06-09 17:48] jdhughes-usgs commented on #902
@dbrakenhoff were we going to wait until the next release for getting this into flopy?

[2020-06-09 17:49] jdhughes-usgs commented on #896
@langevin-usgs did you ever look at this?

[2020-06-09 17:51] jdhughes-usgs commented on #772
@jlarsen-usgs @dbrakenhoff and thoughts on this suggestion?

[2020-06-09 17:53] dbrakenhoff commented on #902
It would be nice to get this into this release, I think. I only need to make a few more changes and it should be good to go!

[2020-06-09 17:53] langevin-usgs commented on #633
I believe this is a duplicate of https://github.com/modflowpy/flopy/issues/896

[2020-06-09 17:55] jdhughes-usgs commented on #378
There is support for MODPATH 7. In general, support for MODPATH 7 is better than support for MODPATH 6. There are a few MODPATH 7 notebook examples. Closing issue will reopen if necessary.

[2020-06-09 17:55] #378 closed

[2020-06-09 17:56] #335 closed

[2020-06-09 17:59] jdhughes-usgs commented on #280
@spaulins-usgs could you take a look at this?

[2020-06-09 18:00] jbellino-usgs commented on #860
@jdhughes-usgs keep me in the loop. I'm working on a number of things at the moment, but would be interested to help out here wherever needed. Any timeline on it?

[2020-06-09 18:01] jdhughes-usgs commented on #255
@langevin-usgs @jwhite-usgs I think we resolved the issues with the other MT3D input formats. Can we close this one?

[2020-06-09 18:01] #298 closed

[2020-06-09 18:02] jdhughes-usgs commented on #293
@langevin-usgs @jwhite-usgs Can we close this?

[2020-06-09 18:05] jdhughes-usgs commented on #902
Ok. I suspect it will be early next week before we are ready to start the release process. Let me know if you run into problems.

[2020-06-09 18:06] jdhughes-usgs commented on #219
There is a lake example notebook (flopy3_lake_example.ipynb) but you probably already found it.

[2020-06-09 18:06] #219 closed

[2020-06-09 18:07] jdhughes-usgs commented on #220
@langevin-usgs can this issue be closed?

[2020-06-09 18:10] jdhughes-usgs commented on #343
@langevin-usgs @jwhite-usgs Not sure what to do with this one.

[2020-06-09 18:10] #238 closed

[2020-06-09 18:11] #214 closed

[2020-06-09 18:12] jdhughes-usgs commented on #316
@ds138 Is this still an issue? I realize it is quite an old issue and apologize that no one has looked at it. Let me know if it still needs to be addressed.

[2020-06-09 18:15] jlarsen-usgs commented on #772
@jdhughes-usgs @dbrakenhoff I think this would be a nice addition to FloPy and would make working from spatial objects much easier. I can start putting together a set of utilities for this proposal.

[2020-06-09 18:50] hansonmcoombs commented on #882
@jbellino-usgs   I think you may still be mis-interpreting my issue; apologies for not being clear enough.  I was not interested in zone zero, but it if zone 0 contains active cells, I found that when there is any flow from zone 0 to a named zone (e.g. zone1)  passed to _update_budget_fromfaceflow, all flows are not added to the budget array.

 For example if fz=[0,1,2,1] and tz=[1,2,0,2] from pas

[2020-06-09 18:54] langevin-usgs commented on #255
I believe this is related or a duplicate of https://github.com/modflowpy/flopy/issues/343

[2020-06-09 18:55] langevin-usgs commented on #343
This is a duplicate of https://github.com/modflowpy/flopy/issues/255 I think

[2020-06-09 18:56] jbellino-usgs commented on #882
@hansonmcoombs you are correct, thanks for the sample code. I'll use that to update the utility and develop a test for the condition where there are active cells in zone 0 to ensure flow from those cells gets incorporated into the face-flow arrays as the should.

[2020-06-09 19:09] emorway-usgs commented on #507
@jdhughes-usgs with the last release of [MF-NWT](https://www.usgs.gov/software/modflow-nwt-a-newton-formulation-modflow-2005) and the fixes that were in LMT, I think this issue can be closed.

![release](https://user-images.githubusercontent.com/3236576/84189159-aa04d780-aa49-11ea-98e4-6246ff5de107.png)

I just pulled the repo to make sure I was up-to-date, ran the notebook, and the plot at the en

[2020-06-09 19:34] jdhughes-usgs commented on #507
Perfect. Closing this issue.

[2020-06-09 19:34] #507 closed

[2020-06-09 20:05] langevin-usgs commented on #343
I've been looking at this a bit, and unfortunately, it's not as simple as setting the delimiter to a space.  The delimiter is not used when fmt is specified.  We might have to specify the fmt strings differently, such as using ' 9G' instead of '10G' if formatted and always putting a space in front of the format string if free format is specified.  Unfortunately in the related issue #255, the MT3D

[2020-06-09 20:26] jdhughes-usgs commented on #345
@mbakker7 It has been a long time coming but I have a pull request in that addresses
this issue. Hope the fix is worth the wait.

[2020-06-09 20:52] #345 closed

[2020-06-09 23:49] langevin-usgs commented on #220
We have some of this for the newer MODFLOW 6 classes, but not the mf2005-based classes.  Going to close this for now.  If anyone is interested in taking this on, feel free to reopen.

[2020-06-09 23:49] #220 closed

[2020-06-10 01:54] etiennebresciani commented on #803
Ok, I'll try to get to it in the coming days.

[2020-06-11 01:26] etiennebresciani commented on #873
I would be interested in principle, but time is indeed an issue here... I would have a hard time justifying it as I am not working with unstructured grids at this stage.

Just some thoughts: it may not be a bad idea to indeed use the genuine vtk python module, as @giovannifi did. It could be used throughout (i.e., even for structured grids). This would add a dependency, but on the other hand it wo

[2020-06-11 12:42] jbellino-usgs commented on #860
Do you have a branch started?

[2020-06-11 13:10] jdhughes-usgs commented on #860
I did but ditched it. I have started thinking that because of the multiple grid types in MODFLOW 6 and the advanced packages that maybe a thin wrapper around the MODFLOW 6 zone budget exe is a better way to go for this feature.

[2020-06-22 20:04] aleaf commented on #324
Hey @samzipper, sorry for never answering this. I looked at your example code and as far as I can tell, flopy seems to be working as intended. I think the confusion lies in the idiosyncrasies of MNW2 input. Nodes for a well can be defined by layer, row, column, or by open intervals (ztop and zbotm variables). From the [MODFLOW Online Guide for MNW2 Dataset 2b](https://water.usgs.gov/ogw/modflow-nw

[2020-06-22 20:06] #882 closed

[2020-06-22 20:16] #727 closed

[2020-06-22 22:01] dbrakenhoff opened #916 "edgecase intersecting grid with polygon partly on cell edge"
The following case gives an intersection result in which one grid cell is listed twice in the results, each containing part of the original polygon (red dashed line). I think you would want the intersection result to have one entry per grid cell. I will submit a PR with a fix.

<img width=400 src=https://user-images.githubusercontent.com/6552225/85029667-d244b280-b17c-11ea-95c9-cabf00397964.png>

[2020-06-22 22:06] dbrakenhoff opened #917 "intersect_linestring error when trying to overlay line onto Flopy grid"
[As posted on flopy's temporary replacement repo by ebake310](https://github.com/modflowpy/flopy_replacement/issues/6):

dbrakenhoff:

[2020-06-22 22:07] dbrakenhoff commented on #917
The problem was caused by a mistake in handling linestrings exiting and entering a grid cell on faces other than the right one.
I will submit a PR to fix this issue.

[2020-06-23 00:53] #916 closed

[2020-06-23 00:53] #917 closed

[2020-06-23 18:04] #269 closed

[2020-06-23 18:10] jdhughes-usgs commented on #324
@aleaf-usgs do you happen to know if this is still an issue? If it is not an issue would you close?

[2020-06-23 18:12] jdhughes-usgs commented on #775
@emorway-usgs do you think you will be able to address this prior to the code freeze on Thursday? If not would you give it the 3.3.2 milestone?

[2020-06-23 18:13] #852 closed

[2020-06-23 18:49] #280 closed

[2020-06-23 19:02] emorway-usgs commented on #775
@jdhughes-usgs  It'll have to get pushed back to the next release.  I won't be able to get to it this week.

[2020-06-23 19:04] emorway-usgs commented on #904
This goes along with #775

[2020-06-23 20:00] #324 closed

[2020-06-25 18:58] jdhughes-usgs commented on #593
duplicate of #633

[2020-06-25 18:59] #835 closed

[2020-06-26 21:05] #730 closed

[2020-06-26 21:35] jdhughes-usgs commented on #594
No response to request for clarification so will close. @edimunv let me know if this is still an issue and I will reopen.

[2020-06-26 21:35] #594 closed

[2020-06-30 00:42] newuser2021 opened #930 "UZF package MODFLOW6 and Unstructured Grids"
Regarding the current status of MODFLOW6. I was hoping someone could answer a basic question for me. Is it possible to simulate UZF flow using unstructured grids DISV6/DISU6 with MODFLOW6? Or is this type of functionality in the pipeline?

[2020-06-30 22:26] mwtoews opened #932 "Broken Python 3.5 without matplotlib"
It seems that the flopy-3.3.1 release doesn't always work with Python 3.5, e.g.:
[code]
however this release works with Python 3.5 if matplotlib is installed, which is why the Travis CI tests run without error.

Two possible fixes:
 - Change `ModuleNotFoundError` to `ImportError` for Python 3.5 compatibility
 - Bump the minimum Python version to 3.6

[2020-07-01 01:48] enforsterite opened #934 "GirdIntersect utility"
Hi - trying to intersect a Modpath7 streamline with a MfGrdFile object (DISV) so that we can find the cell address at each of the streamline points and extract the MF6 results (flux/ head), but am getting an error shown below.  Does GridIntersect support a DISV grid in grb format?

ix = GridIntersect(gobj, method="strtree")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2020-07-01 19:36] #934 closed

[2020-07-02 08:38] tomvansteijn commented on #764
Not yet resolved in the develop branch I think. I can propose a fix and PR, but I am not aware of specific requirements for list data with respect to e.g. NetCDF. I do think the current implementation gives rise to modelling errors, albeit rather obvious ones, especially in areas with lots of drainage.

[2020-07-08 09:31] mustafaucr opened #935 "How to give a name to UCN file instead of MT3Dxxx.UCN?"
I want to give a name to MT3Dxxx.UCN file name(s) instead of default names (MT3D001.UCN, MT3D002.UCN, MT3D003.UCN etc.). I found a parameter in `Mt3dBtn` and it's name is `species_names`. But it does not work for me it still generate default UCN file names.

Is there a way to give different names for *.UCN files that will be generated?

[2020-07-09 03:30] ougx opened #936 "utils/check.py/check.get_active() error for quasi 3-D confining beds"
This part has problem. Index `l` only increases by `1` even there is a confining bed layer.

[code]
This can be achieved by the `np.insert` function.

[2020-07-09 21:10] #932 closed

[2020-07-09 22:10] jeroenhelder opened #938 "add gridgen mfu to mf6"
Hi, I am struggeling with the examples to create a mf6 model based on shapefiles. I succesfully used gridgen to create a quadtree grid. based on an extent.
Now I try to use the DISU object (or the file_ in a mf6 model, but i cant find how to do it.
disu = flopy.mf6.ModflowGwfdisu(gwf)
creates the object for the mf6 model, but disu=g.get_disu(gwf) gives an error. g being my gridgen quadtree grid.

[2020-07-11 18:07] krlo-s opened #939 "FloPy ETS package support"
Greetings FloPy development team.

First of all I want to thank you for this excellent Python project, my most sincere admiration for all your hard work. I would like to ask you if you could add support for the MODFLOW ETS package please.

Thank you for all your hard work and effort put in this project,
Kind regards

[2020-07-11 21:19] haugwitz opened #940 "Saving observations for CHD in MF6."
When I try adding observations for named bounds in CHD, in this example the bound called INF.

cont_obs = ['CHD1','CHD','INF']

obs = flopy.mf6.modflow.mfutlobs.ModflowUtlobs(model, digits=8, print_input=True, continuous=cont_obs)#, filename=None, pname=None, parent_file=None

I get an error:

ERROR REPORT:

  1. *** ERROR OPENING FILE "mf6NHTModel.obs" ON UNIT 1013
  2. *** FILE ALREADY OPEN ON U

[2020-07-13 08:13] mwtoews commented on #935
This is documented in the [MT3DMS v5.3 manual](https://hydro.geo.ua.edu/mt3d/mt3dms_v5_supplemental.pdf) around page 5 with an example on page 7. With flopy use [`flopy.mt3d.mt.Mt3dms.add_output`](https://modflowpy.github.io/flopydoc/mt.html#flopy.mt3d.mt.Mt3dms.add_output), e.g.:

    mt = ...  # however you create the mt3d object
    mt.add_output('first_species.ucn', 201, binflag=True)

[2020-07-13 14:10] emorway-usgs commented on #940
@haugwitz Are you able to share your model input files (trimmed of transient input > stress period 1 or 2)?  Or share the flopy script that generates the model input?

[2020-07-13 16:42] mnfienen-usgs opened #941 "irch being read as 1-based from MODFLOW 6 input files?"
In reading a MODFLOW6 model with flopy, the data for `irch` in the `rcha` package is indicating a layer ID for highest active layer, but flopy is reading the data as 1-based. Assuming this should be converted to 0-based (important because was reading it to use for assigning particles to highest active layer in MODPATH, so had to subtract 1 to have the right values in flopy)

[2020-07-14 05:52] mustafaucr commented on #935
Many thanks!

[2020-07-14 05:52] #935 closed

[2020-07-15 15:46] wkitlasten opened #942 "UZF1 option block not being written"
This causes the model to fail when using newer options like ETSQUARE. Example below:

import flopy
import numpy as np
print('flopy version: {}'.format(flopy.__version__))

modelname = 'uzf_test'
mfexe = 'mfnwt.exe'
mf = flopy.modflow.Modflow(modelname=modelname, exe_name=mfexe, version='mfnwt')
nwt = flopy.modflow.ModflowNwt(mf)

dis = flopy.modflow.ModflowDis(mf)
bas=flopy.modflow.ModflowBas(mf)

[2020-07-16 15:35] emorway-usgs commented on #942
@jlarsen-usgs In looking at this a bit further, I can trace the origin of this bug to line 327 in optionblock.py.  `self.block` is `False` which directs flopy to write the options as a single line :

![block](https://user-images.githubusercontent.com/3236576/87690304-245a0300-c73e-11ea-8c80-cea353bdb342.png)

At the moment, it looks like the variable `self.block` is hard-wired to `False` on line 4

[2020-07-16 16:14] jlarsen-usgs commented on #942
@emorway-usgs, @wkitlasten

The code is currently set up that way to prevent using the block style with mf-2005 versions of UZF. There are a couple things that could be done. 1) I could put in a version check on line 480:
[code]

2) Until I put in the PR, the user can manually set the block Flag to True by using:

[code]

[2020-07-16 21:14] emorway-usgs commented on #942
@jlarsen-usgs I like option 1, but I wonder if the gate-keepers do?  I wonder if they might instead prefer the user to implement your 2nd option.  In any event, thanks for providing a path forward for @wkitlasten

[2020-07-16 21:28] wkitlasten commented on #942
My vote is for option 1. Thanks gor the solutions.

Sent from my phone without spell checker. Please excuse my fat thumbs and
bad eyes.

On Thu, Jul 16, 2020, 2:14 PM Eric Morway <notifications@github.com> wrote:

[2020-07-16 22:00] mustafaucr commented on #395
Sorry I can not understand the usage of that format. For instance I have a second species in system. Documentation says:

`(CSSMS(n), n=1, NCOMP) defines the concentrations of a point source for multispecies simulation with NCOMP>1.`

But you entered 2 values for another concentration of other species. If I add concentration of my second species I should enter that value like this (that is my opin

[2020-07-19 11:16] #938 closed

[2020-07-21 08:29] Hofer-Julian opened #944 "docs: parameternames and types are merged"
See e.g. https://modflowpy.github.io/flopydoc/mfnam.html?highlight=memory

`simulationMFSimulation` should be `simulation : MFSimulation`

[2020-07-24 18:53] jdhughes-usgs opened #945 "wrap matplotlib imports"
There may be an issue with matplotlib imports that are not wrapped in try-except statements. Wrap all matplotlib imports in try-except statements.

[2020-07-27 15:06] #945 closed

[2020-07-27 15:22] jdhughes-usgs opened #947 "Strict linting for commits"
Right now we run flake 8 and pylint on the python 3.7 test on Travis but we do not fail if there are identified issues. I suggest that implement a more rigorous evaluation of formatting and linting.

I suggest that we switch to the [black formatter](https://pypi.org/project/black/). It is possible that we can setup github actions to do the formatting automatically but at first this would require t

[2020-07-27 18:18] jdhughes-usgs commented on #941
@spaulins-usgs Could you take a look at this?

[2020-07-27 18:22] jdhughes-usgs commented on #930
This is a MODFLOW 6 question not a flopy question. The UZF package can be used with all MODFLOW 6 discretization types. You have to specify the correct `cellid` type for the grid (layer row column for DIS, layer node for DISV, and node for DISU).

[2020-07-27 18:22] #930 closed

[2020-07-29 13:46] spaulins-usgs commented on #941
@mnfienen-usgs a fix was just merged into the latest version of flopy.  Please let me know if it solves your problem.

[2020-08-01 15:11] Muhammad-waqas-ahmad1122 opened #951 "flopy.modflow.mfdisu Module"
Hello,
I am trying to create a sewer network model and then i have to analyse it for containment spreading via ModFlow and MT3d. For this I have to draw a network from some random coordinates of nodes(which i have in txt file) in Flopy.
Can anyone suggest how to define these coordinates in Flopy.
As i am at beginner level in Python, so your help is appreciated.
Thank you.

[2020-08-01 15:12] #951 closed

[2020-08-01 15:13] Muhammad-waqas-ahmad1122 opened #952 "flopy.modflow.mfdisu Module"
Hello,
I am trying to create a sewer network model and then i have to analyse it for containment spreading via ModFlow and MT3d. For this I have to draw a network from some random coordinates of nodes(which i have in txt file) and connecting pipes between these nodes in Flopy.
Can anyone suggest how to define these coordinates in Flopy.
As i am at beginner level in Python, so your help is apprecia

[2020-08-05 22:10] mkennard-aquaveo opened #956 "GridIntersect._intersect_point_structured crashes if point is 3D and outside the grid in XY."
GridIntersect._intersect_point_structured will crash if the point is 3D (has a Z value) and is outside the bounds of the grid in XY. The following code reproduces the crash. I have a proposed fix and will submit a pull request.

[code]

[2020-08-06 00:42] #956 closed

[2020-08-06 23:21] mkennard-aquaveo opened #958 "GridIntersect._intersect_point_shapely fails sometimes due to bad rtree cell polygons"
GridIntersect._intersect_point_shapely() can return an empty result even though the point is in the cell if the cell has more than 3 vertices and an rtree is created. I believe this line of code in GridIntersect._vtx_grid_to_shape_generator is the problem:
`                for iv in self.mfgrid._cell2d[icell][-3:]:`
I think that only works for cells that have 3 vertices (which is always true for t

[2020-08-11 03:07] cnicol-gwlogic opened #961 "write_file() / util_array array2string speed"
I am finding writing large arrays (like JA in a disu file) using package_object.write_file() really really slow (many hours for a JA of size ~10M - ridiculous model size I know, but not hugely uncommon).

My experimentation suggests that the bottleneck is in utils/util_array.py() in function array2string, which uses the string += "more" and s = s + "more" methods. This is [known to scale badly wit

[2020-08-14 17:38] jwhite-usgs commented on #961
@cnicol-gwlogic - this sounds like a reasonable switch to me.  I wonder how much time is being spent in the error trapping?  Do you profile any of this?

[2020-08-16 07:14] cnicol-gwlogic commented on #961
Thanks for the feedback @jwhite-usgs, appreciate it. I hadn't profiled this, but now I have :)

It certainly confirms what I thought: that the existing flopy method in my case spends 1594 seconds  in array2string, of 1613 seconds total disu.write_file() time. But I can't work out how to see where time was spent within that array2string call using cprofile. Using my revised "".join() method above,

[2020-08-18 16:58] #942 closed

[2020-08-18 20:16] #961 closed

[2020-08-19 00:49] jlarsen-usgs commented on #772
@dbrakenhoff and @mnfienen
I started putting together a base to work from that allows for easy capture (within flopy) and conversion from one geospatial input type to another. This class is fairly simple and takes advantage of the `__geo_interface__` (geojson standard) method that is attached to objects in pyshp and in shapely. The class is not yet complete (I haven't added custom flopy geometry c

[2020-08-19 15:24] langevin-usgs commented on #958
Fixed with #959

[2020-08-19 15:24] #958 closed

[2020-08-19 15:26] langevin-usgs commented on #952
Sorry, but this is not an issue with FloPy.  Suggest you try an alternative resource, such as the MODFLOW google groups page.  https://groups.google.com/forum/#!forum/modflow

[2020-08-19 15:26] #952 closed

[2020-08-20 04:37] kerrybardot opened #967 "Specific discharge for each cell Modflow 6"
Hello!
I want to plot flow vectors for each cell on my grid so would like to get specific discharge gradients and use a quiver plot.

Wondering about **flopy.utils.postprocessing.get_specific_discharge**... does it actually exist as I get this error:
AttributeError: module 'flopy.utils.postprocessing' has no attribute 'get_specific_discharge'

Otherwise I guess I could create my own specific disch

[2020-08-21 16:15] ebake310 opened #968 "How to correctly activate the Newton-Raphson formulation in flopy modflow 6"
Trying to use/activate the Newton-Raphson formulation in modflow 6 using flopy. First I added 'newtonoptions=True' to the ModflowGwf line:
gwf = flopy.mf6.ModflowGwf(sim_sub, modelname=name, newtonoptions=True)
(newtonoptions=True activates the Newton-Raphson formulation for groundwater flow between connected, convertible groundwater cells. Cells will not dry when this option is used)

However, I

[2020-08-23 14:03] #968 closed, assigned to nobody

[2020-08-24 14:15] ebake310 commented on #968
Ok, thank you for the direction to the google group. Also, the instructions at the above link for activating the Newton-Raphson in modflow 6 still gives an error:

#code modified from notebook:
gwf.name_file.newtonoptions = ('')
(originally model.name_file.newtonoptions = ('') )

Produces error:
MODEL PO_MODEL_SUB PRODUCES AN ASYMMETRIC COEFFICIENT MATRIX, BUT THE
CONJUGATE GRADIENT METHOD WAS SEL

[2020-08-24 14:20] jdhughes-usgs commented on #968
You need to use a different linear accelerator (`BICGSTAB`) if you are using the Newton-Raphson formulation. You can use the `complexity="complex"` in the `IMS` package or set the linear accelerator manually to `BICGSTAB`. There are examples of this in the `*mf6*.ipynb` Notebooks.

[2020-08-24 17:50] mkennard-aquaveo commented on #855
FYI, we've been working on something similar at Aquaveo. For now all we are interested in is the parameterized distance (between 0.0 and 1.0) from the start of the linestring to each intersection point. We call these "t_values" (naming is hard) and there is one t_value per intersection vertex returned in the GridIntersect results. From the t_values we calculate values for the cells, like river sta

[2020-08-24 21:11] aleaf commented on #855
Sorry, must have missed this thread the first time around. Off the top of my head, I can't think of an instance where I've had to do exactly what is being described (if I'm understanding it right). For sampling feature data to a model grid, I've often used the [rtree package](https://toblerity.org/rtree/), which provides a fast way of determining bounding box intersections for large numbers of fea

[2020-08-25 15:46] dbrakenhoff commented on #855
The reason I opened this issue was because of the following cases I ran into:
  - I have a shapefile describing a river (linestring or polygon) and several waterlevel measurement locations at certain points along this river. I want to to set my river stage based on the interpolation between these waterlevel observations.
  - Another example would be with a shapefile of a river (linestring) with at

[2020-08-25 19:22] mkennard-aquaveo commented on #855
The "t_values" approach I mentioned gives you the interpolated values where the feature intersects the grid, just scaled between 0.0 and 1.0. Thus they are still pure geometry like the rest of the GridIntersect results but they can be reused to interpolate whatever attributes are stored at the endpoints, like river bottom elevation, river stage etc. It seems like a simple approach as these could j

[2020-08-26 21:27] ebake310 opened #974 "ZoneBudget error with MODFLOW 6"
I am trying to run Zonebudget on a Modflow 6 model in Flopy. However when I try to run ZoneBudget I get an error that the row/col dimensions do not match. When I explore the .cbc file 17078876 is the length of the cobj.get_data(text='FLOW-JA-FACE'). Should the length of the .cbc  'FLOW-JA-FACE' file match the number of cells in the model domain because currently the length of the .cbc  'FLOW-JA-FA

[2020-08-28 05:06] mustafaucr opened #977 "'MtListBudget' object has no attribute 'get_budget' error"
[In flopy documentation](http://modflowpy.github.io/flopydoc/mtlistfile.html#flopy.utils.mtlistfile.MtListBudget) says `MtListBudget `can be read as dataframe by using `get_budget()`

But in my code it does not work:

[code]
It gives me that error:

`AttributeError: 'MtListBudget' object has no attribute 'get_budget'`

[2020-08-28 17:16] kendal30 opened #978 "Shapefile write error with PyShp 1.2.x"
Attempting to use the `gridgen` module in version 3.3.1, specifically the `add_active_domain` class, I received an error: `__init__() got multiple values for argument 'shapeType'`.

This exact same piece of code worked in a version 3.2.12 of FloPy, so I dug into the differences and found a couple:
1. In 3.3.1, within the `gridgen` module, the function `shapefile_version` was no longer imported fro

[2020-08-31 02:30] CesarRodriguezPereira opened #984 "Modflow objects are difficult to subclass"
While attempting to subclass the flopy.modflow.mf.Modflow class, I've found that at least in that module, there are some "hard references" to the class. Take a look at the .load() method:

[code]
This makes it so that if you subclass the Modflow class in order to expand it's capabilities (maybe in order to better suit your needs or to adapt it to your use case), if you use the load method, you wil

[2020-08-31 13:15] #941 closed

[2020-08-31 13:24] langevin-usgs commented on #984
Nice suggestion.  I watched the video clip.  It's true that we didn't think about our "poor subclassees" in this case.  Feel free to submit a PR for this and other related changes and if all the tests pass and there are no objections, we'll be happy to accept it.

[2020-08-31 13:24] jdhughes-usgs commented on #974
@ebake310 flopy zonebudget functionality does not work for MODFLOW 6. This is on our list of flopy enhancements for the next version (see issue #860).

[2020-08-31 13:37] jdhughes-usgs commented on #939
@krlo-s I have tagged this as a suggested enhancement. The MODFLOW 6 ET package can be configured to simulate segmented evapotranspiration and there is full support for the MODFLOW 6 ET package in flopy.

[2020-08-31 13:38] #936 closed

[2020-08-31 13:51] jdhughes-usgs commented on #977
@mustafaucr The example in the documentation is clearly wrong.

@langevin-usgs do you know why there is a separate `MtListBudget` class rather than inheriting from `ListBudget`??

[2020-08-31 13:57] langevin-usgs commented on #978
Hi @kendal30, we had a lot of discussions about cutting the cord to Python 2.x, and we removed quite a bit of code that was needed to support the earlier versions.  I don't think we want to go backward at this point.  It seems like it should be possible for you to maintain these few extra lines of code in your forked version.  Sorry for the trouble, but now that we no longer maintain Python 2.x we

[2020-08-31 13:57] #978 closed

[2020-08-31 14:02] langevin-usgs commented on #978
Sorry, I misread your issue.  It's not a Python 2.x issue.  What is the dependency with PyShp 2.x that is giving you the problem?

[2020-08-31 14:15] kendal30 commented on #978
Yeah I did my best to not mix up my 2.x and 3.x version numbers in my original description. I will try a little more clearly:

I am unable to upgrade to PyShp 2.x, an instead can only run the 1.2.x line for now (not sure what dependency in my environment is causing the issue). Regardless, PyShp 1.2.x is what FloPy says should be required.

In Flopy 3.2.12 there were some version checks in `gridgen

[2020-08-31 16:17] #984 closed

[2020-08-31 23:37] langevin-usgs commented on #978
Would you mind checking on the reason you can't upgrade PyShp from 1.2.x to 2.x.  You are the first one to report a problem with this.  I don't think we would mind adding this support back in as long as there is good reason to do so.  Because the PyShp calls changed between 1.2 and 2.0, we'd ideally like to support only the latest, if at all possible.

[2020-09-01 14:01] kendal30 commented on #978
At your suggestion I tracked it down to an ESRI module `arcgis`. I use ArcGIS Pro (through its `arcgispro`) module to do a lot of the GIS heavy lifting for me (a lot of which is grid intersection and raster functionality, so it's encouraging to see FloPy gaining these enhancements). I was able to explicitly require `arcgis`>=1.8, which then required `pyshp`>2. This should allow me to run FloPy>3.3

[2020-09-03 20:15] spaulins-usgs opened #991 "Clean up new "read the docs" flopy documentation"
The new "read the docs" flopy documentation needs some proof reading and cleaning up.  Clean-up issues found so far include:

* MFArray, MFList, and MFScalar classes missing from the flopy for MF6 documentation
* MF6 package modules should not display internal module variables like "dfn"
* There are several cases that doc strings need to be added for certain methods

[2020-09-08 03:48] flydream0428 opened #992 "AttributeError when access modelname attribute"
`# create flopy objects for packages`
`modelname = 'P10'`
`mf = flopy.modflow.Modflow(modelname=modelname, exe_name='mfnwt_64.exe', version='mfnwt', model_ws='pred_m') `
`mf.modelname`

**The code above will return an AttributeError as follows when I try to get the modelname attribute.**

AttributeError                            Traceback (most recent call last)
<ipython-input-13-6a6f7d7022ac> in

[2020-09-13 23:41] mwtoews commented on #992
You should find this attribute with `mf.name`

There used to be a `modelname` attribute that returned `None`, but this was dropped before version 3.2.12.

[2020-09-18 18:27] dryter-usgs opened #993 "modpath7 issues with flopy.utils.modpathfile"
I'm using flopy 3.3.1
The model is MF6, and ModPath 7. The model is too big to upload but I uploaded the ModPath files.
[mpath.zip](https://github.com/modflowpy/flopy/files/5247502/mpath.zip)

Problems with:
get_destination_pathline_data
and get_destination_endpoint_data
and get_destination_timeseries_data

There are two things happening.
I cannot select destination cells using [(k, i, j)], I have

[2020-09-25 08:17] tomvansteijn opened #995 "Issues with gridintersect for structured grid"
I ran into some issues using gridintersect for a structured grid and a large polyline dataset.

- the `transform` function is seemingly called on X,Y of the first and second point of each vertex instead of two arrays of X and Y coordinates. This seems incorrect. see: https://github.com/modflowpy/flopy/blob/0e380bcc55f25e5401a901a81312e546affd0e70/flopy/utils/gridintersect.py#L725-L732
- when proce

[2020-09-25 08:56] dbrakenhoff commented on #995
Hey Tom, thanks for submitting these issues! It is very much appreciated if you want to submit a PR with fixes! I'll take a look after you've submitted it!

On a more general note, I haven't tested the structured methods as extensively as the vertex methods because the "vertex" methods outperform structured in most cases. I did some tests with different input shapes and grid sizes and came up with

[2020-09-25 13:33] langevin-usgs commented on #993
It is true that for mp7, the get_destination_pathline_data() method requires a grid node number, and not layer, row, column, so the docstring should be updated.  The notebook linked below shows that these methods are working fine for the MODFLOW 6/MODPATH 7 combination for a multilayer structured grid model.  If you can reproduce your problem with a small example we'd be happy to have a look.

htt

[2020-09-25 14:40] tomvansteijn commented on #995
Thanks! So far I have only tried the structured method, I figured it would be faster.

[2020-09-25 16:48] #995 closed

[2020-10-07 21:28] #940 closed

[2020-10-07 21:28] haugwitz commented on #940
I used another example to do it and it worked well.

[2020-10-12 17:47] RyanConway91 opened #998 "Problem with y offset using flopy.export.utils.export_array"
When I export a modelgrid shapefile:
m.modelgrid.write_shapefile("test_grid.shp")
It shows up correctly. However anything exported using flopy.export.utils.export_array() is shifted down nrow*delr.

It seems that the y offset passed to rasterio when calling:
flopy.export.utils.export_array()
is supposed to be y max, but y min is getting passed.

[2020-10-14 14:33] jdhughes-usgs commented on #993
@langevin-usgs is this resolved?

[2020-10-14 18:26] jjkennedy opened #1000 "Flopy error while exporting shapefile"
I'm using Python 3.7.9 installed with Anaconda and running script within a Jupyter notebook to post process groundwater model data. The groundwater model is ran using Modflow 6, with ModPath 7 also being used.
The following versions of packages are also being used:
flopy 3.3.1
numpy version: 1.19.1
matplotlib version: 3.3.1
rasterio version: 1.1.0

Using "flopy.export.utils.export_array_contours()

[2020-10-14 18:38] langevin-usgs commented on #1000
Do you have a version of the python PyShp package that is 2.0 or greater?  If not, then I'm guessing that's the problem.  If you upgrade to the latest version of PyShp, I'm optimistic that would fix it.

[2020-10-14 20:50] jjkennedy commented on #1000
Thank you so much for this suggestion @langevin-usgs !!! That was the problem.

[2020-10-14 20:50] #1000 closed

[2020-10-20 17:14] luthermiles opened #1005 "species_names not working"
Hi all. I'm creating a multispecies reactive transport model and I would like for my UCN output files to bear their respective species' name. I've tried doing this with a list and dictionary - just won't work. What am I doing wrong? Help, please.

Also, is the kinetic biodegradation reaction package ever going to be supported by FloPy? I'm having to prepare the input file offline and rerun the MT3

[2020-10-20 17:57] langevin-usgs commented on #1005
As far as I can tell, the `species_name argument` doesn't do anything in the flopy mt3d source code.  It is stored there, but it won't do what you want it to do.

There may be a sneaky way to rename your ucn files the way you want, although I haven't tried it.  After you create your mt model, you might be able to make calls like this:

[code]
It's a long shot, and may very well not work, so there

[2020-10-20 17:57] #1005 closed

[2020-10-21 17:57] #772 closed

[2020-10-22 16:35] luthermiles commented on #1005
Thanks, it worked. The same method also sort of worked for the .MAS file outputs, but those weren't in a readable text format.

[2020-10-24 22:31] pablinus68 opened #1010 "Concentration modeling with USG and Flopy"
Hi everybody, I am trying to build a MODFLOW-USG model using FLOPY. I know that the beta version of USG allows to simulate concentration changes, I think with the BCT and PCB packages, but I do not know how to create these objects using flopy. Could anyone send me some example scripts to do that ? Thanks !!!

[2020-11-05 23:08] mrush-usgs opened #1014 "Model object does not have xcenters or ycenters attribute"
I am working on a plotting method that involves getting xcenters, ycenters, and zcenters. My model object does not have attributes xcenters or ycenters:

flopy version: 3.3.2
Traceback (most recent call last):
line 140, in <module>
    frf, fff = vectorize_flow(ja, model.dis)
 line 46, in vectorize_flow
    xcenter = model.xcenters
  File "C:\ProgramData\Anaconda3\envs\mickey\lib\site-packages\flo

[2020-11-06 17:04] emorway-usgs commented on #1014
Is this a question?  The end of your message suggests you found the solution?  In the future, you might consider posting questions on stackoverflow with a flopy tag.

[2020-11-06 22:58] jlarsen-usgs commented on #1014
@emorway-usgs & @mrush-usgs,

I instructed mrush to open this issue as my understanding was that it was an issue with the plot_vectors() method on PlotMapView(). However, it seems like it is not.

The flopy model object does not have a `xcenters` or 'ycenters` attribute. Instead the `model.modelgrid` (Grid object) has these attributes and is used for all plotting and exporting functions.

I am clo

[2020-11-06 22:59] #1014 closed

[2020-11-10 19:16] andyrich opened #1015 "Create SFR network from raster DEM using Landlab package"
The landlab package is a geomorphology modeling package that could be used to create SFR networks for MODFLOW models using a DEM as the source.  It has a module called the FlowAccumulator that calculates flow accumulation (shown as drainage area in screenshot below) that can then be used as the basis to create an SFR grid. The code can deal with depressions (DepressionFinderAndRouter), has differe

[2020-11-10 19:34] ebake310 opened #1016 "GridIntersect not working anymore"
I updated my version of FloPy to 3.3.2 and now none of my code to intersect my model grid with linestrings and polygons works. At first I was receiving the error: 'GridIntersect' object has no attribute 'intersect_linestring' and 'GridIntersect' object has no attribute 'intersect_polygon' and I read that the function has just changed to the more generic function 'intersect'. However, when I run th

[2020-11-10 19:47] emorway-usgs commented on #1015
@andyrich Does landlab also have something that can take predefined linework (e.g., .shp file) representative of a irrigation system and generate SFR input from that?  For example, irrigation ditch diversions typically follow DEM contours rather than flow perpendicular to them.  To show you what I mean, consider the image below.  Segments labeled "180," "182," "188," "193," & "196" represent the m

[2020-11-10 19:47] langevin-usgs commented on #1016
Hey, that is frustrating.  I ran into the same problem, but was able to get the generic intersect method to work just fine.  The notebook here shows how I was able to get it to work:  https://modflow6-examples.readthedocs.io/en/master/_notebooks/ex-gwf-advtidal.html.  We probably should have kept backward compatibility for people like you, which we will try to do in the future.  I do like a single

[2020-11-10 19:59] andyrich commented on #1015
I don't think that landlab would be directly useful in solving that problem.

[2020-11-10 20:00] ebake310 commented on #1016
So to make sure I am understanding, you manually used shapely to create the polygons and then ran that through the intersect function, rather than importing a shapefile?

recharge_zone_1 = Polygon(shell=[(0, 0), (3000, 0), (3000, 5500), (1000, 7500), (0, 7500), (0, 0),],)

[2020-11-10 20:07] langevin-usgs commented on #1016
In that particular case, I knew the coordinates of the polygon so I did not have to read them from a shapefile.  So yes, I created the shapely polygon directly.

[2020-11-10 20:40] ebake310 commented on #1016
ixobj = flopy.utils.gridintersect.GridIntersect(gwf_bound.modelgrid, method="vertex", rtree=True)
from shapely.geometry import LineString
line = LineString([(487919.359607, 5.025300e+06), (487525.999461, 5.025038e+06), (487495.147685, 5.024514e+06),(499045.228573, 5.010293e+06)])
rint_Tic = ixobj.intersect(line)

I tried this code but the rec_array is still empty. It seems to be exactly what you d

[2020-11-10 21:35] ebake310 commented on #1016
Thanks, just got it to work!

[2020-11-10 21:35] #1016 closed

[2020-11-11 14:30] emorway-usgs commented on #1015
Hello @andyrich, do you have an example that relies on landlab as you showed in your first post (of this thread) but also generates SFR input?

[2020-11-12 16:10] aleaf opened #1017 "Handling of unconnected reaches in mf6 sfr package"
As of modflow-6 version 6.2, unconnected reaches can be specified in the connectiondata block as just the reach number, with `ncon=0` in the corresponding `packagedata` entry. However when just the reach is specified in the ``connectiondata`` argument to ``ModflowGwfsfr``, the following error results (for an unconnected reach 2):

[code]

Specifying ``[2, None]`` works, but then the sfr input file

[2020-11-12 20:44] andyrich commented on #1015
Sorry, I do not.

[2020-11-13 18:02] spaulins-usgs commented on #1017
@langevin-usgs I can fix this easily by updating gwf-sfr.dfn and making ic optional in connectiondata.  If I propagate this change to the MF6 dfn this will make ic appear as optional in the documentation.  ic is in a sense optional but not truly optional since whether you specify it is dependent on packagedata.  Is marking it as optional in the dfn acceptable?

[2020-11-13 18:09] langevin-usgs commented on #1017
@spaulins-usgs, that sounds reasonable to me as long as you explicitly say in the description for ic that it is only optional (and should actually not be specified) if ncon is specified as zero for the reach in the packagedata block.

[2020-11-17 01:13] javgs-bd opened #1018 "Extend PlotView object support to work with Gridgen object with DISU grids"
[This jupyter example](https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3.3_PlotMapView.ipynb) shows that, in order to use the PlotView object with a DISU Unstructured grid for MF6, the user has to build an UnstructuredGrid discretization object.

The example works by loading external files containing information for the verts and iverts arguments of the UnstructuredGrid obj

[2020-11-17 14:37] langevin-usgs commented on #1018
Hi @javgs-bd, yes something is off here.  The docstrings for the UnstructuredGrid object mentions cell2d, but as you noticed, it doesn't accept cell2d as an argument.  However, the UnstructuredGrid `__init__` constructor does accept vertices and iverts.  iverts is a list of size nodes.  And in this list are lists of vertex numbers for each cell.  You can get verts and iverts directly from the flop

[2020-11-17 17:27] javgs-bd commented on #1018
Many thanks @langevin-usgs, all this is really good information.
I had missed the `get_verts_iverts()` method from the flopy gridgen module. That worked straight away to get the vert and ivert lists. I also had the gwf object of my MF6 simulation, so, I was able to try both suggestions.
Howerver, I keep getting the same error for either of them, and I guess it comes down to the fact that (if I und

[2020-11-17 17:40] langevin-usgs commented on #1018
Yeah, I've been working on it this morning trying to get a minimal example up and running.  I can get it to work for DISV, when the grid is the same for all layers, but it doesn't look like the UnstructuredGrid modelgrid object is set up to work with many of the other utilities, like plotting, for example.

The following will create an UnstructuredGrid object using the gridgen object (called g bel

[2020-11-17 19:39] javgs-bd commented on #1018
Thank you, and yes, I applied the suggested block of code and I keep getting the same error. I guess it is the variable number of cells per layers then. Will look forward for any update. Thanks again.

[2020-11-19 02:22] nossi1998bb opened #1022 "buggs about compiling SEAWAT"
(I'm Japanese and not good at English)
I use macOS. I wanted to use Flopy and SWI2 so I downloaded Xcode and gfortran. Next, I compiled modflow2005 successfully(typed"python make_..."). But I failed to compile SEAWAT. Terminal says "file not found". Could you please the way SEAWET is successfully downloaded.

[2020-11-19 11:35] arnold-carrasco opened #1023 "rename output files .hds and .cbc"
Hello good, I have created a model in Modflow2005 with vertical and horizontal anisotropy, I am doing stochastic simulation, for which I have generated 100 conductivity maps, now I want to perform the flow simulation, for each conductivity map, saving each result. However, I have a problem where the output files are being overwritten because I cannot figure out how to update their file names.
![Ca

[2020-11-19 13:14] langevin-usgs commented on #1022
You don't need to compile the program.  You can download executables, including SEAWAT, for your Mac here:  https://github.com/MODFLOW-USGS/executables

[2020-11-19 13:14] #1022 closed

[2020-11-22 08:11] manupy-hub opened #1024 "flopy.plot.PlotMapView in USG"
Hi I created a model in USG unstructured with Gridgen.
I wanted to plot in a similar way as I have done in Mf2005 and MF6 but it does not work for USG. Is it implemented?

# USG Model object
mu = flopy.modflow.Modflow(model_ws=modflow_dir, modelname='ModelUSG',
                           version='mfusg', exe_name='mfusg')

m=flopy.plot.PlotMapView(
    model=mu,
    modelgrid=None)

AttributeError

[2020-11-23 12:50] langevin-usgs commented on #1024
Related to #896 and #1018.  Much of the unstructured grid support is not implemented yet, but we're working on it.

[2020-11-25 18:37] RyanConway91 opened #1025 "Is MODLFLOW-USG transport supported?"
I see there is a module for developing the bct package for MODFLOW-USG Transport:

https://modflowpy.github.io/flopydoc/mfbct.html

However, in MODFLOW-USG transport, concentrations are written to the same boundary conditions packages as the flow simulation. There seems to be no functionality or examples for this.

Does flopy support MODFLOW-USG Transport simulations? If so, are there any examples

[2020-11-25 20:23] langevin-usgs commented on #1025
This bct flopy module was developed a while back and has not been maintained and curated with the transport version of MODFLOW-USG.  So unfortunately, you are own your own with this module for now.  We've been doing some work to update the unstructured grid support and plotting, mostly for MODFLOW 6, but we are hoping to find some time to add better support for MODFLOW-USG as well.

[2020-11-25 20:23] #1025 closed

[2020-11-27 17:14] #1018 closed

[2020-11-27 17:23] langevin-usgs commented on #1024
See the gridgen notebook for an example of how to use the new plotting capabilities for MODFLOW-USG.

[2020-11-27 17:23] #1024 closed

[2020-12-03 01:22] #1017 closed

[2020-12-07 19:15] aleaf opened #1028 "mf6: IRCH is repeated for subsequent stress periods in MODFLOW-6 but not in Flopy"
The documentation isn't very clear on this, but from talking to @langevin-usgs, IRCH only needs to be specified once, and then MODFLOW-6 will use that array for subsequent stress periods. However, in Flopy, specifying a single (2D) IRCH array results in a transient2d array that is populated with zeros after the initial stress period. The behavior is the same after loading a model with irch specifi

[2020-12-08 14:58] #1023 closed

[2020-12-09 16:15] spaulins-usgs commented on #1028
If I understand correctly the desired behavior in the example above is for .array to return a transient2d array with dimensions (nper, nrow, ncol) but with all stress periods populated with the same array ([[0,1], [2,3]] repeated for every stress period).  Is that correct?  If so, I could implement a general rule for all transient2d arrays so that any stress period without data is populated with t

[2020-12-10 11:19] TroelsNV opened #1029 "get_destination_pathline_data returns all pathlines traveling through dest_cells"
This is not really a bug, but maybe a clarification is needed in the documentation, or the code should be changed.

In: get_destination_pathline_data function from modpathfile.py, all pathlines are returned that travels through the specific destination cell. The part of the code is copied below.

line 397:  dest_cells = np.array(dest_cells, dtype=raslice.dtype)  # get destination cells
line 398:

[2020-12-10 15:37] aleaf commented on #1028
I would defer to @langevin-usgs. If IRCH can be specified by stress period, then it seems like it should be transient 2d. But then I think the behavior should be "what you see is what you get". If MODFLOW-6 is reusing IRCH for subsequent periods, then IRCH in Flopy should reflect that. Having the zeros in there makes it appear as though MODFLOW is assigning recharge to the top layer for those stre

[2020-12-10 16:04] langevin-usgs commented on #1028
@aleaf, I took your example and ran it, and I'm not sure I see the behavior that you were indicating.  If we write the rcha package from you script above, we get the following recharge input package

[code]

It seems like this is the behavior that you want, right?   IRCH is specified just once, and only for the first period.

I also see that if I try to access rcha.irch.array, then an error is ret

[2020-12-10 17:57] spaulins-usgs commented on #1028
@langevin-usgs I got the same result as @aleaf when I ran his script.  I am not able to reproduce the error you are seeing.  For "rcha.irch.array" I get what @aleaf is describing (see below).  Flopy for MF6 transient array property currently functions similar to how the old flopy for MF2005 Transient2D array property functions, filling in values of an array of size [nper, nrow, ncol] and leaving a